/* gray */
/* gray end */
#virtualclassCont.congrea {
  /*bottom bar*/
  /*poll*/
  /*editor */
  /*whiteboard*/
  /*Session save popup*/ }
#virtualclassCont.congrea #virtualclassDocumentShare.virtualclass.container #newdocsBtnCont,
#virtualclassCont.congrea #videoList #newVideoBtnCont {
  border-bottom: 1px solid #aaa;
  background: #fff; }
#virtualclassCont.congrea #virtualclassOptionsCont:first-child, #virtualclassCont.congrea #virtualclassOptionsCont, #virtualclassCont.congrea .commandToolsWrapper {
  background: -moz-linear-gradient(left, #34404c 0%, #515e69 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #34404c), color-stop(100%, #515e69));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #34404c 0%, #515e69 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #34404c 0%, #515e69 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #34404c 0%, #515e69 100%);
  /* IE10+ */
  background: linear-gradient(to right, #34404c 0%, #515e69 100%);
  /* W3C */ }
#virtualclassCont.congrea #chatWidget .chatBarTab {
  background: #34404c; }
/*#virtualclassCont.congrea #speakerPressonceAnch {*/
/*border-right: 1px solid #5d6b76; }*/
#virtualclassCont.congrea .vmchat_room_bt,
#virtualclassCont.congrea .vmchat_bar_button,
#virtualclassCont.congrea .prechk,
#virtualclassCont.congrea .videoSwitchCont {
  border-right: 1px solid #5d6b76; }
#virtualclassCont.congrea .ui-widget-header {
  background: -moz-linear-gradient(top, #515e69 0%, #34404c 100%) !important;
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #515e69), color-stop(100%, #34404c)) !important;
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #515e69 0%, #34404c 100%) !important;
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #515e69 0%, #34404c 100%) !important;
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #515e69 0%, #34404c 100%) !important;
  /* IE10+ */
  background: linear-gradient(to bottom, #515e69 0%, #34404c 100%) !important;
  /* W3C */ }
#virtualclassCont.congrea #tabs.ui-widget-content {
  box-shadow: 0 0 5px #aaa; }
#virtualclassCont.congrea #navigator,
#virtualclassCont.congrea #layoutQuiz .navbar {
  background: -moz-linear-gradient(top, #34404c 0%, #515e69);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #34404c 0%, #515e69);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #34404c 0%, #515e69);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ }
#virtualclassCont.congrea #layoutPollBody .vcPollCont a span[data-toggle="tooltip"] {
  color: #5d6b76; }
#virtualclassCont.congrea a.vceditor-btn:hover,
#virtualclassCont.congrea .vceditor-dropdown-menu a:hover {
  background-color: #646d76;
  border-color: #555; }
#virtualclassCont.congrea a.vceditor-btn,
#virtualclassCont.congrea a.vceditor-btn:visited,
#virtualclassCont.congrea a.vceditor-btn:active {
  background-color: #28323c;
  border: 1px solid #555;
  color: #fff; }
#virtualclassCont.congrea .vceditor-toolbar {
  background-color: #34404c; }
#virtualclassCont.congrea #virtualclassAppRightPanel #audioWidget {
  background: #34404c none; }
#virtualclassCont.congrea .commandToolsWrapper,
#virtualclassCont.congrea .rv-vanilla-modal-header,
#virtualclassCont.congrea #recordPlay .rv-vanilla-modal-body #downloadPcCont #downloadSessionText {
  border-bottom: 0px solid #aaa; }
#virtualclassCont.congrea .containerWb .commandToolsWrapper .tool a {
  border-right: 1px solid #5d6b76;
  color: #fff; }
#virtualclassCont.congrea .rv-vanilla-modal-header,
#virtualclassCont.congrea #recordPlay .rv-vanilla-modal-body #downloadPcCont #downloadSessionText,
#virtualclassCont.congrea .commandToolsWrapper .tool.active a,
#virtualclassCont.congrea .commandToolsWrapper .tool.active a:hover {
  background: -moz-linear-gradient(top, #515e69 0%, #34404c 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #515e69), color-stop(100%, #34404c));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #515e69 0%, #34404c 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #515e69 0%, #34404c 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #515e69 0%, #34404c 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #515e69 0%, #34404c 100%);
  /* W3C */ }
#virtualclassCont.congrea #virtualclassOptionsCont #virtualclassEditorRichTool:hover,
#virtualclassCont.congrea #virtualclassOptionsCont #virtualclassEditorCodeTool:hover,
#virtualclassCont.congrea #virtualclassOptionsCont #virtualclassVideoTool:hover,
#virtualclassCont.congrea #virtualclassOptionsCont #virtualclassPollTool:hover,
#virtualclassCont.congrea #virtualclassOptionsCont #virtualclassQuizTool:hover,
#virtualclassCont.congrea #virtualclassOptionsCont #virtualclassSharePresentationTool:hover,
#virtualclassCont.congrea #virtualclassOptionsCont #virtualclassDocumentShareTool:hover,
#virtualclassCont.congrea #virtualclassOptionsCont #virtualclassScreenShareTool:hover,
#virtualclassCont.congrea #virtualclassOptionsCont #virtualclassSessionEndTool:hover,
#virtualclassCont.congrea #virtualclassOptionsCont #virtualclassYtsTool:hover,
#virtualclassCont.congrea #virtualclassOptionsCont #virtualclassWhiteboardTool:hover,
#virtualclassCont.congrea .containerWb .commandToolsWrapper .tool a:hover,
#virtualclassCont.congrea #audioTest-box:hover,
#virtualclassCont.congrea #virtualclassAppRightPanel #mainAudioPanel #videSpeedNumber:hover,
#virtualclassCont.congrea #alwaysPress:hover,
#virtualclassCont.congrea .bootstrap .nav > li > a:hover, #virtualclassCont.congrea .bootstrap .nav > li > a:focus {
  background: -moz-radial-gradient(center, ellipse cover, #8d98a4 0%, #646d76 100%);
  /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #8d98a4), color-stop(100%, #646d76));
  /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, #8d98a4 0%, #646d76 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, #8d98a4 0%, #646d76 100%);
  /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, #8d98a4 0%, #646d76 100%);
  /* IE10+ */
  background: radial-gradient(ellipse at center, #8d98a4 0%, #646d76 100%);
  /* W3C */ }
#virtualclassCont.congrea #confirm.popupWindow #confirmOk #confirmOkButton,
#virtualclassCont.congrea #confirmCancelButton,
#virtualclassCont.congrea #playControllerCont #replayFromStart .icon-Replayfromstart,
#virtualclassCont.congrea #popupContainer #replayContainer #replayButton,
#virtualclassCont.congrea #playButton {
  background-color: #34404c;
  color: #fff; }
#virtualclassCont.congrea #confirm #confirmOk #confirmOkButton:hover,
#virtualclassCont.congrea #playButton:hover,
#virtualclassCont.congrea #playControllerCont #replayFromStart .icon-Replayfromstart:hover {
  background-color: #515e69 !important; }
#virtualclassCont.congrea #confirmCancel #confirmCancelButton {
  background-color: #34404c;
  color: #fff; }
#virtualclassCont.congrea #confirmCancel #confirmCancelButton:hover {
  background-color: #515e69 !important; }
#virtualclassCont.congrea #virtualclassOptionsCont,
#virtualclassCont.congrea .tooltip,
#virtualclassCont.congrea #t_reclaim .icon-educator:before,
#virtualclassCont.congrea .ui-dialog-header span,
#virtualclassCont.congrea #chatroom_bt2 .inner_bt,
#virtualclassCont.congrea #speakerPressing .icon-speakerPressing:before,
#virtualclassCont.congrea #virtualclassOptionsCont .appOptions a span:before,
#virtualclassCont.congrea #virtualclassOptionsCont .appOptions a span:before,
#virtualclassCont.congrea #stickybar,
#virtualclassCont.congrea .vchead, #virtualclassCont.congrea .bootstrap .pollNavBar > li > a,
#virtualclassCont.congrea .bootstrap a, #virtualclassCont.congrea .bootstrap a:hover {
  color: #fff; }
#virtualclassCont.congrea #virtualclassOptionsCont .appOptions {
  border: 1px solid #5d6b76; }
#virtualclassCont.congrea #alwaysPress .audioTool.active,
#virtualclassCont.congrea #virtualclassOptionsCont .appOptions.active,
#virtualclassCont.congrea #virtualclassOptionsCont #virtualclassSessionEndTool.active:hover,
#virtualclassCont.congrea #audioTest-box .audioTool.audioIsTesting {
  background: -moz-radial-gradient(center, ellipse cover, #323e49 0%, #28323c 100%);
  /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #323e49), color-stop(100%, #28323c));
  /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, #323e49 0%, #28323c 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, #323e49 0%, #28323c 100%);
  /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, #323e49 0%, #28323c 100%);
  /* IE10+ */
  background: radial-gradient(ellipse at center, #323e49 0%, #28323c 100%);
  /* W3C */ }


/*# sourceMappingURL=gray.css.map */