#main {
    width:1000px;
    margin:0 auto;
}

.button {
    color:#3CB3E7;
    font-family:Raleway,Helvetica,sans-serif;
    border-radius:4px;
    border:1px solid #3CB3E7;
    background:0 0;
    font-size:14px;
    cursor:pointer;
    padding:15px 25px;
}

.button:hover {
    color:#fff;
    background:#3CB3E7;
}

.center-button-wrapper {
    text-align:center;
    padding:50px 0;
}

#progressBarContainer {
    min-height:240px;
}

.rv-vanilla-modal {
    position:absolute;
    top:-100%;
    left:58%;
    width:30%;
    min-height:240px;
    background:#fff;
    z-index:10;
    -webkit-transition:.3s all ease-out;
    transition:.3s all ease-out;
    border-radius:4px;
    -webkit-box-shadow:0 0 6px 0 rgba(0,0,0,.3);
    box-shadow:0 0 6px 0 rgba(0,0,0,.3);
    margin:-300px 0 0 -22.5%;
}

.rv-vanilla-modal-is-open {
    top:55%;
}

.rv-vanilla-modal-overlay {
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background:rgba(0,0,0,.5);
    opacity:0;
    display:none;
    -webkit-transition:.4s opacity linear;
    transition:.4s opacity linear;
}

.rv-vanilla-modal-overlay.is-shown {
    opacity:1;
    display:block;
}

/*.rv-vanilla-modal-header {
    background:#d4d4d4;
    border-radius:4px 4px 0 0;
    padding:20px;
}*/

.rv-vanilla-modal-body {
    overflow:auto;
    color:#555;
    padding:25px 20px 20px;
}

.rv-vanilla-modal-body p {
    line-height:150%;
    margin:0 0 1em;
}

.rv-vanilla-modal-title {
/*    color:#000000;
    font-size:18px;
    font-weight:300;
    margin:0;*/
    
    color: #414C46;
    font-size: 18px;
    font-weight: 300;
    margin: 0;
    margin-top: 13px;
    margin-left: 4%;
    letter-spacing : 0.01em;
}



/*.rv-vanilla-modal-close {
color:#1a9dd6;
font-size:16px;
float:right;
display:inline-block;
width:26px;
height:26px;
line-height:26px;
text-align:center;
border-radius:50%;
border:0;
cursor:pointer;
background:rgba(255,255,255,.4);
-webkit-transition:all .2s linear;
transition:all .2s linear;
}*/

.rv-vanilla-modal-close .text {
    position:relative;
    top:-1px;
}

.rv-vanilla-modal-close:hover {
    color:#1996cd;
    background:rgba(255,255,255,.5);
}

.hidden {
    display:none!important;
    visibility:hidden;
}

.group:after,.group:before {
    content:"";
    display:table;
}

.group:after {
    clear:both;
}

.centered {
    text-align:center;
}

#vAppCont .rv-vanilla-modal-header{
    border-radius:4px 4px 0 0;
    
}


#progress, #indProgress, #downloadProgress{
    width:100%;
    height:15px;
    border:1px solid #000;
    overflow:hidden;
}

.progressBar{
    width:0;
    height:15px;
    border-right: 1px solid #000000;
    background: #46D65D;

}
.progressValue {
    color: #000000;
    font-size: 15px;
    font-style: italic;
    font-weight: bold;
    left: 25px;
    position: relative;
    top: -16px;
}

#indProgressBar {
    background: #9BEBA8;
}

#waitMsg {
    width : 300px;
    margin-top: 32px;
    margin-left: 22px;
}

.rv-vanilla-modal-body {
    width : 400px;
}

#playProgress {
    width : 300px;
    height:7px;
    border:1px solid #B6B4B4;
    overflow:hidden;
    background : #E9E6E4;
    margin-top : 10px;
    margin-bottom : 4px;
}

#repTimeCont {
    display : inline;
    font-size : 12px;
    margin-left : 10px;
}