
/* CSS Document */

* {
	margin : 0;
	padding : 0;
}
html, body {
	width : 100%;
	height : 100%;
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
}
a, canvas {
	outline : none;
}
.clear {
	clear : both;
}
body {
	margin : 0;
	padding : 0;
}
#conControler {
	clear : both;
}
#vAppCont {
	height : 100%;
}
#divForReloadMsg {
	border : #8eb9ce solid 1px;
	width : auto;
	float : left;
	background : #ddeef6;
	border-radius : 5px;
	padding : 15px;
	line-height : 120%;
	letter-spacing : 0.3px;
	margin : 15px 0;
}
#serverErrorCont, #divForReloadMsg {
	padding : 10px;
	width : auto;
	float : left;
	margin-left : 35%;
	border-radius : 5px;
	padding : 15px;
	line-height : 120%;
	letter-spacing : 0.3px;
	width : auto;
	font-size : 12px;
}
#vAppOptionsCont {
	width : 55px;
	float : left;
}

#vAppOptionsCont:first-child, #vAppOptionsCont {
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #e9e9e9 90%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(90%,#e9e9e9)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#e9e9e9 90%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#e9e9e9 90%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#e9e9e9 90%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#e9e9e9 90%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e9e9e9',GradientType=0 ); /* IE6-9 */
	position : absolute;
	top : 120px;
	border : #e2e2e2 solid 5px;
	border-left: 0px;
	border-bottom-right-radius : 10px;
	border-top-right-radius : 10px;
	z-index : 10;
}



#vAppOptionsCont .appOptions a img{
	padding: 12px;
	opacity: 0.7;
}
#vAppOptionsCont .appOptions a img:hover{opacity: inherit; -o-transition:inherit !important; -moz-transition: inherit !important; -webkit-transition: inherit !important;}


#vAppOptionsCont .appOptions.active a img{
	opacity: inherit;
}

#vAppOptionsCont .appOptions a img:hover{
    -webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}

#vAppOptionsCont .appOptions:hover{
	border-top-right-radius: 0px;
}

#vAppOptionsCont #vAppScreenShareTool{
	border-top:none;
	border-bottom: none;
}
#vAppOptionsCont .appOptions{
	border:#a7a7a7 1px solid;
	border-left: none;
}
#vAppOptionsCont #vAppWhiteboardTool.appOptions{
	border-top-right-radius: 5px;
	
}

#vAppOptionsCont #vAppSessionEndTool{
	border-bottom-right-radius: 5px;
}


#vAppOptionsCont {
	clear : both;
}
#vAppWhiteboardCont {
	height : 100%;
	width : 100%;
}
#vAppWhiteboard, #vAppCont {
	float : left;
}
#vcanvas {
	float : left;
	border : #ccc solid 1px;
}
#vAppCont.student #videoContainer {
	top : -237px;
}
#videoMinMize, #videoMaxMize {
	position : absolute;
}
#vAppCont.student #videoMinMize, #videoMinMize {
	background-image : url('../images/min.png') !important;
	background-position : left top;
	background-repeat : no-repeat;
}
#vAppCont.student #videoMaxMize, #videoMaxMize {
	background-image : url('../images/max.png') !important;
	background-position : left top;
	background-repeat : no-repeat;
}
#vAppCont.student #videos #videoMinMize, #vAppCont.student #videos #videoMaxMize {
	height : 16px;
	position : absolute;
	top : 2px;
	width : 16px;
	right : -1px;
}
#vAppCont.student #videos #videoMinMize, #videoMinMize {
	border-left : none;
	border-bottom : none;
	height : 16px;
	position : absolute;
	right : -1px;
	width : 16px;
}
#vAppCont.student #videos #videoMaxMize, #videoMaxMize {
	border-left : 1px solid #CCCCCC;
	border-top : 1px solid #ccc;
	border-right : none;
	height : 16px;
	right : 0;
	top : -33px;
	width : 16px;
}
#vAppCont.student #videos {
	border-bottom : 1px solid #ccc;
}
#vAppCont.student #informationCont {
	display : none;
}

/* Tool bar Css */

#containerWb {
	border-bottom: #e1e1e1 5px solid;
	margin : 0;
	padding : 0;
}

#containerWb #commandToolsWrapper .tool .tooltip:hover:after {
	bottom : -2em;
	padding : 0.6em 1em;
}

#vAppCont.student #containerWb {
	background-image : url('../images/nav_bg.png') !important;
}



#commandToolsWrapper #t_line a img[title]:hover:after {
	content : attr(title);
	padding : 4px 8px;
	color : #333;
	position : absolute;
	left : 0;
	top : 100%;
	white-space : nowrap;
	border-radius : 5px;
	box-shadow : 0 0 4px #222;
}
#commandToolsWrapper {
	padding-bottom : 0;
	border-bottom : 1px solid #aaa;
	padding-left : 1%;
	height : 53px;
	box-shadow : 0 0 5px #aaa;
}



#commandToolsWrapper #t_assign.controlCmd a {
	background-image : none;
	padding-right : 15px;
}
.teacher #commandToolsWrapper #t_assign.controlCmd a, #commandToolsWrapper #t_connectionoff a, .con.controlCmd, .controlCmd.coff {
	background-image : url(../images/border-img.png);
	background-position : left center;
	background-repeat : no-repeat;
}
#commandToolsWrapper, #dataInfoHeading {
	padding-left : 1%;
	width : 99%;
}


#commandToolsWrapper #t_line a, #commandToolsWrapper #t_freeDrawing a, #commandToolsWrapper #t_oval a, #commandToolsWrapper #t_triangle a, #commandToolsWrapper #t_text a, #commandToolsWrapper #t_replay a, #commandToolsWrapper #t_activeall a, #commandToolsWrapper #t_clearall a, #commandToolsWrapper #t_connectionoff a, #commandToolsWrapper #t_assign a{
	background-image : url(../images/border-img.png);
	background-position : left center;
	background-repeat : no-repeat;
}

#commandToolsWrapper #t_line a img, #commandToolsWrapper #t_rectangle a img, #commandToolsWrapper #t_freeDrawing a img, #commandToolsWrapper #t_oval a img, #commandToolsWrapper #t_triangle a img, #commandToolsWrapper #t_text a img, #commandToolsWrapper #t_replay a img, #commandToolsWrapper #t_activeall a img, #commandToolsWrapper #t_clearall a img, #commandToolsWrapper #t_connectionoff a img, #commandToolsWrapper #t_assign a img {
	opacity: 0.8;
}
#commandToolsWrapper #t_line a img:hover, #commandToolsWrapper #t_rectangle a img:hover, #commandToolsWrapper #t_freeDrawing a img:hover, #commandToolsWrapper #t_oval a img:hover, #commandToolsWrapper #t_triangle a img:hover, #commandToolsWrapper #t_text a img:hover, #commandToolsWrapper #t_replay a img:hover, #commandToolsWrapper #t_activeall a img:hover, #commandToolsWrapper #t_clearall a img:hover, #commandToolsWrapper #t_connectionoff a img:hover, #commandToolsWrapper #t_assign a img:hover {
	opacity: inherit !important;
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
	opacity: inherit !important;
}


#commandToolsWrapper #t_line.active a img, #commandToolsWrapper #t_rectangle.active a img, #commandToolsWrapper #t_freeDrawing.active a img, #commandToolsWrapper #t_oval.active a img, #commandToolsWrapper #t_triangle.active a img, #commandToolsWrapper #t_text.active a img, #commandToolsWrapper #t_replay.active a img, #commandToolsWrapper #t_activeall.active a img, #commandToolsWrapper #t_clearall.active a img, #commandToolsWrapper #t_connectionoff.active a img, #commandToolsWrapper #t_assign.active a img {
	opacity:inherit;
}


#canvasWrapper {
	float : left;
	margin : 0;
	padding : 0;
	margin-top : 0;
}
#canvasWrapper #canvas {
	outline : none;
}
#commandToolsWrapper a {
	float : left;
}

#commandToolsWrapper a img{
	padding : 13px 20px;
}

#canvasWrapper #canvas {
	outline : none;
}
#canvasWrapper {
	float : left;
	margin : 0;
	padding : 0;
	margin-top : 0;
}
#canvasWrapper #canvas {
	outline : none;
}
#canvasDrawMsgContFirefox {
	left : 510px;
	position : absolute;
	z-index : 100;
}
.msgBoxCanvasimg {
	clear : both;
}
#canvasDrawMsgContFirefox {
	left : 510px;
	position : absolute;
	z-index : 100;
}
#canvasWrapper {
	float : left;
	margin : 0;
	padding : 0;
	margin-top : 0;
}
#canvas {
	border : black solid 1px;
	display : block;
	border : none;
}
.numbers {
	float : right;
}
#sentMsgInfo {
	border : #ccc solid 1px;
	margin-top : 10px;
	margin-bottom : 10px;
	margin-right : 10px;
	padding : 5px;
	min-height : 62px;
	text-align : left;
}
#rcvdMsgInfo {
	margin-top : 10px;
	border : #ccc solid 1px;
	margin-right : 10px;
	padding : 5px;
	min-height : 62px;
	text-align : left;
}
#videos {
	width : 930px;
	margin-top : 20px;
	padding : 15px;
	clear : both;
}
#localVideo {
	border : #CCCCCC solid 1px;
	width : 30%;
}
#remoteVideo {
	border : #CCCCCC solid 1px;
	width : 100%;
}
#remoteVideo2 {
	border : green solid 3px;
	width : 30%;
}
#chat_div .ui-memblist-usr:after {
	content : ".";
	display : block;
	height : 0;
	clear : both;
	visibility : hidden;
}
#chat_div .ui-memblist-usr.teacher {
	padding-top : 0;
	background-color : #f1f1f1;
	border-top: 1px solid #d5d5d5;
	border-bottom: 1px solid #d5d5d5;
	padding-left : 5px;
}
div.ui-memblist-usr video {
	width : 60px;
	height : 50px;
	margin : 0;
	outline : 1px solid #5A5757;
	margin-left : 2px;
}
div.ui-memblist-usr .userVideos {
	width : 60px;
	height : 45px;
	margin : 3px 0 0 2px;
	outline : 1px solid #5A5757;
}
#graphCanvas {
	top : -5px !important;
}
div.ui-memblist-usr video, div.ui-memblist-usr .userVideos {
	margin-top : 6px;
}
#chat_div .ui-memblist-usr:first-child {
	margin-top : 0;
}
div.ui-memblist-usr video, div.ui-memblist-usr .userVideos {
	border : #eee solid 3px;
	box-shadow : 0 0 1px #333;
	border-radius : 5px;
	outline : none;
	margin-bottom : 5px;
}
#chat_div .ui-memblist-usr span {
	top : 7px;
	text-transform : uppercase;
	font-weight : bold;
	position : relative;
}
#chat_div.ui-memblist-log {
	height : auto !important;
}
.msgBoxWebRtc p, .msgBoxCanvas p {
	position : relative;
	background : #ffffff;
	border : #ccc solid 1px;
}
.msgBoxWebRtc p:after, .msgBoxCanvas p:after, .msgBoxWebRtc p:before, .msgBoxCanvas p:before {
	bottom : 100%;
	left : 24%;
	border : transparent solid;
	content : " ";
	height : 0;
	width : 0;
	position : absolute;
}
.msgBoxWebRtc p:after, .msgBoxCanvas p:after {
	border-color : rgba(255, 255, 255, 0);
	border-bottom-color : #ffffff;
	border-width : 11px;
	margin-left : -10px;
}
.msgBoxWebRtc p:before, .msgBoxCanvas p:before {
	border-color : rgba(170, 170, 170, 0);
	border-bottom-color : #aaaaaa;
	border-width : 12px;
	margin-left : -11px;
}
#chormeWebrtcCont p:after, #chormeWebrtcCont p:before {
	left : 93%;
}
.msgBoxWebRtc {
	width : 350px;
}
.msgBoxWebRtc p, .msgBoxCanvas p {
	border : #ddd solid 2px;
	padding : 5px;
}
.msgBoxCanvas p {
	margin-top : 25px;
}
#chormeWebrtcCont {
	position : absolute;
	right : 2%;
	top : 0%;
}
#chormeWebrtcContimg {
	height : 15px;
}
#chormeWebrtcCont p {
	padding : 12px;
	z-index : 10000;
}
#fireFoxWebrtcCont {
	position : absolute;
	left : 160px;
	top : 235px;
	z-index : 100;
}
.msgBoxCanvas {
	width : 350px;
}
.msgBoxCanvasimg {
	clear : both;
}
#canvasDrawMsgContFirefox {
	left : 510px;
	position : absolute;
	z-index : 100;
}
#canvasDrawMsgContChrome {
	position : absolute;
	left : 270px;
}
#canvasDrawArea {
	clear : both;
	position : relative;
	left : 40%;
	bottom : 400px;
	font-size : 50px;
	color : #ddd;
}
#canvasDrawArea p {
	color : rgb(197, 161, 161);
}
a[title]:hover:after {
	content : attr(title);
	padding : 4px 8px;
	color : rgba(0, 0, 0, 0.5);
	position : absolute;
	left : 0;
	top : 100%;
	white-space : nowrap;
	z-index : 2;
	border-radius : 5px;
	background : rgba(0, 0, 0, 0.5);
}
.error {
	border : #ddd solid 2px;
	width : 50%;
	padding : 10px;
	margin-left : 10%;
	margin-top : 2%;
}
#commandToolsWrapper #t_line a img[title]:hover:after {
	content : attr(title);
	padding : 4px 8px;
	color : #333;
	position : absolute;
	left : 0;
	top : 100%;
	white-space : nowrap;
	border-radius : 5px;
	box-shadow : 0 0 4px #222;
}
#vcanvas {
	float : left;
	border : #ccc solid 1px;
}
#commandToolsWrapper {
background: #f0f9ff; /* Old browsers */
background: -moz-linear-gradient(top, #f0f9ff 0%, #fbfbfb 0%, #d4d4d4 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0f9ff), color-stop(0%,#fbfbfb), color-stop(100%,#d4d4d4)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #f0f9ff 0%,#fbfbfb 0%,#d4d4d4 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #f0f9ff 0%,#fbfbfb 0%,#d4d4d4 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #f0f9ff 0%,#fbfbfb 0%,#d4d4d4 100%); /* IE10+ */
background: linear-gradient(to bottom, #f0f9ff 0%,#fbfbfb 0%,#d4d4d4 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f9ff', endColorstr='#d4d4d4',GradientType=0 ); /* IE6-9 */

	padding-bottom : 0;
	border-bottom : 1px solid #aaa;
	padding-left : 1%;
	height : 50px;
	box-shadow : 0 0 5px #aaa;
}

#commandToolsWrapper #t_assign.controlCmd a {
	background-image : none;
	padding-right : 15px;
}
.teacher #commandToolsWrapper #t_assign.controlCmd a, #commandToolsWrapper #t_connectionoff a, .con.controlCmd, .controlCmd.coff {
	background-image : url(../images/border-img.png);
	background-position : left center;
	background-repeat : no-repeat;
}
#commandToolsWrapper #t_connectionoff a, #commandToolsWrapper #t_connectionon a {
	padding-top : 5px;
}
#commandToolsWrapper #t_assign a {
	padding-top : 2px;
}
#canvasWrapper #canvas {
	outline : none;
}
#informationCont h4 {
	margin-top : 5px;
}
#videos {
	margin : 0;
	padding : 0;
}
#videos #remoteVideo {
	margin-top : 10px;
	margin-left : 25px;
	margin-bottom : 5px;
	height : 180px;
}
#videos #localVideo {
	margin-left : 198px;
	margin-top : 8px;
	height : 180px;
	margin-bottom : 5px;
	padding : 2px;
}
.selfClear:after {
	content : ".";
	display : block;
	height : 0;
	clear : both;
	visibility : hidden;
}
.selfClear {
	display : inline-block;
}
.msgBoxWebRtc p, .msgBoxCanvas p {
	background-color : #fff !important;
	box-shadow : 0 0 6px rgba(0, 0, 0, 0.2) !important;
	border : #ccc solid 1px !important;
	font-size : 12px;
	padding : 15px;
	border-radius : 5px;
	font-weight : 500;
}
.tooltip {
	display : inline;
	position : relative;
	font-size: 14px;
	z-index: 100;
}

#usertab_text.tooltip {
	display : block;
}

.tooltip:hover {

	text-decoration : none;
}
.tooltip:hover:after {
	background : #fff;
	border : #ccc solid 1px;
	border-radius : 0.3em;
	bottom : 3em;
	color : #fff;
	content : attr(data-title);
	display : block;
	left : 2em;
	padding : 0.3em 1em;
	position : absolute;
	white-space : nowrap;
	z-index : 100;
	color : #000;
	box-shadow : 0 1px 2px rgba(0, 0, 0, 0.2);
	font-size : 12px;
	font-weight: normal !important;
}
#audioWidget .Tool .tooltip:hover:after, #audioWidget .audioTool .tooltip:hover:after {
	right : 50px;
	left : auto;
	bottom : -0.7em;
}
#vAppOptionsCont .appOptions .tooltip:hover:after {
	padding : 0.7em 1em;
	right : auto;
	left : 50px;
	bottom : 1em;
}






#virtualWindow {
	border : #ED6B83 dashed 1px;
	border-left : none;
	position : absolute;
}
#packetContainer {
	width : 50%;
	float : left;
	box-sizing : border-box;
}
#packetContainer #dataInformation, #packetContainer #sendPackCont, #packetContainer #receivePackCont {
	float : left;
	width : 32%;
	border : #ccc solid 1px;
	margin-top : 15px;
	margin-bottom : 15px;
}
#packetContainer #dataInformation, #packetContainer #sendPackCont {
	border-right : none;
}
#sentPacketsLabel, #sendPackPsCont, #totSendPackCont, #receivedPacketsLabel, #receivePackPsCont, #totReceivedPackCont, #blankDiv, #perSecData, #totalDataLabel {
	padding : 7px;
}
#receivedPacketsLabel, #receivePackPsCont, #sentPacketsLabel, #sentPacketsLabel, #sendPackPsCont, #blankDiv, #perSecData {
	border-bottom : 1px solid #ccc;
	color : #595A5D;
}
#errorWebSocket, #errorWebRtc, #errorCanvas, #errorPeerConnect {
	background-color : #F2DEDE;
	border-color : #FDB9C3;
	color : #B94A48;
	font-size : 14px;
	border-radius : 5px;
	border-width : 1px;
}
#errorWebSocketPara a, #errorWebRtcPara a, #errorCanvasPara a {
	color : #B94A48;
	font-weight : 600;
	font-size : 13px;
	text-decoration : none;
}
#sentPacketsLabel span, #receivedPacketsLabel span {
	margin-left : 15px;
}
#totalDataLabel, #sentPacket, #informationCont {
	color : #595A5D;
}
#informationCont #sentMsgInfoContainer {
	width : 50%;
	float : left;
	text-align : center;
}
#informationCont #receivedMsgInfoContainer {
	width : 50%;
	float : left;
	text-align : center;
}
#dataInformation {
	margin-left : 10px;
}
#topContainer {
	height : 200px;
}
#leftContainer {
	width : 200px;
	float : left;
}
#packetContainer, #informationCont {
	font-size : 13px;
}
#informationCont {
	float : left;
	width : 50%;
}
#dataInfoHeading {
	width : 915px;
	text-align : center;
}
#informationCont {
	margin-top : 11px;
}

#t_assign.controlCmd a {
	padding-left : 0;
	padding-right : 0;
}
#t_assign.controlCmd a {
	padding-left : 12px;
	padding-right : 14px;
}
#vcanvas {
	margin-left : 0;
}
#commandToolsWrapper, #dataInfoHeading {
	padding-left : 1%;
	width : 99%;
}
#videos {
	width : auto;
	position : relative;
}
#videos #localVideo {
	height : auto;
	margin : 0;
	position : absolute;
	right : 3px;
	margin-top : 48%;
	width : 35%;
	z-index : 100;
}
#videos #remoteVideo {
	margin-left : 0;
	margin-top : 0;
	right : -9px;
	padding : 2px;
}
#videos {
	position : relative;
	top : 0;
}
#videos #remoteVideo {
	height : auto;
	position : absolute;
	min-height : auto;
}
#remoteVideo {
	width : 100%;
}
#vAppCont.student #videos {
	top : 16px;
}
.dynDiv_resizeDiv_tl {
	padding-bottom : 5px;
	padding-right : 5px;
}
#vAppCont.student #videoMinMize, #videoMinMize {
	height : 16px;
	right : 2px;
	width : 16px;
	z-index : 100;
}
.dynDiv_resizeDiv_tl, .dynDiv_resizeDiv_tr, .dynDiv_resizeDiv_bl, .dynDiv_resizeDiv_br {
	background-color : #fff !important;
	background-image : url('../images/resize.png') !important;
	background-position : left top;
	background-repeat : no-repeat;
	width : 10px;
	height : 10px;
	background : #faa;
	border : #000 solid 1px;
	position : absolute;
}
.dynDiv_resizeDiv_tl {
	border : none medium;
	left : 6px;
	top : 3px;
	z-index : 100;
}
#videoContainer {
	background : transparent;
	width : 285px;
	height : 220px;
	position : absolute;
	right : 0;
	bottom : 0;
	overflow : hidden;
}
#videoMinMize, #videoMaxMize {
	position : absolute;
}
#vAppCont.student #videoContainer {
	top : -237px;
}
#videoMinMize, #videoMaxMize {
	position : absolute;
}
#vAppCont.student #videoMinMize, #videoMinMize {
	background-image : url('../images/min.png') !important;
	background-position : left top;
	background-repeat : no-repeat;
}
#vAppCont.student #videoMaxMize, #videoMaxMize {
	background-image : url('../images/max.png') !important;
	background-position : left top;
	background-repeat : no-repeat;
}
#vAppCont.student #videos #videoMinMize, #vAppCont.student #videos #videoMaxMize {
	height : 16px;
	position : absolute;
	top : 2px;
	width : 16px;
	right : -1px;
}
#vAppCont.student #videos #videoMinMize, #videoMinMize {
	border-left : none;
	border-bottom : none;
	height : 16px;
	position : absolute;
	right : -1px;
	width : 16px;
}
#vAppCont.student #videos #videoMaxMize, #videoMaxMize {
	border-left : 1px solid #CCCCCC;
	border-top : 1px solid #ccc;
	border-right : none;
	height : 16px;
	right : 0;
	top : -33px;
	width : 16px;
}
.teacher #videoMaxMize {
	top : -17px;
}
.controlCmd {
	float : right;
}
#videoContainer {
	bottom : 45px;
}
.controlCmd.coff, .con.controlCmd {
	padding-left : 20px;
}
.con.controlCmd a {
	border : #79aa26 solid 1px;
	padding-left : 4px !important;
	padding-right : 4px !important;
	border-radius : 2px;
}
.con {
	margin-right : 20px;
	float : right;
}
.controlCmd.coff {
	margin-right : 10px;
}
#serverErrorCont {
	border : #9E1333 solid 1px;
	background : #F2DFE3;
}
#vAppWhiteboardCont {
	height : 100%;
	width : 100%;
}
#widgetRightSide {
	float : left;
	width : 260px;
	border : #ccc solid 1px;
	border-left : none;
}
.userVideo {
	width : 75px;
	height : 56px;
}
#tempVideo {
	display : none;
}
video, canvas, #allVideosCont {
	float : left;
}
video, canvas {
	margin : 3px;
	margin-bottom : 2px;
}
.videoWrapper {
	z-index : 50;
	position : relative;
	clear : both;
}
.videoSubWrapper {
	z-index : 1000;
}
.videoSubWrapper[data-uname]:hover:after {
	content : attr(data-uname);
	padding : 2px 5px 2px 5px;
	color : rgba(48, 39, 2, 1);
	position : absolute;
	margin-left : -40px;
	top : 60%;
	white-space : nowrap;
	border-radius : 15px;
	background : rgba(240, 245, 240, 0.6);
	font-size : 80%;
}
#allVideosCont {
	position : relative;
}
#commonChatBoard {
	clear : both;
	width : 100%;
	height : 92%;
}
#textInputBox {
	width : 100%;
	height : 5%;
	padding : 5px 3px 5px 3px;
	resize : none;
	border : #ccc solid 1px;
	border-radius : 3px;
}
.userName {
	font-weight : bold;
}
#chatBox {
	font-size : 80%;
	border-top : 1px solid #ccc;
}
#chatBox .userMsg {
	letter-spacing : 0.03em;
	word-break : break-all;
	white-space : pre-wrap;
	word-break : break-all;
	overflow-wrap : break-word;
}
#chatBox {
	padding : 5px;
}
#chatBox #commonChatBoard {
	overflow-y : auto;
}
#chatContainer {
	width : 100%;
	margin-top : 10px;
	clear : both;
	margin-top : 5px;
}
#mainContainer {
	clear : both;
}


#vAppScreenShare, #vAppWholeScreenShare {
	float : left;
	border : #ccc solid 1px;
	height : 100%;
}
.vmApp {
	border-right : none;
}
.Local {
	margin : 4px 7px 0 7px;
}
#vAppScreenShareLocalTempVideo, #vAppwholescreenShareLocalTempVideo {
	display : none;
}
#commonChatBoardLabel {
	position : relative;
	width : 140px;
	color : #ccc;
	font-size : 24px;
	opacity : 0.800000011920928955078125;
	left : 50px;
	top : -55%;
}
#commonChatBoardLabel #firstWord {
	margin-left : 8%;
	font-size : 20px;
}
::-webkit-input-placeholder, :-moz-placeholder {
opacity : 0.800000011920928955078125 !important;
}
#textInputBox {
	padding-top : 11px;
	padding-left : 8px;
}
#toggleContainer {
	font-weight : bold;
	color : #686464;
	width : 7px;
	border : #ccc solid 1px;
	padding-left : 4px;
	padding-right : 4px;
	cursor : pointer;
}
#toggleContainer.display {
	position : relative;
	top : 25px;
	left : 10px;
}
#toggleContainer.hide {
	margin-left : 4px;
	padding-right : 6px;
}
#vAppWhiteboard, #vAppCont {
	float : left;
}
canvas {
	padding : 0;
	margin : 0;
}
#vAppOptionsCont {
	clear : both;
}
#commonChatBoard span {
	line-height : 125%;
}
#chat_div .ui-memblist-usr {
	margin-top : 3px;
	margin-bottom : 3px;
}
div.ui-memblist-usr video {
	width : 60px;
	height : 50px;
	margin : 0;
	outline : 1px solid #5A5757;
	margin-left : 2px;
}
div.ui-memblist-usr .userVideos {
	width : 60px;
	height : 45px;
	margin : 3px 0 0 2px;
	outline : 1px solid #5A5757;
}
#graphCanvas {
	top : -5px !important;
}
div.ui-memblist-usr video, div.ui-memblist-usr .userVideos {
	margin-top : 5px;
}
#chat_div {
	padding-bottom : 5px;
	min-height : 150px;
}
#chatWidget {
	clear : both;
}
#audioWidget {
	background: #fbfbfb; /* Old browsers */
	background: -moz-linear-gradient(left, #fbfbfb 0%, #d4d4d4 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#fbfbfb), color-stop(100%,#d4d4d4)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, #fbfbfb 0%,#d4d4d4 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, #fbfbfb 0%,#d4d4d4 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, #fbfbfb 0%,#d4d4d4 100%); /* IE10+ */
	background: linear-gradient(to right, #fbfbfb 0%,#d4d4d4 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfbfb', endColorstr='#d4d4d4',GradientType=1 ); /* IE6-9 */
	border : #e2e2e2 solid 5px;
	border-radius : 10px;
	position : absolute;
	cursor : pointer;
	float : right;
	height : auto;
	right : 10px;
	top : 100px;
	border-radius: 10px;

}
#audioWidget.fixed {
	position: fixed;
}
#audioWidget .Tool .tooltip img {
	border : green solid 1px;
	padding : 2px;
	padding-right : 0;
	border-radius : 5px;
	margin-left : -4px;
}
#audioWidget #speakerPressOnce .speakerPressonceAnch img {
	margin-bottom : 10px;
}
#audioWidget #speakerPressOnce .speakerPressonceAnch a img {
	margin-left : -2px;
}
.student #vcanvas {
	border-top-width : 5px;
	border-top-color : #aaa;
}
#speakerStudent #speakerPressing a:hover img {
	opacity : 0.5;
}

#closebtn {
	width : 35px;
}
#vAppOptionsCont {
	top : 200px;
}
.ui-dialog-header span:first-child {
	background : url('../images/user.png') 6% center no-repeat;
	font-size : 14px;
	padding-left : 30px;
}
.ui-widget-header .ui-icon {
	background-image : url(images/ui-icons_222222_256x240.png);
}
div.ui-memblist-usr video, div.ui-memblist-usr .userVideos {
	border : #eee solid 3px;
	outline : none;
	margin-bottom : 5px;
}
#chat_div .ui-memblist-usr span {
	text-transform : uppercase;
	font-weight : bold;
}
#chat_div.ui-memblist-log {
	height : auto !important;
}
.vmchat_bar_button .inner_bt #usertab_text, .vmchat_room_bt .inner_bt #chatroom_text {
	font-weight : normal;
}
.vmchat_room_bt .inner_bt #chatroom_text {
	padding-left : 25px;
}
.maximize {
	height : 36px;
}
#stickybar.minimize {
	width : 50px;
}
.ui-icon-closethick {
	background-position : -96px -128px !important;
}
.ui-chatbox {
	width : 231px !important;
	margin-left : -1px;
}
.ui-tabs .ui-tabs-nav li.ui-state-active {
	background-image : none;
	background-color : transparent;
	border-top : 1px solid #aaa !important;
}
#stickycontainer #user_list .inner_bt #usertab_text, .vmchat_room_bt .inner_bt #chatroom_text {
	background : url('../images/arrow-up.png') 75% 43% no-repeat;
}

#stickycontainer #user_list .inner_bt #usertab_text.open, .vmchat_room_bt .inner_bt #chatroom_text.open{
	background : url('../images/arrow-down.png') 75% 43% no-repeat;
}

.ui-corner-all.ui-chatbox-icon .ui-icon-close {
	margin-top : 7px;
	margin-right : 8px;
}
.ui-memblist-usr a img {
	margin-top : 6px;
	float : left;
	background-color : #eee;
	padding : 8px 12px;
	border-radius : 3px;
	border : #ddd solid 1px;
	margin-bottom : 4px;
	margin-left : 2px;
}
#memlist .ui-memblist-content .ui-memblist-log .ui-memblist-usr .controls .controleCont a.tooltip img, .controls a.audEnableSign img {
	background-color: transparent;
	margin-left: 1px;
	margin-right: 0px;
	height: 16px !important;
	width: 16px !important;
	min-height: 0 !important;
	margin-top: 4px;
	float: left;
	padding: 2px 2px;
	border-radius: 3px;
	border: #ddd solid 1px;
	margin-bottom: 4px;
	border: none;
}



#vAppScreenShare, #vAppWholeScreenShare {
	margin-left : 55px;
}
/*.ui-widget-content .controls {
	clear : both;
}*/
.ui-widget-content .controls img {
	margin-left : 3px;
	margin-right : 2px;
	height : 16px !important;
	width : 16px !important;
	min-height : 0 !important;
}
.ui-widget-content .controls {
	width : 165px;
	position : relative;
}
#speakerPressing {
	width: 38px;
	padding-left: 12px;
	padding-right: 12px;
	margin-left: 5px;
	margin-right: 5px;
}
#speakerPressOnce {
	width : 100%;
	height : 100%;
}

#chat_div .controleCont {
	margin-top : 7px;
	float : left;
}
.audioTransmit {
	border : green solid 15px;
	float : left;
	width : 15px;
	height : 15px;
}
.audEnableSign {
	width : 12px;
	height : 12px;
	/*	background-image : url('../images/online.png');*/
	float : left;
	margin-left : 4px;
}
#audioWidget #speakerPressOnce {
	margin-bottom: 5px;
	padding-left: 8px;
	margin-top: 5px;
}
#audioWidget #audioTest #vAppCont.student #audioWidget .audioTool a#speakerPressonceAnch img, #vAppCont.student #audioWidget .audioTool a#speakerPressingAnch img {
	margin-left: -5px;
	padding : 1px;
	padding-left : 2px;
	border : transparent solid 1px;
}
#vAppCont.teacher #audioWidget .active a img, #vAppCont.teacher #audioWidget .deactive a img, #vAppCont.student #audioWidget .audioTool.active a img, #vAppCont.student #audioWidget .audioTool.deactive a img {
	border : #006CA6 solid 1px !important;
	padding : 1px;
	border-radius : 4px;
	padding-right : 0;
	padding-left : 2px;
	margin-left: -3px;
}
#vAppCont.teacher #audioWidget .active a img, #vAppCont.teacher #audioWidget .deactive a img, #vAppCont.student #audioWidget .audioTool.active a img, #vAppCont.student #audioWidget .audioTool.deactive a img {
	border : #41AA45 solid 1px !important;
}
.ui-memblist-usr.student .controls .controleCont img.assignImg.block, .ui-memblist-usr.student .controls .controleCont img.audioImg.block, .ui-memblist-usr.student .controls .controleCont img.chatImg.block {
	opacity : 0.4000000059604644775390625;
	background-color : transparent;
	border : none;
	padding : 0;
	margin-bottom : 0;
}
.controls .controleCont img.audioImg.block {
	margin-bottom : 0;
}
#chat_div .ui-memblist-usr.teacher a span:first-letter {
	color : green !important;
}
.ui-memblist-usr a span {
	margin-left : 10px;
}
/* added by suman */

#vAppScreenShare {
	width : 99%;
}
#vAppCont {
	width : auto;
}
#t_reclaim {
/*    width : 104%;*/
}
/* this should be write above */
.student #vAppScreenShare, .student #vAppWholeScreenShare {
	margin-left : 5px;
}
.teacher #vAppScreenShare, .teacher #vAppWholeScreenShare {
	margin-left : 55px;
}
#vAppScreenShare {
/*    height : auto;*/
}
#vAppCont {
	height : 99%;
}
#commandToolsWrapper .tool.active a img{
	background: #e2e2e2; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover, #e2e2e2 0%, #c9c9c9 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#e2e2e2), color-stop(100%,#c9c9c9)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover, #e2e2e2 0%,#c9c9c9 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover, #e2e2e2 0%,#c9c9c9 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover, #e2e2e2 0%,#c9c9c9 100%); /* IE10+ */
	background: radial-gradient(ellipse at center, #e2e2e2 0%,#c9c9c9 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#c9c9c9',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	box-shadow: 0px 0px 2px 1px #fff inset;
	box-shadow: 0 1px 3px 1px #fff inset;
	border:#a4a4a4 1px solid;
	border-top:none;

}
#commandToolsWrapper .tool.active a img{
	-webkit-transform: scale(1) !important;
	-moz-transform: scale(1) !important;
	-o-transform: scale(1) !important;
	-ms-transform: scale(1) !important;
	transform: scale(1) !important;
}

#commandToolsWrapper #t_rectangle.tool.active a{
	
}
.ui-memblist{
	right: 6px;
}

.controls a.audEnableSign img {
	margin-left: -2px;
}
#chat_div .mySelf, #audioTest.audioIsTesting {
	pointer-events : none !important;
	opacity : 0.6;
}
#page-mod-virtualclass-view #page {
	padding: 0;
}

#usertab_icon {
	margin: 1px 2px 0 0;
}


.ui-widget.disable {
	opacity : 0.4;
}
.ui-widget.enable {
	opacity : 1;
}
/* my css
	
*/


#vAppWhiteboardTool a, #vAppScreenShareTool a, #vAppSessionEndTool a {
	-webkit-animation: bounceInDown 900ms 200ms ease-in-out both;
	text-decoration: none;
	outline-width: 0px;
	z-index: 990;
	color: #a675b3;
	text-align: center;
	line-height: 15px;
	display: block;
}

#vAppWhiteboardTool a img, #vAppScreenShareTool a img, #vAppSessionEndTool a img {
	border:none;
}


#vAppOptionsCont .appOptions.active a img, #vAppScreenShareTool .appOptions.active a img, #vAppSessionEndTool .appOptions.active a img {
	-webkit-box-shadow:inset px undefinedpx 3px 3px #ffffff;
	box-shadow:inset px undefinedpx 3px 3px #ffffff;

}

#alwaysPress .audioTool a {
	text-align: center;
	text-shadow: 3px 3px 10px #FFFAFA;
	font-size: 14px;
}	

#alwaysPress .audioTool.deactive, #audioTest-box .audioTool{
	background: #fefefe; /* Old browsers */
	background: -moz-linear-gradient(top, #fefefe 0%, #dddddd 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(100%,#dddddd)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #fefefe 0%,#dddddd 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #fefefe 0%,#dddddd 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #fefefe 0%,#dddddd 100%); /* IE10+ */
	background: linear-gradient(to bottom, #fefefe 0%,#dddddd 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#dddddd',GradientType=0 ); /* IE6-9 */

	box-shadow: 0px 0px 8px 2px #ddd inset;
	border:#a4a4a4 1px solid;
}


#alwaysPress .audioTool.active, #vAppOptionsCont .appOptions.active, #audioTest-box .audioTool.audioIsTesting{
	background: #e2e2e2; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover, #e2e2e2 0%, #c9c9c9 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#e2e2e2), color-stop(100%,#c9c9c9)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover, #e2e2e2 0%,#c9c9c9 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover, #e2e2e2 0%,#c9c9c9 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover, #e2e2e2 0%,#c9c9c9 100%); /* IE10+ */
	background: radial-gradient(ellipse at center, #e2e2e2 0%,#c9c9c9 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#c9c9c9',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	box-shadow: 0px 0px 2px 1px #fff inset;
	border:#a4a4a4 1px solid;

}
#alwaysPress .audioTool.active, #alwaysPress .audioTool.deactive, #audioTest-box .audioTool{
	text-align: center;
	border-radius: 5px;
	padding-top: 8px;
	padding-bottom: 8px;

}
#audioWidget #mainAudioPanel{
	border: #a7a7a7 1px solid;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border-bottom: none;
}

#vAppOptionsCont .appOptions.active{
	border-top-right-radius: 5px;
}

/* Styles */

label {
	width: 35px;
	height: 17px;
	display: inline-block;
	margin-top: 20px;
	position: relative;
	border-radius: 2px;
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding-box;
	background-clip: padding-box;
	background: rgb(138,138,138);
	background: -webkit-linear-gradient(top, rgba(138,138,138,1) 0%, rgba(140,140,140,1) 14%, rgba(159,159,159,1) 72%, rgba(164,164,164,1) 100%);
	background: -moz-linear-gradient(top, rgba(138,138,138,1) 0%, rgba(140,140,140,1) 14%, rgba(159,159,159,1) 72%, rgba(164,164,164,1) 100%);
	background: -o-linear-gradient(top, rgba(138,138,138,1) 0%, rgba(140,140,140,1) 14%, rgba(159,159,159,1) 72%, rgba(164,164,164,1) 100%);
	background: -ms-linear-gradient(top, rgba(138,138,138,1) 0%, rgba(140,140,140,1) 14%, rgba(159,159,159,1) 72%, rgba(164,164,164,1) 100%);
	background: linear-gradient(top, rgba(138,138,138,1) 0%, rgba(140,140,140,1) 14%, rgba(159,159,159,1) 72%, rgba(164,164,164,1) 100%);
	box-shadow: inset 0 2px 5px 0 rgba(0, 0, 0, 0.1), inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
	line-height: 30px;
	font-style: normal;
	color: #fff;
	text-shadow: 0 1px 1px rgba(0,0,0,0.1);
	font-weight: bold;
	-moz-transition: all 1s ease-in;
	-webkit-transition: all 1s ease-in;
	-o-transition: all 1s ease-in;
	transition: all 1s ease-in;
	cursor: pointer;
	
}
label.attention:hover {
	background: rgb(238,159,7);
	background: -moz-linear-gradient(top, rgba(238,159,7,1) 0%, rgba(240,171,8,1) 45%, rgba(243,182,15,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(238,159,7,1)), color-stop(45%, rgba(240,171,8,1)), color-stop(100%, rgba(243,182,15,1)));
	background: -webkit-linear-gradient(top, rgba(238,159,7,1) 0%, rgba(240,171,8,1) 45%, rgba(243,182,15,1) 100%);
	background: -o-linear-gradient(top, rgba(238,159,7,1) 0%, rgba(240,171,8,1) 45%, rgba(243,182,15,1) 100%);
	background: -ms-linear-gradient(top, rgba(238,159,7,1) 0%, rgba(240,171,8,1) 45%, rgba(243,182,15,1) 100%);
	background: linear-gradient(to bottom, rgba(238,159,7,1) 0%, rgba(240,171,8,1) 45%, rgba(243,182,15,1) 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ee9f07', endColorstr='#f3b60f', GradientType=0 );
}
label.attention:hover:before {
	content: "☢"; /* &#9762; */
	font-size: 22px
}
input[type=checkbox]:checked ~ label.attention:hover:before {
 content: "on";
 font-size: 14px
}
label i {
	position: absolute;
	top: -3px;
	right: 20px;
	width: 15px;
	height: 20px;
	display: block;
	border-radius: 2px;
	/* 	box-shadow: inset 0 -3px 3px 0 rgba(0, 0, 0, 0.1), inset 0 -1px 1px 0 rgba(255, 255, 255, 0.4), 0 2px 0 0 rgba(0, 0, 0, 0.2); */
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	transition: all 200ms ease;
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(252,252,252,1) 11%, rgba(228,228,228,1) 50%, rgba(221,221,221,1) 53%, rgba(205,205,205,1) 97%, rgba(191,191,191,1) 100%);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(252,252,252,1) 11%, rgba(228,228,228,1) 50%, rgba(221,221,221,1) 53%, rgba(205,205,205,1) 97%, rgba(191,191,191,1) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(252,252,252,1) 11%, rgba(228,228,228,1) 50%, rgba(221,221,221,1) 53%, rgba(205,205,205,1) 97%, rgba(191,191,191,1) 100%);
	border: #aaa 1px solid;
}


#speakerPressOnce #speakerPressonceAnch label#speakerPressonceLabel {
background: #ea1717; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover, #ea1717 0%, #b50303 99%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#ea1717), color-stop(99%,#b50303)); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover, #ea1717 0%,#b50303 99%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover, #ea1717 0%,#b50303 99%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover, #ea1717 0%,#b50303 99%); /* IE10+ */
background: radial-gradient(ellipse at center, #ea1717 0%,#b50303 99%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ea1717', endColorstr='#b50303',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

#speakerPressOnce.active #speakerPressonceAnch label#speakerPressonceLabel {

	background: rgb(141,173,51);
	background: -webkit-radial-gradient(center, ellipse cover, rgba(141,173,51,1) 0%, rgba(146,178,55,1) 24%, rgba(157,187,64,1) 55%, rgba(166,194,78,1) 100%);
	background: -moz-radial-gradient(center, ellipse cover, rgba(141,173,51,1) 0%, rgba(146,178,55,1) 24%, rgba(157,187,64,1) 55%, rgba(166,194,78,1) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(141,173,51,1) 0%, rgba(146,178,55,1) 24%, rgba(157,187,64,1) 55%, rgba(166,194,78,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(141,173,51,1) 0%, rgba(146,178,55,1) 24%, rgba(157,187,64,1) 55%, rgba(166,194,78,1) 100%);
	background: radial-gradient(center, ellipse cover, rgba(141,173,51,1) 0%, rgba(146,178,55,1) 24%, rgba(157,187,64,1) 55%, rgba(166,194,78,1) 100%);

}
#speakerPressOnce.active #speakerPressonceAnch label#speakerPressonceLabel i {
	right: 0px;
	border: #aaa 1px solid;
}
#speakerPressOnce.active #speakerPressonceAnch label#speakerPressonceLabel:before {
	content: "on";
	position: absolute;
	top: -7px;
	font-weight: normal;
	font-size: 12px;
	left: 3px;
}
#speakerPressOnce #speakerPressonceAnch label#speakerPressonceLabel:before {
	content: "Off";
	position: absolute;
	top: -6px;
	font-weight: normal;
	font-size: 11px;
	left: 16px;
}
#speakerPressOnce {
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

#alwaysPress #speakerPressing a#speakerPressingAnch img {
	border:none !important;
}
#speakerPressOnce #speakerPressonceAnch label {
	margin-top: 11px;
	margin-bottom: 6px;
}
	

#audioTest-box {
	border-radius: 5px;
	padding: 4px;
	text-align: center;
	margin-bottom: 0px;
	border: #a7a7a7 1px solid;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-top: none;
	padding-top: 10px;
	padding-bottom: 10px;
}


/* Tooltip */

.vmchat_room_bt.tooltip:hover:after {
	bottom: 2.7em;
	z-index: 10000;
}

.close.tooltip:hover:after {
	bottom: 2em;
}
#usertab_text.tooltip.open:hover:after{
	bottom: 2em;	
}
#speakerPressing .tooltip:hover:after, #speakerPressOnce .tooltip:hover:after, #audioTest .tooltip:hover:after{
	line-height: 26px;

}
#speakerPressOnce .tooltip:hover:after{
	bottom:5px !important;
}

#speakerPressing .tooltip:hover:after{ 
	bottom:-40px !important;
}


#chat_div .ui-memblist-usr a.tooltip:hover:after {
	bottom: 7px;
	z-index: 1;
}


#memlist .ui-memblist-content .ui-memblist-log .ui-memblist-usr .controls .controleCont a.tooltip:hover:after {
	bottom: -45px;
	left: -8px;
}

#memlist .ui-memblist-content .ui-memblist-log .ui-memblist-usr .controls a.tooltip:hover:after {
	bottom: 10px;
	left: -2px;
	font-size: 11px;
	padding-left: 4px;
	padding-right: 4px;
}

.tooltip.close {
	float: none;
}

#vAppOptionsCont .appOptions .tooltip::hover:after{
	bottom: -20px;
}


/* added by suman */

#silenceDetect[data-silence-detect="stop"], #silenceDetect[data-silence-detect="notSending"], #silenceDetect[data-silence-detect="sending"]{
	position: relative;
	top: -5px;
	left: -1px;
	cursor: pointer;
	display: inline-block;
	border: 1px solid #fff;
	height: 16px;
	width: 16px;
	border-radius: 100%;
}

#silenceDetect[data-silence-detect="stop"] {
	background: #E53030;
	box-shadow: 0 0px 0 3px #c91919 inset;
}

#silenceDetect[data-silence-detect="notSending"] {
	background: #FFC334;
	border: 1px solid #fff;
	box-shadow: 0 0px 0 3px #ffb401 inset;
}

#silenceDetect[data-silence-detect="sending"] {
	background: #9ebe3b;
	box-shadow: 0 0px 0 3px #8fb12c inset;

}

@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon.eot?-jjdyd0');
    src:url('../fonts/icomoon.eot?#iefix-jjdyd0') format('embedded-opentype'),
            url('../fonts/icomoon.woff?-jjdyd0') format('woff'),
            url('../fonts/icomoon.ttf?-jjdyd0') format('truetype'),
            url('../fonts/icomoon.svg?-jjdyd0#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

/*	 Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-rectangle:before {
    content: "\ea53";
}

.icon-line:before{
   content: "\e601";
}