/* CSS Document */

@font-face {
        font-family: 'icomoon';
        src:url('../fonts/icomoon.eot?-jjdyd0');
        src:url('../fonts/icomoon.eot?#iefix-jjdyd0') format('embedded-opentype'), url('../fonts/icomoon.woff?-jjdyd0') format('woff'), url('../fonts/icomoon.ttf?-jjdyd0') format('truetype'), url('../fonts/icomoon.svg?-jjdyd0#icomoon') format('svg');
        font-weight: normal;
        font-style: normal;
}
 [id= "vAppCont"] [class^="icon-"], [class*=" icon-"] {
 font-family: 'icomoon';
 speak: none;
 font-style: normal;
 font-weight: normal;
 font-variant: normal;
 text-transform: none;
 line-height: 1;
/*	 Better Font Rendering =========== */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        background-image : none;
        width : auto;
        height : auto;
}

* {
	margin : 0;
	padding : 0;
}
html, body {
	width : 100%;
	height : 100%;
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif !important;
}
a, canvas {
	outline : none;
}
.clear {
	clear : both;
}
body {
	margin : 0;
	padding : 0;
}
#conControler {
	clear : both;
}
#vAppCont {
	height : 100%;
}
#vAppCont #divForReloadMsg {
	border : #8eb9ce solid 1px;
	width : auto;
	float : left;
	background : #ddeef6;
	border-radius : 5px;
	padding : 15px;
	line-height : 120%;
	letter-spacing : 0.3px;
	margin : 15px 0;
}
#vAppCont #serverErrorCont, #vAppCont #divForReloadMsg {
	padding : 10px;
	width : auto;
	float : left;
	margin-left : 35%;
	border-radius : 5px;
	padding : 15px;
	line-height : 120%;
	letter-spacing : 0.3px;
	width : auto;
	font-size : 12px;
}
#vAppCont #vAppOptionsCont {
	width : 55px;
	float : left;
}
#vAppCont #vAppOptionsCont:first-child, #vAppOptionsCont {
	background: #e9e9e9; /* Old browsers */
	position : absolute;
	top : 120px;
	border : #e2e2e2 solid 3px;
	border-left: 0px;
	border-bottom-right-radius : 10px;
	border-top-right-radius : 10px;
	z-index : 10;
}
#vAppCont #vAppOptionsCont .appOptions a img {
	padding: 12px;
	opacity: 0.7;
}
#vAppCont #vAppOptionsCont .appOptions.active a img {
	opacity: inherit;
}
#vAppCont #vAppOptionsCont .appOptions:hover {
	border-top-right-radius: 0px;
}
#vAppCont #vAppOptionsCont #vAppScreenShareTool {
	border-top:none;
	border-bottom: none;
}
#vAppCont #vAppOptionsCont #vAppScreenShareTool:hover, #vAppCont #vAppOptionsCont #vAppSessionEndTool:hover {
	background: #feffff; /* Old browsers */
	background: -moz-linear-gradient(left, #feffff 0%, #ddd 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, #f0f0f0), color-stop(100%, #ccc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, #feffff 0%, #ccc 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, #feffff 0%, #ccc 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, #ffffff 0%, #cccccc 100%); /* IE10+ */
	background: linear-gradient(to right, #feffff 0%, #ccc 100%); /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#ccc', GradientType=1 ); /* IE6-9 */
}
#vAppCont #audioTest-box:hover, #vAppCont #audioWidget #speakerPressOnce:hover, #vAppCont #alwaysPress:hover {
	background: #feffff; /* Old browsers */
	background: -moz-linear-gradient(left, #feffff 0%, #ddd 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, #f0f0f0), color-stop(100%, #ccc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, #feffff 0%, #ccc 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, #feffff 0%, #ccc 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, #ffffff 0%, #cccccc 100%); /* IE10+ */
	background: linear-gradient(to right, #feffff 0%, #ccc 100%); /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#ccc', GradientType=1 ); /* IE6-9 */
}
#vAppCont #vAppOptionsCont .appOptions {
	border:#a7a7a7 1px solid;
	border-left: none;
}
#vAppCont #vAppOptionsCont #vAppWhiteboardTool.appOptions {
	border-top-right-radius: 5px;
}
#vAppCont #vAppOptionsCont #vAppSessionEndTool {
	border-top-right-radius: 0px;
}
#vAppCont #vAppOptionsCont div:last-child {
	border-bottom-right-radius: 5px;
	border-bottom: #a7a7a7 1px solid !important;
}
#vAppCont #vAppOptionsCont {
	clear : both;
}
#vAppCont #vAppWhiteboardCont {
	height : 100%;
	width : 100%;
}
#vAppCont #vAppWhiteboard, #vAppCont {
	float : left;
}
#vAppCont.student #videoContainer {
	top : -237px;
}
#vAppCont #videoMinMize, #vAppCont #videoMaxMize {
	position : absolute;
}
#vAppCont.student #videoMinMize, #vAppCont #videoMinMize {
	background-image : url('../images/min.png') !important;
	background-position : left top;
	background-repeat : no-repeat;
}
#vAppCont.student #videoMaxMize, #vAppCont #videoMaxMize {
	background-image : url('../images/max.png') !important;
	background-position : left top;
	background-repeat : no-repeat;
}
#vAppCont.student #videos #videoMinMize, #vAppCont.student #videos #videoMaxMize {
	height : 16px;
	position : absolute;
	top : 2px;
	width : 16px;
	right : -1px;
}
#vAppCont.student #videos #videoMinMize, #vAppCont #videoMinMize {
	border-left : none;
	border-bottom : none;
	height : 16px;
	position : absolute;
	right : -1px;
	width : 16px;
}
#vAppCont.student #videos #videoMaxMize, #vAppCont #videoMaxMize {
	border-left : 1px solid #CCCCCC;
	border-top : 1px solid #ccc;
	border-right : none;
	height : 16px;
	right : 0;
	top : -33px;
	width : 16px;
}
#vAppCont.student #videos {
	border-bottom : 1px solid #ccc;
}
#vAppCont.student #informationCont {
	display : none;
}
/* Tool bar Css */

#vAppCont #containerWb {
	margin : 0;
	padding : 0;
}
#vAppCont #containerWb .tool .tooltip:hover:after {
	bottom : -2.5em;
	padding : 0.6em 1em;
	border-radius: 0px;
}
#vAppCont #t_line a img[title]:hover:after {
	content : attr(title);
	padding : 4px 8px;
	color : #333;
	position : absolute;
	left : 0;
	top : 100%;
	white-space : nowrap;
	border-radius : 5px;
	box-shadow : 0 0 4px #222;
}
#vAppCont #t_assign.controlCmd a {
	background-image : none;
	padding-right : 15px;
}
#vAppCont #commandToolsWrapper, #vAppCont #dataInfoHeading {
	padding-left : 1%;
	width : 99%;
}
#vAppCont #canvasWrapper {
	float : left;
	margin : 0;
	padding : 0;
	margin-top : 0;
}
#vAppCont #canvasWrapper #canvas {
	outline : none;
}
#vAppCont #commandToolsWrapper a {
	float : left;
}
#vAppCont #commandToolsWrapper a img {
	padding : 13px 20px;
}
#vAppCont #canvasWrapper #canvas {
	outline : none;
}
#vAppCont #canvasWrapper {
	float : left;
	margin : 0;
	padding : 0;
	margin-top : 0;
}
#vAppCont #canvasWrapper #canvas {
	outline : none;
}
#vAppCont #canvasDrawMsgContFirefox {
	left : 510px;
	position : absolute;
	z-index : 100;
}
#vAppCont .msgBoxCanvasimg {
	clear : both;
}
#vAppCont #canvasDrawMsgContFirefox {
	left : 510px;
	position : absolute;
	z-index : 100;
}
#vAppCont #canvasWrapper {
	float : left;
	margin : 0;
	padding : 0;
	margin-top : 0;
}
#vAppCont #canvas {
	border : black solid 1px;
	display : block;
	border : none;
}
#vAppCont .numbers {
	float : right;
}
#vAppCont #sentMsgInfo {
	border : #ccc solid 1px;
	margin-top : 10px;
	margin-bottom : 10px;
	margin-right : 10px;
	padding : 5px;
	min-height : 62px;
	text-align : left;
}
#vAppCont #rcvdMsgInfo {
	margin-top : 10px;
	border : #ccc solid 1px;
	margin-right : 10px;
	padding : 5px;
	min-height : 62px;
	text-align : left;
}
#vAppCont #videos {
	margin: 0;
	padding: 0;
	width : 930px;
	margin-top : 20px;
	padding : 15px;
	clear : both;
}
#vAppCont #localVideo {
	border : #CCCCCC solid 1px;
	width : 30%;
}
#vAppCont #remoteVideo {
	border : #CCCCCC solid 1px;
	width : 100%;
}
#vAppCont #remoteVideo2 {
	border : green solid 3px;
	width : 30%;
}
#vAppCont #chat_div .ui-memblist-usr:after {
	content : ".";
	display : block;
	height : 0;
	clear : both;
	visibility : hidden;
}
#vAppCont #chat_div .ui-memblist-usr.teacher {
	padding-top : 0;
	background-color : #f1f1f1;
	border-top: 1px solid #d5d5d5;
	border-bottom: 1px solid #d5d5d5;
	padding-left : 5px;
}
#vAppCont #chat_div .ui-memblist-usr.student, #vAppCont #chat_div .ui-memblist-usr {
	padding-left : 5px;
}
#vAppCont div.ui-memblist-usr video {
	width : 60px;
	height : 50px;
	margin : 0;
	outline : 1px solid #5A5757;
	margin-left : 2px;
}
#vAppCont div.ui-memblist-usr .userVideos {
	width : 60px;
	height : 45px;
	margin : 3px 0 0 2px;
	outline : 1px solid #5A5757;
}
#vAppCont #graphCanvas {
	top : -5px !important;
}
#vAppCont div.ui-memblist-usr video, div.ui-memblist-usr .userVideos {
	margin-top : 6px;
}
#vAppCont #chat_div .ui-memblist-usr:first-child {
	margin-top : 0;
}
#vAppCont div.ui-memblist-usr video, #vAppCont div.ui-memblist-usr .userVideos {
	border : #eee solid 2px;
	box-shadow : 0 0 1px #333;
	border-radius : 2px;
	outline : none;
	margin-bottom : 5px;
}
#vAppCont #chat_div .ui-memblist-usr span {
	top : 7px;
	text-transform : uppercase;
	font-weight : bold;
	position : relative;
}
#vAppCont #chat_div.ui-memblist-log {
	height : auto !important;
}
#vAppCont .msgBoxWebRtc p, #vAppCont .msgBoxCanvas p {
	position : relative;
	background : #ffffff;
	border : #ccc solid 1px;
}
#vAppCont .msgBoxWebRtc p:after, #vAppCont .msgBoxCanvas p:after, #vAppCont .msgBoxWebRtc p:before, #vAppCont .msgBoxCanvas p:before {
	bottom : 100%;
	left : 24%;
	border : transparent solid;
	content : " ";
	height : 0;
	width : 0;
	position : absolute;
}
#vAppCont .msgBoxWebRtc p:after, #vAppCont .msgBoxCanvas p:after {
	border-color : rgba(255, 255, 255, 0);
	border-bottom-color : #ffffff;
	border-width : 11px;
	margin-left : -10px;
}
#vAppCont .msgBoxWebRtc p:before, #vAppCont .msgBoxCanvas p:before {
	border-color : rgba(170, 170, 170, 0);
	border-bottom-color : #aaaaaa;
	border-width : 12px;
	margin-left : -11px;
}
#vAppCont #chormeWebrtcCont p:after, #vAppCont #chormeWebrtcCont p:before {
	left : 93%;
}
#vAppCont .msgBoxWebRtc {
	width : 387px;
}
#vAppCont .msgBoxWebRtc p, #vAppCont .msgBoxCanvas p {
	border : #ddd solid 2px;
	padding : 5px;
}
#vAppCont .msgBoxCanvas p {
	margin-top : 25px;
}
#vAppCont #chormeWebrtcCont {
	position : absolute;
	right : 2%;
	top : 0%;
}
#vAppCont #chormeWebrtcContimg {
	height : 15px;
}
#vAppCont #chormeWebrtcCont p {
	padding : 12px;
	z-index : 10000;
}
#vAppCont #fireFoxWebrtcCont {
	position : absolute;
	left : 160px;
	top : 235px;
	z-index : 100;
}
#vAppCont .msgBoxCanvas {
	width : 350px;
}
#vAppCont .msgBoxCanvasimg {
	clear : both;
}
#vAppCont #canvasDrawMsgContFirefox {
	left : 510px;
	position : absolute;
	z-index : 100;
}
#vAppCont #canvasDrawMsgContChrome {
	position : absolute;
	left : 225px;
}
#vAppCont #canvasDrawArea {
	clear : both;
	position : relative;
	bottom : 400px;
	font-size : 50px;
	color : #ddd;
}
#vAppCont #canvasDrawArea p {
	text-align: center;
	color : rgb(197, 161, 161);
}
#vAppCont a[title]:hover:after {
	content : attr(title);
	padding : 4px 8px;
	color : rgba(0, 0, 0, 0.5);
	position : absolute;
	left : 0;
	top : 100%;
	white-space : nowrap;
	z-index : 2;
	border-radius : 5px;
	background : rgba(0, 0, 0, 0.5);
}
#vAppCont .error {
	border : #ddd solid 2px;
	width : 50%;
	padding : 10px;
	margin-left : 10%;
	margin-top : 2%;
}
#vAppCont #commandToolsWrapper #t_line a img[title]:hover:after {
	content : attr(title);
	padding : 4px 8px;
	color : #333;
	position : absolute;
	left : 0;
	top : 100%;
	white-space : nowrap;
	border-radius : 5px;
	box-shadow : 0 0 4px #222;
}
#vAppCont #vcanvas {
	float : left;
	border : #ccc solid 1px;
	margin-left : 0;
}
#vAppCont #commandToolsWrapper {
	background-color: #d4d4d4;
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fbfbfb), color-stop(100%, #d4d4d4));
	background-image: -webkit-linear-gradient(#fbfbfb, #d4d4d4);
	background-image: -moz-linear-gradient(#fbfbfb, #d4d4d4);
	background-image: -o-linear-gradient(#fbfbfb, #d4d4d4);
	background-image: linear-gradient(#fbfbfb, #d4d4d4);
	padding-bottom : 0;
	border-bottom : 1px solid #aaa;
	padding-left : 1%;
	height : 46px;
	box-shadow : 1px 1px 5px #aaa;
}
#vAppCont #commandToolsWrapper #t_assign.controlCmd a {
	background-image : none;
	padding-right : 15px;
}
#vAppCont .teacher #commandToolsWrapper #t_assign.controlCmd a, #vAppCont #commandToolsWrapper #t_connectionoff a, .con.controlCmd, .controlCmd.coff {
	background-image : url(../images/border-img.png);
	background-position : left center;
	background-repeat : no-repeat;
}
#vAppCont #commandToolsWrapper #t_connectionoff a, #vAppCont #commandToolsWrapper #t_connectionon a {
	padding-top : 5px;
}
#vAppCont #commandToolsWrapper #t_assign a {
	padding-top : 2px;
}
#vAppCont #canvasWrapper #canvas {
	outline : none;
}
#vAppCont #informationCont h4 {
	margin-top : 5px;
}
#vAppCont #videos #remoteVideo {
	margin-top : 10px;
	margin-left : 25px;
	margin-bottom : 5px;
	height : 180px;
}
#vAppCont #videos #localVideo {
	margin-left : 198px;
	margin-top : 8px;
	height : 180px;
	margin-bottom : 5px;
	padding : 2px;
}
#vAppCont .selfClear:after {
	content : ".";
	display : block;
	height : 0;
	clear : both;
	visibility : hidden;
}
#vAppCont .selfClear {
	display : inline-block;
}
#vAppCont .msgBoxWebRtc p, #vAppCont .msgBoxCanvas p {
	background-color : #fff !important;
	box-shadow : 0 0 6px rgba(0, 0, 0, 0.2) !important;
	border : #ccc solid 1px !important;
	font-size : 12px;
	padding : 15px;
	border-radius : 5px;
	font-weight : 500;
	color: #333;
	font-size: 13px;
	line-height: 21px;
	font-weight: normal;
}
#vAppCont .tooltip {
	display : inline;
	position : relative;
	font-size: 14px;
	z-index: 100;
}
#vAppCont #usertab_text.tooltip {
	display : block;
}
#vAppCont .tooltip:hover {
	text-decoration : none;
}
#vAppCont .tooltip:hover:after {
	background : #fff;
	border : #ccc solid 1px;
	border-radius : 0.3em;
	bottom : 3em;
	color : #fff;
	content : attr(data-title);
	display : block;
	left : 2em;
	padding : 0.3em 1em;
	position : absolute;
	white-space : nowrap;
	z-index : 100;
	color : #000;
	box-shadow : 0 1px 2px rgba(0, 0, 0, 0.2);
	font-size : 12px;
	font-weight: normal !important;
}
#vAppCont #audioWidget .Tool .tooltip:hover:after, #vAppCont #audioWidget .audioTool .tooltip:hover:after {
	right : 50px;
	left : auto;
	bottom : 1em;
}
#vAppCont #vAppOptionsCont .appOptions .tooltip:hover:after {
	padding : 0.7em 1em;
	right : auto;
	left : 50px;
	bottom : -0.4em;
}
#vAppCont #virtualWindow {
	border : #ED6B83 dashed 1px;
	border-left : none;
	position : absolute;
}
#vAppCont #packetContainer {
	width : 50%;
	float : left;
	box-sizing : border-box;
}
#vAppCont #packetContainer #dataInformation, #vAppCont #packetContainer #sendPackCont, #vAppCont #packetContainer #receivePackCont {
	float : left;
	width : 32%;
	border : #ccc solid 1px;
	margin-top : 15px;
	margin-bottom : 15px;
}
#vAppCont #packetContainer #dataInformation, #vAppCont #packetContainer #sendPackCont {
	border-right : none;
}
#vAppCont #sentPacketsLabel, #vAppCont #sendPackPsCont, #vAppCont #totSendPackCont, #vAppCont #receivedPacketsLabel, #vAppCont #receivePackPsCont, #vAppCont #totReceivedPackCont, #vAppCont #blankDiv, #vAppCont #perSecData, #vAppCont #totalDataLabel {
	padding : 7px;
}
#vAppCont #receivedPacketsLabel, #vAppCont #receivePackPsCont, #vAppCont #sentPacketsLabel, #vAppCont #sentPacketsLabel, #vAppCont #sendPackPsCont, #vAppCont #blankDiv, #vAppCont #perSecData {
	border-bottom : 1px solid #ccc;
	color : #595A5D;
}
#vAppCont #errorWebSocket, #vAppCont #errorWebRtc, #vAppCont #errorCanvas, #vAppCont #errorPeerConnect {
	background-color : #F2DEDE;
	border-color : #FDB9C3;
	color : #B94A48;
	font-size : 14px;
	border-radius : 5px;
	border-width : 1px;
}
#vAppCont #errorWebSocketPara a, #vAppCont #errorWebRtcPara a, #vAppCont #errorCanvasPara a {
	color : #B94A48;
	font-weight : 600;
	font-size : 13px;
	text-decoration : none;
}
#vAppCont #sentPacketsLabel span, #vAppCont #receivedPacketsLabel span {
	margin-left : 15px;
}
#vAppCont #totalDataLabel, #sentPacket, #informationCont {
	color : #595A5D;
}
#vAppCont #informationCont #sentMsgInfoContainer {
	width : 50%;
	float : left;
	text-align : center;
}
#vAppCont #informationCont #receivedMsgInfoContainer {
	width : 50%;
	float : left;
	text-align : center;
}
#vAppCont #dataInformation {
	margin-left : 10px;
}
#vAppCont #topContainer {
	height : 200px;
}
#vAppCont #leftContainer {
	width : 200px;
	float : left;
}
#vAppCont #packetContainer, #vAppCont #informationCont {
	font-size : 13px;
}
#vAppCont #informationCont {
	float : left;
	width : 50%;
}
#vAppCont #dataInfoHeading {
	width : 915px;
	text-align : center;
}
#vAppCont #informationCont {
	margin-top : 11px;
}
#vAppCont #t_assign.controlCmd a {
	padding-left : 12px;
	padding-right : 14px;
}
#vAppCont #commandToolsWrapper, #vAppCont #dataInfoHeading {
	padding-left : 1%;
	width : 99%;
}
#vAppCont #videos #localVideo {
	height : auto;
	margin : 0;
	position : absolute;
	right : 3px;
	margin-top : 48%;
	width : 35%;
	z-index : 100;
}
#vAppCont #videos #remoteVideo {
	margin-left : 0;
	margin-top : 0;
	right : -9px;
	padding : 2px;
}
#vAppCont #videos {
	width : auto;
	position : relative;
	top : 0;
}
#vAppCont #videos #remoteVideo {
	height : auto;
	position : absolute;
	min-height : auto;
}
#vAppCont #remoteVideo {
	width : 100%;
}
#vAppCont.student #videos {
	top : 16px;
}
#vAppCont .dynDiv_resizeDiv_tl {
	padding-bottom : 5px;
	padding-right : 5px;
}
#vAppCont.student #videoMinMize, #vAppCont #videoMinMize {
	height : 16px;
	right : 2px;
	width : 16px;
	z-index : 100;
}
#vAppCont .dynDiv_resizeDiv_tl, #vAppCont .dynDiv_resizeDiv_tr, #vAppCont .dynDiv_resizeDiv_bl, #vAppCont .dynDiv_resizeDiv_br {
	background-color : #fff !important;
	background-image : url('../images/resize.png') !important;
	background-position : left top;
	background-repeat : no-repeat;
	width : 10px;
	height : 10px;
	background : #faa;
	border : #000 solid 1px;
	position : absolute;
}
#vAppCont .dynDiv_resizeDiv_tl {
	border : none medium;
	left : 6px;
	top : 3px;
	z-index : 100;
}
#vAppCont #videoContainer {
	background : transparent;
	width : 285px;
	height : 220px;
	position : absolute;
	right : 0;
	bottom : 0;
	overflow : hidden;
}
#vAppCont #videoMinMize, #vAppCont #videoMaxMize {
	position : absolute;
}
#vAppCont.student #videoContainer {
	top : -237px;
}
#vAppCont #videoMinMize, #vAppCont #videoMaxMize {
	position : absolute;
}
#vAppCont.student #videoMinMize, #vAppCont #videoMinMize {
	background-image : url('../images/min.png') !important;
	background-position : left top;
	background-repeat : no-repeat;
}
#vAppCont.student #videoMaxMize, #vAppCont #videoMaxMize {
	background-image : url('../images/max.png') !important;
	background-position : left top;
	background-repeat : no-repeat;
}
#vAppCont.student #videos #videoMinMize, #vAppCont.student #videos #videoMaxMize {
	height : 16px;
	position : absolute;
	top : 2px;
	width : 16px;
	right : -1px;
}
#vAppCont.student #videos #videoMinMize, #vAppCont #videoMinMize {
	border-left : none;
	border-bottom : none;
	height : 16px;
	position : absolute;
	right : -1px;
	width : 16px;
}
#vAppCont.student #videos #videoMaxMize, #vAppCont #videoMaxMize {
	border-left : 1px solid #CCCCCC;
	border-top : 1px solid #ccc;
	border-right : none;
	height : 16px;
	right : 0;
	top : -33px;
	width : 16px;
}
#vAppCont.teacher #videoMaxMize {
	top : -17px;
}
#vAppCont .controlCmd {
	float : right;
}
#vAppCont #videoContainer {
	bottom : 45px;
}
#vAppCont .controlCmd.coff, #vAppCont .con.controlCmd {
	padding-left : 20px;
}
#vAppCont .con.controlCmd a {
	border : #79aa26 solid 1px;
	padding-left : 4px !important;
	padding-right : 4px !important;
	border-radius : 2px;
}
#vAppCont .con {
	margin-right : 20px;
	float : right;
}
#vAppCont .controlCmd.coff {
	margin-right : 10px;
}
#vAppCont #serverErrorCont {
	border : #9E1333 solid 1px;
	background : #F2DFE3;
}
#vAppCont #vAppWhiteboardCont {
	height : 100%;
	width : 100%;
}
#vAppCont #widgetRightSide {
	float : left;
	width : 260px;
	border : #ccc solid 1px;
	border-left : none;
}
#vAppCont .userVideo {
	width : 75px;
	height : 56px;
}
#vAppCont #tempVideo {
	display : none;
}
#vAppCont video, #vAppCont canvas, #vAppCont #allVideosCont {
	float : left;
}
#vAppCont video, #vAppCont canvas {
	margin : 3px;
	margin-bottom : 2px;
}
#vAppCont .videoWrapper {
	z-index : 50;
	position : relative;
	clear : both;
}
#vAppCont .videoSubWrapper {
	z-index : 1000;
}
#vAppCont .videoSubWrapper[data-uname]:hover:after {
	content : attr(data-uname);
	padding : 2px 5px 2px 5px;
	color : rgba(48, 39, 2, 1);
	position : absolute;
	margin-left : -40px;
	top : 60%;
	white-space : nowrap;
	border-radius : 15px;
	background : rgba(240, 245, 240, 0.6);
	font-size : 80%;
}
#vAppCont #allVideosCont {
	position : relative;
}
#vAppCont #commonChatBoard {
	clear : both;
	width : 100%;
	height : 92%;
}
#vAppCont #textInputBox {
	width : 100%;
	height : 5%;
	padding : 5px 3px 5px 3px;
	resize : none;
	border : #ccc solid 1px;
	border-radius : 3px;
}
#vAppCont #chatBox {
	font-size : 80%;
	border-top : 1px solid #ccc;
}
#vAppCont #chatBox .userMsg {
	letter-spacing : 0.03em;
	word-break : break-all;
	white-space : pre-wrap;
	word-break : break-all;
	overflow-wrap : break-word;
}
#vAppCont #chatBox {
	padding : 5px;
}
#vAppCont #chatBox #commonChatBoard {
	overflow-y : auto;
}
#vAppCont #chatContainer {
	width : 100%;
	clear : both;
	margin-top : 5px;
}
#vAppCont #mainContainer {
	clear : both;
}
#vAppCont #vAppScreenShare, #vAppWholeScreenShare {
	float : left;
	border : #ccc solid 1px;
	height : 100%;
}
#vAppCont .vmApp {
	border-right : none;
}
#vAppCont .Local {
	margin : 4px 7px 0 7px;
}
#vAppCont #vAppScreenShareLocalTempVideo, #vAppCont #vAppwholescreenShareLocalTempVideo {
	display : none;
}
#vAppCont #commonChatBoardLabel {
	position : relative;
	width : 140px;
	color : #ccc;
	font-size : 24px;
	opacity : 0.800000011920928955078125;
	left : 50px;
	top : -55%;
}
#vAppCont #commonChatBoardLabel #firstWord {
	margin-left : 8%;
	font-size : 20px;
}

::-webkit-input-placeholder, :-moz-placeholder {
opacity : 0.800000011920928955078125 !important;
}
#vAppCont #textInputBox {
	padding-top : 11px;
	padding-left : 8px;
}
#vAppCont #toggleContainer {
	font-weight : bold;
	color : #686464;
	width : 7px;
	border : #ccc solid 1px;
	padding-left : 4px;
	padding-right : 4px;
	cursor : pointer;
}
#vAppCont #toggleContainer.display {
	position : relative;
	top : 25px;
	left : 10px;
}
#vAppCont #toggleContainer.hide {
	margin-left : 4px;
	padding-right : 6px;
}
#vAppCont #vAppWhiteboard, #vAppCont {
	float : left;
}
#vAppCont canvas {
	padding : 0;
	margin : 0;
}
#vAppCont #vAppOptionsCont {
	clear : both;
}
#vAppCont #commonChatBoard span {
	line-height : 125%;
}
#vAppCont #chat_div .ui-memblist-usr {
	margin-top : 3px;
	margin-bottom : 3px;
}
#vAppCont div.ui-memblist-usr video {
	width : 60px;
	height : 50px;
	margin : 0;
	outline : 1px solid #5A5757;
	margin-left : 2px;
}
#vAppCont div.ui-memblist-usr .userVideos {
	width : 60px;
	height : 45px;
	margin : 3px 0 0 2px;
	outline : 1px solid #5A5757;
}
#vAppCont #graphCanvas {
	top : -5px !important;
}
#vAppCont div.ui-memblist-usr video, div.ui-memblist-usr .userVideos {
	margin-top : 5px;
}
#vAppCont #chat_div {
	padding-bottom : 5px;
	min-height : 150px;
}
#vAppCont #chatWidget {
	clear : both;
}
#vAppCont #audioWidget {
	background: #e9e9e9; /* Old browsers */
	position : absolute;
	cursor : pointer;
	float : right;
	height : auto;
	top : 100px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	border-right: none;
	right: 0;
}
#vAppCont #audioWidget #speakerPressOnce {
	border : #a4a4a4 solid 1px;
	border-top-left-radius: 5px;
	border-bottom: none;
	width: 55px;
	padding-left: 7px;
}
#vAppCont #audioWidget.fixed {
	position: fixed;
}
#vAppCont #audioWidget #speakerPressOnce .speakerPressonceAnch img {
	margin-bottom : 10px;
}
#vAppCont #audioWidget #speakerPressOnce .speakerPressonceAnch a img {
	margin-left : -2px;
}
#vAppCont.student #vcanvas {
	border-top-width : 5px;
	border-top-color : #aaa;
}
#vAppCont #speakerStudent #speakerPressing a:hover img {
	opacity : 0.5;
}
#vAppCont #closebtn {
	width : 35px;
}
#vAppCont #vAppOptionsCont {
	top : 200px;
}
#vAppCont .ui-dialog-header span:first-child {
	font-size : 14px;
	padding-left : 3px;
}
#vAppCont div.ui-memblist-usr video, #vAppCont div.ui-memblist-usr .userVideos {
	border : #eee solid 2px;
	outline : none;
	margin-bottom : 5px;
}
#vAppCont #chat_div .ui-memblist-usr span {
	text-transform : capitalize;
	font-weight : bold;
}
#vAppCont #chat_div.ui-memblist-log {
	height : auto !important;
}
#vAppCont .vmchat_bar_button .inner_bt #usertab_text, #vAppCont .vmchat_room_bt .inner_bt #chatroom_text {
	font-weight : normal;
}
#vAppCont .vmchat_room_bt .inner_bt #chatroom_text {
	padding-left : 30px;
}
#vAppCont .maximize {
	height : 41px;
}
#vAppCont #stickybar.minimize {
	width : 50px;
}
#vAppCont .ui-icon-closethick {
	background-position : -96px -128px !important;
}
#vAppCont .ui-chatbox {
	width : 231px !important;
}
#vAppCont .ui-tabs .ui-tabs-nav li.ui-state-active {
	background-image : none;
	background-color : transparent;
	border-top : 1px solid #aaa !important;
}
#vAppCont .ui-corner-all.ui-chatbox-icon .ui-icon-close {
	margin-top : 2px;
	margin-right : 8px;
}
#vAppCont .ui-memblist-usr a img {
	margin-top : 6px;
	float : left;
	background-color : #eee;
	padding : 13px 22px;
	border-radius : 3px;
	border : #ddd solid 1px;
	margin-bottom : 4px;
	margin-left : 1px;
}
#vAppCont #vAppScreenShare, #vAppWholeScreenShare {
	margin-left : 55px;
}
#vAppCont .ui-widget-content .controls {
	width : 165px;
	position : relative;
}
#vAppCont #speakerPressing {
	width: 36px;
	padding-left: 13px;
	padding-right: 13px;
}
#vAppCont #speakerPressOnce {
	width : 100%;
	height : 100%;
}
#vAppCont #chat_div .controleCont {
	margin-top : 7px;
	float : left;
	width: 30px;
}
#vAppCont .audioTransmit {
	border : green solid 15px;
	float : left;
	width : 15px;
	height : 15px;
}
#vAppCont .audEnableSign {
	width : 12px;
	height : 12px;
	float : left;
	margin-left : 4px;
}
#vAppCont #audioWidget #audioTest #vAppCont.student #audioWidget .audioTool a#speakerPressonceAnch img, #vAppCont.student #audioWidget .audioTool a#speakerPressingAnch img {
	margin-left: -5px;
	padding : 1px;
	padding-left : 2px;
	border : transparent solid 1px;
}
#vAppCont.teacher #audioWidget .active a img, #vAppCont.teacher #audioWidget .deactive a img, #vAppCont.student #audioWidget .audioTool.active a img, #vAppCont.student #audioWidget .audioTool.deactive a img {
	border : #006CA6 solid 1px !important;
	padding : 1px;
	border-radius : 4px;
	padding-right : 0;
	padding-left : 2px;
	margin-left: -3px;
}
#vAppCont.teacher #audioWidget .active a img, #vAppCont.teacher #audioWidget .deactive a img, #vAppCont.student #audioWidget .audioTool.active a img, #vAppCont.student #audioWidget .audioTool.deactive a img {
	border : #41AA45 solid 1px !important;
}
#vAppCont .ui-memblist-usr.student .controls .controleCont img.assignImg.block, #vAppCont .ui-memblist-usr.student .controls .controleCont img.audioImg.block, #vAppCont .ui-memblist-usr.student .controls .controleCont img.chatImg.block {
	opacity : 0.4000000059604644775390625;
	background-color : transparent;
	border : none;
	padding : 0;
	margin-bottom : 0;
}
#vAppCont .controls .controleCont img.audioImg.block {
	margin-bottom : 0;
}

#vAppCont.student .ui-widget-content .controls{
	position: relative;
	left:2px;
}

#vAppCont .ui-memblist-usr a span {
	margin-left : 8px !important;
}
/* added by suman */

#vAppCont #vAppScreenShare {
	width : 99%;
}
#vAppCont {
	width : auto;
}
/* this should be write above */

#vAppCont.student #vAppScreenShare, #vAppCont.student #vAppWholeScreenShare {
	margin-left : 5px;
}
#vAppCont.teacher #vAppScreenShare, #vAppCont.teacher #vAppWholeScreenShare {
	margin-left : 55px;
}
#vAppCont {
	height : 99%;
}
#vAppCont .ui-memblist {
	right: 6px;
}
#vAppCont .controls a.audEnableSign img {
	margin-left: -2px;
}
#vAppCont #chat_div .mySelf, #vAppCont #audioTest.audioIsTesting {
	pointer-events : none !important;
	opacity : 0.6;
}
#vAppCont #page-mod-virtualclass-view #page {
	padding: 0;
}
#vAppCont #usertab_icon {
	margin: 1px 2px 0 0;
}
#vAppCont .ui-widget.disable {
	opacity : 0.4;
}
#vAppCont .ui-widget.enable {
	opacity : 1;
}
#vAppCont #vAppWhiteboardTool a, #vAppCont #vAppScreenShareTool a, #vAppCont #vAppSessionEndTool a {
	-webkit-animation: bounceInDown 900ms 200ms ease-in-out both;
	text-decoration: none;
	outline-width: 0px;
	z-index: 990;
	color: #333;
	text-align: center;
	line-height: 15px;
	display: block;
}
#vAppCont #vAppWhiteboardToo.active a span, #vAppCont #vAppScreenShareTool.active a span, #vAppCont #vAppSessionEndTool.active a span {
	color:#fff !important;
}
#vAppCont #vAppWhiteboardTool a img, #vAppCont #vAppScreenShareTool a img, #vAppCont #vAppSessionEndTool a img {
	border:none;
}
#vAppCont #vAppOptionsCont .appOptions.active a img, #vAppCont #vAppScreenShareTool .appOptions.active a img, #vAppCont #vAppSessionEndTool .appOptions.active a img {
	-webkit-box-shadow:inset px undefinedpx 3px 3px #ffffff;
	box-shadow:inset px undefinedpx 3px 3px #ffffff;
}
#vAppCont #alwaysPress .audioTool a {
	text-align: center;
	font-size: 14px;
	position: relative;
	top: 15px;
}
#vAppCont #alwaysPress .audioTool.deactive, #audioTest-box .audioTool {
	border:#a4a4a4 1px solid;
	border-bottom-left-radius: 5px;
}
#vAppCont #audioTest-box .audioTool {
	border-top: none !important;
}
#vAppCont #alwaysPress .audioTool.deactive{
	border-radius: 0px;
}


#vAppCont #alwaysPress .audioTool.active, #vAppOptionsCont .appOptions.active, #vAppCont #vAppOptionsCont #vAppWhiteboardTool.active:hover #vAppOptionsCont #vAppScreenShareTool.active:hover, #vAppCont #vAppOptionsCont #vAppSessionEndTool.active:hover {
	background: #9e9e9e; /* Old browsers */
	background: -moz-linear-gradient(left, #9e9e9e 0%, #919191 100%)!important; /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, #9e9e9e), color-stop(100%, #919191)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, #9e9e9e 0%, #919191 100%) !important; /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, #9e9e9e 0%, #919191 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, #9e9e9e 0%, #919191 100%); /* IE10+ */
	background: linear-gradient(to right, #9e9e9e 0%, #919191 100%); /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9e9e9e', endColorstr='#919191', GradientType=1 ); /* IE6-9 */
	border:#777 1px solid;
	border-left-color: #848484;
	border-right-color: #848484;
}
#vAppCont #alwaysPress .audioTool.active {
	color:#fff;
	border-bottom-left-radius: 0px;
	border-top-left-radius: 0px;
}
#vAppCont #alwaysPress .audioTool.active span.icon-whiteboard:before, #vAppCont #vAppOptionsCont .appOptions.active span.icon-whiteboard:before, #vAppCont #alwaysPress .audioTool.active span.icon-whiteboard:before, #vAppCont #audioTest-box .audioTool.audioIsTesting:before {
	color:#fff;
}
#vAppCont #vAppWhiteboardTool, #vAppScreenShareTool, #vAppSessionEndTool {
	padding: 10px 5px;
}
#vAppCont #vAppSessionEndTool {
	padding: 13px 5px;
}
#vAppCont #alwaysPress .audioTool.active, #alwaysPress .audioTool.deactive, #audioTest-box .audioTool {
	text-align: center;
	padding: 12px 13px 7px;
	border-radius: 0px;
}
#vAppCont #audioTest-box .audioTool {
	border-bottom-left-radius:5px;
}
#vAppCont #audioTest-box .audioTool {
	padding: 15px 8px 9px;
}
#vAppCont #alwaysPress .audioTool.active, #alwaysPress .audioTool.deactive {
	padding: 14px 13px 10px;
}
#vAppCont #vAppOptionsCont .appOptions.active {
	border-top-right-radius: 5px;
}
#vAppCont #vAppOptionsCont #vAppScreenShareTool.appOptions.active {
	border-top-right-radius:0px;
}
#vAppCont #mainAudioPanel {
	border:3px solid #e2e2e2;
	border-top-left-radius: 8px;
	border-bottom: none;
}
/* Styles */

#vAppCont #speakerPressonceAnch label {
	width: 40px;
	height: 17px;
	display: inline-block;
	margin-top: 20px;
	position: relative;
	border-radius: 2px;
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding-box;
	background-clip: padding-box;
	background: rgb(138,138,138);
	background: -webkit-linear-gradient(top, rgba(138,138,138,1) 0%, rgba(140,140,140,1) 14%, rgba(159,159,159,1) 72%, rgba(164,164,164,1) 100%);
	background: -moz-linear-gradient(top, rgba(138,138,138,1) 0%, rgba(140,140,140,1) 14%, rgba(159,159,159,1) 72%, rgba(164,164,164,1) 100%);
	background: -o-linear-gradient(top, rgba(138,138,138,1) 0%, rgba(140,140,140,1) 14%, rgba(159,159,159,1) 72%, rgba(164,164,164,1) 100%);
	background: -ms-linear-gradient(top, rgba(138,138,138,1) 0%, rgba(140,140,140,1) 14%, rgba(159,159,159,1) 72%, rgba(164,164,164,1) 100%);
	background: linear-gradient(top, rgba(138,138,138,1) 0%, rgba(140,140,140,1) 14%, rgba(159,159,159,1) 72%, rgba(164,164,164,1) 100%);
	box-shadow: inset 0 2px 5px 0 rgba(0, 0, 0, 0.1), inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
	line-height: 30px;
	font-style: normal;
	color: #fff;
	text-shadow: 0 1px 1px rgba(0,0,0,0.1);
	font-weight: bold;
	-moz-transition: all 1s ease-in;
	-webkit-transition: all 1s ease-in;
	-o-transition: all 1s ease-in;
	transition: all 1s ease-in;
	cursor: pointer;
	right: -2px;
}
#vAppCont #speakerPressonceAnch label.attention:hover {
	background: rgb(238,159,7);
	background: -moz-linear-gradient(top, rgba(238,159,7,1) 0%, rgba(240,171,8,1) 45%, rgba(243,182,15,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(238,159,7,1)), color-stop(45%, rgba(240,171,8,1)), color-stop(100%, rgba(243,182,15,1)));
	background: -webkit-linear-gradient(top, rgba(238,159,7,1) 0%, rgba(240,171,8,1) 45%, rgba(243,182,15,1) 100%);
	background: -o-linear-gradient(top, rgba(238,159,7,1) 0%, rgba(240,171,8,1) 45%, rgba(243,182,15,1) 100%);
	background: -ms-linear-gradient(top, rgba(238,159,7,1) 0%, rgba(240,171,8,1) 45%, rgba(243,182,15,1) 100%);
	background: linear-gradient(to bottom, rgba(238,159,7,1) 0%, rgba(240,171,8,1) 45%, rgba(243,182,15,1) 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ee9f07', endColorstr='#f3b60f', GradientType=0 );
}
#vAppCont #speakerPressOnce label i {
	position: absolute;
	top: -3px;
	right: 24px;
	width: 15px;
	height: 20px;
	display: block;
	border-radius: 2px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	transition: all 200ms ease;
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(252,252,252,1) 11%, rgba(228,228,228,1) 50%, rgba(221,221,221,1) 53%, rgba(205,205,205,1) 97%, rgba(191,191,191,1) 100%);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(252,252,252,1) 11%, rgba(228,228,228,1) 50%, rgba(221,221,221,1) 53%, rgba(205,205,205,1) 97%, rgba(191,191,191,1) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(252,252,252,1) 11%, rgba(228,228,228,1) 50%, rgba(221,221,221,1) 53%, rgba(205,205,205,1) 97%, rgba(191,191,191,1) 100%);
	border: #aaa 1px solid;
}
#vAppCont #speakerPressOnce #speakerPressonceAnch label#speakerPressonceLabel {
	background: #ea1717; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover, #ea1717 0%, #b50303 99%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #ea1717), color-stop(99%, #b50303)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover, #ea1717 0%, #b50303 99%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover, #ea1717 0%, #b50303 99%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover, #ea1717 0%, #b50303 99%); /* IE10+ */
	background: radial-gradient(ellipse at center, #ea1717 0%, #b50303 99%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ea1717', endColorstr='#b50303', GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
#vAppCont #speakerPressOnce.active #speakerPressonceAnch label#speakerPressonceLabel {
	background: rgb(141,173,51);
	background: -webkit-radial-gradient(center, ellipse cover, rgba(141,173,51,1) 0%, rgba(146,178,55,1) 24%, rgba(157,187,64,1) 55%, rgba(166,194,78,1) 100%);
	background: -moz-radial-gradient(center, ellipse cover, rgba(141,173,51,1) 0%, rgba(146,178,55,1) 24%, rgba(157,187,64,1) 55%, rgba(166,194,78,1) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(141,173,51,1) 0%, rgba(146,178,55,1) 24%, rgba(157,187,64,1) 55%, rgba(166,194,78,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(141,173,51,1) 0%, rgba(146,178,55,1) 24%, rgba(157,187,64,1) 55%, rgba(166,194,78,1) 100%);
	background: radial-gradient(center, ellipse cover, rgba(141,173,51,1) 0%, rgba(146,178,55,1) 24%, rgba(157,187,64,1) 55%, rgba(166,194,78,1) 100%);
}
#vAppCont #speakerPressOnce.active #speakerPressonceAnch label#speakerPressonceLabel i {
	right: 0px;
	border: #aaa 1px solid;
}
#vAppCont #speakerPressOnce.active #speakerPressonceAnch label#speakerPressonceLabel:before {
	content: "On";
	position: absolute;
	top: -6px;
	font-weight: normal;
	font-size: 12px;
	left: 4px;
}
#vAppCont #speakerPressOnce #speakerPressonceAnch label#speakerPressonceLabel:before {
	content: "Off";
	position: absolute;
	top: -6px;
	font-weight: normal;
	font-size: 11px;
	left: 18px;
}
#vAppCont #alwaysPress #speakerPressing a#speakerPressingAnch img {
	border:none !important;
}
#vAppCont #speakerPressOnce #speakerPressonceAnch label {
	margin-top: 11px;
	margin-bottom: 11px;
}
#vAppCont #audioTest-box {
	border-radius: 8px;
	text-align: center;
	margin-bottom: 0px;
	border: #e2e2e2 3px solid;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top: none;
}
/* Tooltip */

#vAppCont .vmchat_room_bt.tooltip:hover:after {
	bottom: 2.7em;
	z-index: 10000;
}
#vAppCont .close.tooltip:hover:after {
	bottom: 2em;
}
#vAppCont #usertab_text.tooltip.open:hover:after {
	bottom: 2em;
}
#vAppCont #speakerPressing .tooltip:hover:after, #vAppCont #speakerPressOnce .tooltip:hover:after, #vAppCont #audioTest .tooltip:hover:after {
	line-height: 26px;
}
#vAppCont #speakerPressOnce .tooltip:hover:after {
	bottom:5px !important;
}
#vAppCont #speakerPressing .tooltip:hover:after {
	bottom:-40px !important;
}
#vAppCont #chat_div .ui-memblist-usr a.tooltip:hover:after {
	bottom: 7px;
	z-index: 1;
}

#vAppCont #memlist .ui-memblist-content .ui-memblist-log .ui-memblist-usr .controls .controleCont a.tooltip:hover:after {
	bottom: -45px;
	left: -8px;
}
#vAppCont.student #memlist .ui-memblist-content .ui-memblist-log .ui-memblist-usr .controls .controleCont a.tooltip:hover:after{
	bottom: -28px;
    left: 5px;
}

#vAppCont #memlist .ui-memblist-content .ui-memblist-log .ui-memblist-usr .controls a.tooltip:hover:after {
	bottom: 10px;
	left: -2px;
	font-size: 11px;
	padding-left: 4px;
	padding-right: 4px;
}
#vAppCont #vAppOptionsCont .appOptions .tooltip::hover:after {
 bottom: -20px;
}
#vAppCont #speakerPressOnce.active #speakerPressonceAnch label#speakerPressonceLabel.silenceDetect[data-silence-detect="notSending"], #vAppCont #speakerPressOnce .silenceDetect[data-silence-detect="notSending"] {
	background: #e06f0d; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover, #e06f0d 0%, #f4a52e 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #e06f0d), color-stop(100%, #f4a52e)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover, #e06f0d 0%, #f4a52e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover, #e06f0d 0%, #f4a52e 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover, #e06f0d 0%, #f4a52e 100%); /* IE10+ */
	background: radial-gradient(ellipse at center, #e06f0d 0%, #f4a52e 100%); /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e06f0d', endColorstr='#f4a52e', GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
#vAppCont #speakerPressOnce i.silenceDetect[data-silence-detect="sending"] {
	background: rgb(141,173,51);
	background: -webkit-radial-gradient(center, ellipse cover, rgba(141,173,51,1) 0%, rgba(146,178,55,1) 24%, rgba(157,187,64,1) 55%, rgba(166,194,78,1) 100%);
	background: -moz-radial-gradient(center, ellipse cover, rgba(141,173,51,1) 0%, rgba(146,178,55,1) 24%, rgba(157,187,64,1) 55%, rgba(166,194,78,1) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(141,173,51,1) 0%, rgba(146,178,55,1) 24%, rgba(157,187,64,1) 55%, rgba(166,194,78,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(141,173,51,1) 0%, rgba(146,178,55,1) 24%, rgba(157,187,64,1) 55%, rgba(166,194,78,1) 100%);
	background: radial-gradient(center, ellipse cover, rgba(141,173,51,1) 0%, rgba(146,178,55,1) 24%, rgba(157,187,64,1) 55%, rgba(166,194,78,1) 100%);
	border-radius: 3px;
	border:rgb(119, 149, 35) 1px solid;
}
#vAppCont #commandToolsWrapper #t_rectangle a, #vAppCont #commandToolsWrapper #t_line a, #vAppCont #commandToolsWrapper #t_freeDrawing a, #vAppCont #commandToolsWrapper #t_oval a, #vAppCont #commandToolsWrapper #t_triangle a, #vAppCont #commandToolsWrapper #t_replay a, #vAppCont #commandToolsWrapper #t_clearall a, #vAppCont #commandToolsWrapper #t_connectionoff a, #vAppCont #commandToolsWrapper #t_assign a {
	text-decoration: none;
	padding: 8px 18px 8px;
	color:#535151;
	border-right: #ccc 1px solid;
}
#vAppCont #commandToolsWrapper #t_text a {
	text-decoration: none;
	padding: 5px 18px !important;
	border-right: #ccc 1px solid;
	color:#444;
}
#vAppCont #commandToolsWrapper #t_oval a {
	text-decoration: none;
	padding: 9px 18px 10px;
	color:#444;
}
#vAppCont #commandToolsWrapper #t_activeall a {
	text-decoration: none;
	border-right: #ccc 1px solid;
	padding: 9px 18px;
	color:#444;
}
#vAppCont #containerWb #commandToolsWrapper .tool a:hover {
	background: #d4d4d4; /* Old browsers */
	background: -moz-linear-gradient(top, #d4d4d4 0%, #fbfbfb 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d4d4d4), color-stop(100%, #fbfbfb)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #d4d4d4 0%, #fbfbfb 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #d4d4d4 0%, #fbfbfb 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #d4d4d4 0%, #fbfbfb 100%); /* IE10+ */
	background: linear-gradient(to bottom, #d4d4d4 0%, #fbfbfb 100%); /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4d4d4', endColorstr='#fbfbfb', GradientType=0 ); /* IE6-9 */
}
#vAppCont #containerWb #commandToolsWrapper .tool a:before {
	font-family: "icomoon";
	display: inline-block;
	vertical-align: middle;
	font-weight: normal;
	color:#444;
}
#vAppCont #vAppOptionsCont .appOptions a span:before {
	color:#535151;
	font-weight: 100;
	font-variant: normal;
	-webkit-font-smoothing: antialiased;
}
#vAppCont #commandToolsWrapper .tool.active a, #vAppCont #commandToolsWrapper .tool.active a:hover {
	background: #919191; /* Old browsers */
	background: -moz-linear-gradient(top, #919191 0%, #919191 100%) !important; /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #919191), color-stop(100%, #919191)) !important; /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #919191 0%, #919191 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #919191 0%, #919191 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #919191 0%, #919191 100%); /* IE10+ */
	background: linear-gradient(to bottom, #919191 0%, #919191 100%); /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#919191', endColorstr='#919191', GradientType=0 ); /* IE6-9 */
	text-shadow: 0 1px 14px #eee;
}
#vAppCont #vAppOptionsCont .appOptions.active a span:before {
	color:#fff;
}
#vAppCont .tool.active a span:before {
	text-shadow: 0 1px 11px #eee;
	color:#fff !important;
}
#vAppCont #ui-memblist .icon-chatImg:before, #vAppCont #ui-memblist .icon-audioEnaGreen:before, #vAppCont #ui-memblist .icon-audioImg:before, #vAppCont #ui-memblist .icon-audioDisImg:before {
	font-weight: 100;
	font-variant: normal;
	-webkit-font-smoothing: antialiased;
}
/* Icon Css */

#vAppCont #commandToolsWrapper .icon-rectangle:before {
	content: "\e60b";
	font-size: 30px;
}
#vAppCont #commandToolsWrapper .icon-line:before {
	content: "\e607";
	font-size: 30px;
}
#vAppCont #commandToolsWrapper .icon-freeDrawing:before {
	content: "\f040";
	font-size: 30px;
}
#vAppCont #commandToolsWrapper .icon-oval:before {
	content: "\f1db";
	font-size: 27px;
}
#vAppCont #commandToolsWrapper .icon-triangle:before {
	content: "\e603";
	font-size: 30px;
}
#vAppCont #commandToolsWrapper .icon-text:before {
	content: "\e60e";
	font-size: 36px;
	position: relative;
	top: 1px;
}
#vAppCont #commandToolsWrapper .icon-activeAll:before {
	content: "\e600";
	font-size: 28px;
}
#vAppCont #commandToolsWrapper .icon-clearAll:before {
	content: "\ea0f";
	font-size: 30px;
}
#vAppCont #vAppWhiteboardTool .icon-whiteboard:before {
	content: "\e604";
	font-size: 32px;
	position: relative;
	top:2px;
	left:0px;
}
#vAppCont #vAppScreenShareTool .icon-screenshare:before {
	content: "\e602";
	font-size: 32px;
	position: relative;
	top:2px;
	left:0px;
}
#vAppCont #vAppSessionEndTool .icon-sessionend:before {
	content: "\e9b6";
	font-size: 22px;
	position: relative;
	left:0px;
}
#vAppCont #speakerPressing .icon-speakerPressing:before {
	content: "\f130";
	font-size: 36px;
	position: relative;
	top: -15px;
	left: -1px;
}
#vAppCont #audioTest .icon-audiotest:before {
	content: "\e60d";
	font-size: 45px;
}
#vAppCont #chatroom_icon .icon-chatroom:before {
	content: "\f0e6";
	font-size: 20px;
	position: relative;
	top:-5px;
}
#vAppCont .ui-memblist-usr .icon-assignImg:before {
	content: "\f064";
	font-size: 17px;
	color:#535151;
	position: relative;
	top: -1px;
}
#vAppCont .ui-memblist-usr .icon-assignImg.block.currTeacher:before {
	color:#94b532;
}
#vAppCont .ui-memblist-usr .icon-chatImg:before {
	content: "\f075";
	font-size: 14px;
	color:#535151;
	top:-1px;
	position: relative;
	left:-2px;
        vertical-align: super;
}
#vAppCont .icon-chatImg.enable:before {
	color:#94b532;
}
#vAppCont.student .icon-audioImg.enable:before {
	content: "\f026";
	font-size: 17px;
	color:#535151;
	position: relative;
	padding-right: 8px;
	left: 1px;
	top: -2px;
}
#vAppCont.teacher.orginalTeacher .icon-audioImg.enable:before, #vAppCont.teacher .icon-audioImg.enable:before {
	content: "\f026";
	font-size: 17px;
	color:#535151;
	top: -2px;
	position: relative;
	padding-right: 8px;
	left: 2px;
}
#vAppCont .ui-memblist-usr .icon-audioEnaGreen:before {
	content: "\ea27";
	font-size: 14px;
	color:#94b532;
	top: 0px;
	position: relative;
	font-variant: normal;
	font-style: normal;
	font-weight: normal;
}
#vAppCont .ui-memblist-usr .icon-audioEnaOrange:before {
	content: "\ea27";
	font-size: 14px;
	color:#e55e0d;
	top: 0px;
	position: relative;
	font-variant: normal;
	font-style: normal;
	font-weight: normal;
}
#vAppCont .ui-memblist-usr .icon-audioDisImg:before {
	content: "\ea2a";
	font-size: 14px;
	color:#535151;
	top: 0px;
	position: relative;
	left: 2px;
}
#vAppCont #usertab_text .icon-arrow-up:after, #vAppCont #chatroom_text .icon-arrow-up:after {
	content: "\e606";
	font-size: 20px;
}
#vAppCont .icon-arrow-down:after, #vAppCont .icon-arrow-up:after {
	position : relative;
	top : -3px;
	right: -10px;
}
#vAppCont #usertab_text .icon-arrow-down:after, #vAppCont #chatroom_text .icon-arrow-down:after {
	content: "\e601";
	font-size: 20px;
}
#vAppCont .ui-widget-header .ui-icon-closethick:before {
	content: "\f026";
	font-size: 20px;
}
#vAppCont .ui-widget-header .icon-user:before {
	content: "\f007";
	font-size: 20px;
	position: relative;
	top: 7px;
}
#vAppCont #t_reclaim .icon-reclaim:before {
	content: "\f112";
	font-size: 28px;
	position: relative;
	top:10px;
	color:#535151;
}
#vAppCont #commandToolsWrapper a {
	text-decoration: none;
}
#vAppCont #onlineusertext {
	position: relative;
	top: -7px;
}
#vAppCont #speakerPressing.active {
	cursor : auto;
}
#vAppCont.orginalTeacher #chat_div .controls span.enable{
	cursor : pointer;
}
#vAppCont #chatroom_bt2 .inner_bt #chatroom_text .icon-arrow-down:after, #vAppCont #chatroom_bt2 .inner_bt #chatroom_text .icon-arrow-up:after {
	right: -10px;
	top:5px;
}
#vAppCont #alwaysPress .audioTool a {
	text-transform: uppercase;
	font-size: 10px;
	text-align: center;
}
#vAppCont #speakerPressingtext {
	line-height: 13px;
	font-size: 10px;
	position: relative;
	top: -7px;
}
#vAppCont #chatWidget .ui-memblist .ui-widget-header.ui-corner-top span {
	position: relative;
	top: -4px;
}

#vAppCont.orginalTeacher .ui-memblist-usr .controls .controleCont a.tooltip:hover:after {
	bottom: -2.7em !important;
	left: 10px;
	display: inherit;
}
#vAppCont #commandToolsWrapper .tool.active a:hover {
	color:#000 !important;
}
#vAppCont .inner_bt {
	line-height: 21px;
	padding: 15px 0;
}
#vAppCont .ui-widget-header.ui-corner-top.ui-chatbox-titlebar.ui-dialog-header a.ui-corner-all.ui-chatbox-icon {
	padding-top: 1px !important;
}
#vAppCont .tabs-bottom a.ui-corner-all.ui-chatbox-icon {
	padding-top: 11px !important;
}
#vAppCont .ui-icon.ui-icon-minusthick {
	top: 1px !important;
}

#vAppCont.student .ui-memblist-usr .icon-chatImg:before{left: -4px;}
.ui-corner-top.ui-memblist .ui-dialog-header .ui-corner-all{margin-right: 5px;}
