/* black */
$bgcoloroftoolbox-1: #021317;
$bgcoloroftoolbox-2: #333636;

$linesbtwtoolbox: #555;

$bordercoloroftoolbox: #E2E2E4;
$buttonborderofeditortoolbox: #555;
$shadowofbottombar: #aaa;
$selectedbuttonontoolbox-1: #323e49;
$bttoncolorofeditortoolbox: #01080a;
$iconcolor: #fff;
$hovercoloroftoolbox-1: #0a0c0d;
$hovercoloroftoolbox-2: #212121;

/* black end */
#virtualclassCont.congrea {
  #virtualclassOptionsCont {
    border: $bordercoloroftoolbox 5px solid;
  }

  #virtualclassDocumentShare.virtualclass.container #newdocsBtnCont,
  #videoList #newVideoBtnCont{
    border-bottom: 1px solid $shadowofbottombar;
    background: $iconcolor;
  }

  #virtualclassOptionsCont:first-child, #virtualclassOptionsCont {
    background: -moz-linear-gradient(left, $bgcoloroftoolbox-1 0%, $bgcoloroftoolbox-2 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, $bgcoloroftoolbox-1), color-stop(100%, $bgcoloroftoolbox-2)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, $bgcoloroftoolbox-1 0%, $bgcoloroftoolbox-2 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, $bgcoloroftoolbox-1 0%, $bgcoloroftoolbox-2 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, $bgcoloroftoolbox-1 0%, $bgcoloroftoolbox-2 100%); /* IE10+ */
    background: linear-gradient(to right, $bgcoloroftoolbox-1 0%, $bgcoloroftoolbox-2 100%); /* W3C */
  }

  #virtualclassOptionsCont:first-child, #virtualclassOptionsCont {
    background: -moz-linear-gradient(left, $bgcoloroftoolbox-1 0%, $bgcoloroftoolbox-2 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, $bgcoloroftoolbox-1), color-stop(100%, $bgcoloroftoolbox-2)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, $bgcoloroftoolbox-1 0%, $bgcoloroftoolbox-2 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, $bgcoloroftoolbox-1 0%, $bgcoloroftoolbox-2 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, $bgcoloroftoolbox-1 0%, $bgcoloroftoolbox-2 100%); /* IE10+ */
    background: linear-gradient(to right, $bgcoloroftoolbox-1 0%, $bgcoloroftoolbox-2 100%); /* W3C */
  }

  #audioWidget {
    background: -moz-linear-gradient(left, $bgcoloroftoolbox-2 0%, $bgcoloroftoolbox-1 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, $bgcoloroftoolbox-2), color-stop(100%, $bgcoloroftoolbox-1)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, $bgcoloroftoolbox-2 0%, $bgcoloroftoolbox-1 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, $bgcoloroftoolbox-2 0%, $bgcoloroftoolbox-1 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, $bgcoloroftoolbox-2 0%, $bgcoloroftoolbox-1 100%); /* IE10+ */
    background: linear-gradient(to right, $bgcoloroftoolbox-2 0%, $bgcoloroftoolbox-1 100%); /* W3C */
  }

  #chatWidget .chatBarTab {
    background: $bgcoloroftoolbox-1;
  }

  .vmchat_room_bt {
    border-right: 1px solid $linesbtwtoolbox;
  }
  .vmchat_bar_button{
    border-right: 1px solid $linesbtwtoolbox;
  }
  /*bottom bar*/
  .ui-widget-header {
    background: -moz-linear-gradient(top, $bgcoloroftoolbox-2 0%, $bgcoloroftoolbox-1 100%) !important; /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $bgcoloroftoolbox-2), color-stop(100%, $bgcoloroftoolbox-1)) !important; /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, $bgcoloroftoolbox-2 0%, $bgcoloroftoolbox-1 100%) !important; /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, $bgcoloroftoolbox-2 0%, $bgcoloroftoolbox-1 100%) !important; /* Opera 11.10+ */
    background: -ms-linear-gradient(top, $bgcoloroftoolbox-2 0%, $bgcoloroftoolbox-1 100%) !important; /* IE10+ */
    background: linear-gradient(to bottom, $bgcoloroftoolbox-2 0%, $bgcoloroftoolbox-1 100%) !important; /* W3C */
  }

  #tabs.ui-widget-content {
    box-shadow: 0 0 5px $shadowofbottombar;
  }

  /*poll*/
  #navigator,
  #layoutQuiz .navbar {
    background: -moz-linear-gradient(top, $bgcoloroftoolbox-1 0%, $bgcoloroftoolbox-2); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, $bgcoloroftoolbox-1 0%, $bgcoloroftoolbox-2); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, $bgcoloroftoolbox-1 0%, $bgcoloroftoolbox-2); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  }

  #layoutPollBody .vcPollCont a span[data-toggle="tooltip"]{
    color: $linesbtwtoolbox;
  }

  /*editor */
  a.vceditor-btn:hover,
  .vceditor-dropdown-menu a:hover {
    background-color: $hovercoloroftoolbox-2;
    border-color: $buttonborderofeditortoolbox;
  }

  a.vceditor-btn,
  a.vceditor-btn:visited,
  a.vceditor-btn:active {
    background-color: $bttoncolorofeditortoolbox;
    border: 1px solid $buttonborderofeditortoolbox;
    color: $iconcolor;
  }

  .vceditor-toolbar {
    background-color: $bgcoloroftoolbox-1;
  }

  #virtualclassAppRightPanel #audioWidget {
    background: $bgcoloroftoolbox-1 none;
  }

  /*whiteboard*/
  .commandToolsWrapper,
  .rv-vanilla-modal-header,
  #recordPlay .rv-vanilla-modal-body #downloadPcCont #downloadSessionText {
    border-bottom: 0px solid $shadowofbottombar;
  }

  .containerWb .commandToolsWrapper .tool a {
    border-right: 1px solid $linesbtwtoolbox;
    color: $iconcolor;
  }

  .commandToolsWrapper,
  .rv-vanilla-modal-header,
  #recordPlay .rv-vanilla-modal-body #downloadPcCont #downloadSessionText,
  .commandToolsWrapper .tool.active a,
  .commandToolsWrapper .tool.active a:hover {
    background: -moz-linear-gradient(top, $bgcoloroftoolbox-2 0%, $bgcoloroftoolbox-1 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $bgcoloroftoolbox-2), color-stop(100%, $bgcoloroftoolbox-1)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, $bgcoloroftoolbox-2 0%, $bgcoloroftoolbox-1 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, $bgcoloroftoolbox-2 0%, $bgcoloroftoolbox-1 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, $bgcoloroftoolbox-2 0%, $bgcoloroftoolbox-1 100%); /* IE10+ */
    background: linear-gradient(to bottom, $bgcoloroftoolbox-2 0%, $bgcoloroftoolbox-1 100%); /* W3C */
  }

  #virtualclassOptionsCont #virtualclassEditorRichTool:hover,
  #virtualclassOptionsCont #virtualclassEditorCodeTool:hover,
  #virtualclassOptionsCont #virtualclassVideoTool:hover,
  #virtualclassOptionsCont #virtualclassPollTool:hover,
  #virtualclassOptionsCont #virtualclassQuizTool:hover,
  #virtualclassOptionsCont #virtualclassSharePresentationTool:hover,
  #virtualclassOptionsCont #virtualclassDocumentShareTool:hover,
  #virtualclassOptionsCont #virtualclassScreenShareTool:hover,
  #virtualclassOptionsCont #virtualclassSessionEndTool:hover,
  #virtualclassOptionsCont #virtualclassYtsTool:hover,
  #virtualclassOptionsCont #virtualclassWhiteboardTool:hover,
  #containerWb .commandToolsWrapper .tool a:hover,
  #audioTest-box:hover,
  #audioWidget #speakerPressOnce:hover,
  #alwaysPress:hover {
    background: -moz-radial-gradient(center, ellipse cover, $hovercoloroftoolbox-1 0%, $hovercoloroftoolbox-2 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, $hovercoloroftoolbox-1), color-stop(100%, $hovercoloroftoolbox-2)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, $hovercoloroftoolbox-1 0%, $hovercoloroftoolbox-2 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, $hovercoloroftoolbox-1 0%, $hovercoloroftoolbox-2 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, $hovercoloroftoolbox-1 0%, $hovercoloroftoolbox-2 100%); /* IE10+ */
    background: radial-gradient(ellipse at center, $hovercoloroftoolbox-1 0%, $hovercoloroftoolbox-2 100%); /* W3C */
  }

  /*Session save popup*/
  #confirm.popupWindow #confirmOk #confirmOkButton,
  #confirmCancelButton,
  #playControllerCont #replayFromStart .icon-Replayfromstart,
  #popupContainer #replayContainer #replayButton,
  #playButton {
    background-color: $bgcoloroftoolbox-1;
    color: $iconcolor;
  }

  #confirm #confirmOk #confirmOkButton:hover,
  #playButton:hover,
  #playControllerCont #replayFromStart .icon-Replayfromstart:hover {
    background-color: $bgcoloroftoolbox-2 !important;
  }

  #confirmCancel #confirmCancelButton {
    background-color: $bgcoloroftoolbox-1;
    color: $iconcolor;
  }

  #confirmCancel #confirmCancelButton:hover {
    background-color: $bgcoloroftoolbox-2 !important;
  }

  .vmchat_room_bt.active,
  [data-currapp="EditorRich"] .vmchat_bar_button.active,
  .vmchat_support.active {
    background-color: $selectedbuttonontoolbox-1;
  }

  #virtualclassOptionsCont,
  .tooltip,
  #t_reclaim .icon-educator:before,
  .ui-dialog-header span,
  #chatroom_bt2 .inner_bt,
  #speakerPressing .icon-speakerPressing:before,
  #virtualclassOptionsCont .appOptions a span:before,
  #virtualclassOptionsCont .appOptions a span:before,
  #stickybar,
  .vchead,.bootstrap .pollNavBar > li > a {
    color: $iconcolor;
  }

  #virtualclassOptionsCont .appOptions {
    border: 1px solid $linesbtwtoolbox;
  }

  #alwaysPress .audioTool.active,
  #virtualclassOptionsCont .appOptions.active,
  #virtualclassOptionsCont #virtualclassWhiteboardTool.active:hover,
  #virtualclassOptionsCont #virtualclassScreenShareTool.active:hover,
  #virtualclassOptionsCont #virtualclassSessionEndTool.active:hover,
  #audioTest-box .audioTool.audioIsTesting {
    background: -moz-radial-gradient(center, ellipse cover, $selectedbuttonontoolbox-1 0%, $bttoncolorofeditortoolbox 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, $selectedbuttonontoolbox-1), color-stop(100%, $bttoncolorofeditortoolbox)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, $selectedbuttonontoolbox-1 0%, $bttoncolorofeditortoolbox 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, $selectedbuttonontoolbox-1 0%, $bttoncolorofeditortoolbox 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, $selectedbuttonontoolbox-1 0%, $bttoncolorofeditortoolbox 100%); /* IE10+ */
    background: radial-gradient(ellipse at center, $selectedbuttonontoolbox-1 0%, $bttoncolorofeditortoolbox 100%); /* W3C */
  }

  .bootstrap .pollNavBar > li > a:hover{
    color: $buttonborderofeditortoolbox;
  }


}