{{!-- cn == currNote, cd == currDoc--}}
<div class='dbContainer' data-app="{{app}}" id="docsDbCont">
  <div id="docsListContainer" class="col-sm-2">
    <div id="listdocs" class="listPages pages list-group"></div>
    <div id="newdocsBtnCont">
      <button id="newDocBtn" class="btn-default btn"><span class="glyphicon glyphicon-upload" title="{{getString 'Udocument'}}"></span><span class="uploadBtnTxt">{{getString 'Udocument'}}</span></button>
    </div>
  </div>

  <div class="dashboardview col-sm-10">
    <div id="docsuploadContainer" class="col-sm-12">  </div>
    {{#if hasControls}}
      <div id="docsUploadMsz" class="qq-gallery">  </div>
      <div id="listnotes" class="listPages pages col-sm-12"></div>
    {{/if}}
  </div>
</div>