<div id="virtualclassDocumentShare" class="virtualclass container" data-screen="1">
  <div id="docsPopupCont" class="bootstrap"></div>
  <div id="documentScreen" class="container">

    <div id="docScreenContainer">
      {{#if control}}

        <!--<div id="docsListContainer">-->
          <!--<div id="newdocsBtnCont">-->
            <!--<button id="newDocBtn">Upload Documents</button>-->
          <!--</div>-->
          <!--<div id="listdocs" class="listPages pages"></div>-->
        <!--</div>-->

      {{else}}
        <p id="docMsgStudent">{{getString 'mybsharedoc'}}</p>
      {{/if}}
    </div>

  </div>
</div>
