{{#each notes}}
  <div id="note{{id}}" class="note" data-slide="{{id}}" data-status="{{status}}" >
    <!-- <div class="imageContainer">
      <img src= {{content_path}} />
    </div> -->
  </div>
{{/each}}
