<div class="inputWrapper clearfix">
  <textarea rows="1" id="option{{close.index}}" class="opt form-control parent" placeholder="Type option"
  ></textarea>
  {{#if close.closeBtn}}
  <a id="remove{{close.index}}" class="close child">×</a>
  {{/if}}
</div>
