<div class="inputWrapper clearfix">
  <textarea rows="1" id="option{{seq}}" class="opt form-control" placeholder="Type option"
            style="width: 97%; float: left;"></textarea>
  <a id="remove{{seq}}" class="close">×</a>
</div>
