<div id="stdPollContainer" class="container">
  <div id="stdContHead" class="panel">
    <label id="timerLabel"></label>
    <div id="timerCont"></div>
  </div>
  <div id="stdContBody" class="panel">
    <label>Question : <span id="stdQnCont">{{poll.question}}</span></label>
    <div id="stdOptionCont">
      {{#each poll.options}}
        <div>
          <input class="opt" name="option" value="{{@key}}" type="radio" id="{{@key}}">
          <span>{{this}}</span>
        </div>
      {{/each}}
    </div>
  </div>
  <div id="stdContFooter">
    <input id="btnVote" class="btn btn-primary" value ="vote">
  </div>
</div>