<table id="listViewTable" class="table table-bordered">
  <thead>
  <tr>
    <th>{{getString 'NAME'}}</th>
    <th>{{getString 'optselectd'}}</th>
  </tr>
  </thead>
  <tbody id="resultList">

  </tbody>
</table>