
<div  class="panel">
  <label>Question:<span id="qnLabelCont">{{poll.question}}</span></label>
  <div id="optnNonVotd">
    {{#each poll.options}}
      <div>
        <input class="opt" name="option" value="{{@key}}" type="radio" id="{{@key}}">
        <snap>{{this}}</snap>
      </div>
    {{/each}}
  </div>
</div>