<div class="modal-dialog" id="yui_3_17_2_1_1496125638736_94">
  <div class="modal-content" id="pollModalBody">
    <div id="contHead" class="modal-header">
      <button type="button" class="close" id="modalClose">×</button>

      <div id="resultTx" class="row modalHeaderTx">Poll Result</div>
    </div>
    <div id="resultLayout">
      <div id="resultLayoutHead" class="row">
        <div id="timerWrapper" class="col-md-6">
          <label id="timerLabel">Remaining Time</label>
          <div id="timerCont"></div>
        </div>
        <div id="votesWrapper" class="col-md-6">
          <label id="congreaPollVoters">Voted So Far</label>
          <div id="receivedVotes"></div>
        </div>
      </div>
      <div id="resultLayoutBody" class="row">
        <div id="qnLabelCont" class="row"></div>
        <div id="chartMenuCont" class="row">
          <div id="bar" class="col-sm-1">
            <a href="#" id="barView">
              <span class="icon-stats-bars"></span>
            </a>
          </div>
          <div id="pi" class="col-sm-1">
            <a href="#" id="piView">
              <span class="icon-pie-chart"></span>
            </a>
          </div>
          <div id="rList" class="col-sm-1">
            <a href="#" id="listView">
              <span class="icon-list-ul"></span>
            </a>
          </div>
        </div>
        <div id="chart" class="row c3" style="max-height: 320px; position: relative;"></div>
        <div class="table-responsive" id="listCont"></div>

      </div>
      <div id="pollResultMsz" class="pollResultMsz">Waiting for student response.....</div>
      <div id="resultLayoutFooter" class="row">

      </div>
    </div>
  </div>
</div>