<div id="resultLayout">
  <div id="resultLayoutHead" class="stdrslt container">
    <div id="timerWrapper">
      <label id="timerLabel">Remaining Time</label>
      <div id="timerCont"></div>
    </div>
    <div id="votesWrapper" class="modal-header">
    </div>
  </div>
  <div id="resultLayoutBody" class="container stdlayout">
    <label><span id="qnLabelCont"></span></label>
    <div id="optnNonVotd"></div>
    <div id="chartMenuCont" class="panel">
      <button id="bar">
        <a href="#" id="barView">
          <span class="icon-stats-bars"></span>
        </a>
      </button>
      <button id="pi">
        <a href="#" id="piView">
          <span class="icon-pie-chart"></span>
        </a>
      </button>
    </div>
    <div id="chart" class="row c3" style="display: none; max-height: 320px; position: relative;"></div>
  </div>
  <div id="pollResultMsz" class="pollResultMsz"></div>
  <div id="resultLayoutFooter" class="row">
  </div>
</div>