<div id="resultLayout">
  <div id="resultLayoutHead" class="row">
    <div id="timerWrapper" class="col-md-6">
      <label id="timerLabel">Remaining Time</label>
      <div id="timerCont"></div>
    </div>
    <div id="votesWrapper" class="col-md-6">
      <label id="congreaPollVoters">Voted So Far</label>
      <div id="receivedVotes"></div>
    </div>
  </div>
  <div id="resultLayoutBody" class="row">
    <div id="qnLabelCont" class="row"></div>
    <div id="chartMenuCont" class="row">
      <div id="bar" class="col-sm-1">
        <a href="#" id="barView">
          <span class="icon-stats-bars"></span>
        </a>
      </div>
      <div id="pi" class="col-sm-1">
        <a href="#" id="piView">
          <span class="icon-pie-chart"></span>
        </a>
      </div>
    </div>
    <div id="chart" class="row c3" style="display: none; max-height: 320px; position: relative;"></div>
  </div>
  <div id="pollResultMsz" class="pollResultMsz"></div>
  <div id="resultLayoutFooter" class="row">
  </div>
</div>