<div id="resultLayout">
  <div id="resultLayoutHead" class="stdrslt container">
    <div id="timerWrapper">
      <label id="timerLabel">{{getString 'Rtime'}}</label>
      <div id="timerCont"></div>
    </div>
    <div id="votesWrapper" class="modal-header">
    </div>
  </div>
  <div id="resultLayoutBody" class="container stdlayout">
    <label>Question : <span id="qnLabelCont">{{obj.question}}</span></label>

    <div  class="panel">
      <div id="optnNonVotd">

      </div>
    </div>

    <div id="chartMenuCont" class="panel">
      <button id="bar" class="btn btn-default">
        <a href="#" id="barView">
          <span class="icon-stats-bars cgIcon"></span>
        </a>
      </button>
      <button id="pi" class="btn btn-default">
        <a href="#" id="piView" >
          <span class="icon-pie-chart cgIcon"></span>
        </a>
      </button>
    </div>
    <div id="chart" class="row c3" style="display: none; max-height: 320px; position: relative;"></div>
  </div>
  <div id="pollResultMsz" class="pollResultMsz"></div>
  <div id="resultLayoutFooter" class="row">
  </div>
</div>
