.screen {
	display : none;
}

.current {
	display : block;
}

#listDocs .linkdoc {
	display : inline;
	background : gray;
	margin-left : 10px;
	padding : 10px;
	cursor: pointer;
}

#documentScreen {
	margin-bottom : 60px;
}

.page_wrapper{
		overflow: hidden;
		position:relative;
		height:280px;
		top:auto;
	}

.image_slider{
		position: relative;
		height: auto;
		list-style: none;
		overflow: hidden;
		float: left;
		/*Chrom default padding for ul is 40px */
		padding:0px;
		margin:0px;
	}

.image_slider li{
		position: relative;
		float: left;
	}

#pager{
		/* firefox has different center method. this doesn't work for fire fox */
		/* not in the center*/
		padding:0px;
		position:relative;
		height:50px;
	margin:auto;
		margin-top:10px;
	}
	#pager li{
		padding: 0px;
		margin:5px;
		width:20px;
		height:20px;
		border:1px solid white;
		color:white;
		list-style: none;
		opacity: 0.6;
		float:left;
		border-radius: 3px;
		cursor: pointer;
	}
	#pager li:hover{
		opacity:0.9;
	}

#documentScreen #docScreenContainer{
	#documentScreen {
		overflow : hidden;
		position : relative;
	}
}

#documentSharing #listDocs {
	 margin-top : 90px;
}

.pageContainer .note {
	display : none;
}

.pageContainer .note.current{
	display : block;
}

#virtualclassDocumentShare.container,  #virtualclassDocumentShare #documentScreen{
	width : 90%;
}

#virtualclassCont.congrea .pages .links[data-status='0'] {
	opacity : 0.5;
}

#virtualclassCont.congrea .screen[data-status='0']{
	opacity : 0.5;
	pointer-events: none;
}


#virtualclassCont.congrea .page_wrapper {
    height : 600px;
}

#listnotes {
    width : 1600px;
}

#virtualclassCont.congrea .pages .links {
    position : relative;

}

#virtualclassCont.congrea[data-currapp = 'Poll'] #chat_div .controls  [data-title = 'Transfer Controls'],
#virtualclassCont.congrea[data-currapp = 'Video'] #chat_div .controls  [data-title = 'Transfer Controls'],
#virtualclassCont.congrea[data-currapp = 'Quiz'] #chat_div .controls  [data-title = 'Transfer Controls'],
#virtualclassCont.congrea[data-currapp = 'DocumentShare'] #chat_div .controls  [data-title = 'Transfer Controls']{
	pointer-events : none;
	opacity : 0.5;
}