
<div class='dbContainer' data-app="{{app}}" id="pptDbCont">
  <div id="pptListContainer">
    <div id="listppt" class="listPages pages list-group"></div>
    <!--<div id="newpptBtnCont">-->
      <!--<button id="newpptBtn">Upload ppt url </button>-->
    <!--</div>-->
  </div>

  <div class="dashboardview" >
    <div id="pptuploadContainer">
      <div id="urlcontainer" style="display: block;" class="form-group">
        <input id="presentationurl" placeholder="{{getString 'EHTMLPresentUrl'}}" class="form-control">
        <input type="submit" id="submitpurl" class ="btn-default"value="Save">
      </div>
    </div>
  </div>
</div>


