<div id="virtualclassSharePresentation" class="virtualclass">
  {{#if control}}
    <!--<div id="urlcontainer" style="display: block;">-->
      <!--<input id="presentationurl" placeholder="Enter HTML5 Presentation Url.">-->
      <!--<input type="submit" id="submitpurl" value="submit">-->
    <!--</div>-->
  {{/if}}
</div>