#virtualclassCont.congrea #askQuestion .container .question .content p {
  font-size: 15px;
  color: #353535;
}

#virtualclassCont.congrea #askQuestion .container .question .content {
  padding-top: 5px;
  height: fit-content;
  overflow-y: auto;
  overflow-x: hidden;
  margin-bottom: 4px;
}

#virtualclassCont.congrea #askQuestion .container .question {
  border: 1px solid #dadada;
  height: fit-content;
  background-color: #fff;
  width: 100%;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  box-shadow: 1px 2px 4px #7b7b7b;
  border-left: 3px solid red;
}

#virtualclassCont.congrea #askQuestion .container.askContainer {
  padding: 0;
  width: 100%;
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
}

/* #virtualclassCont.congrea #askQuestion .container .question .footer {
  position: relative;
  top: 0;
} */

#virtualclassCont.congrea #askQuestion .container .question .footer .controls,
#virtualclassCont.congrea #askQuestion .container .answer .footer .controls {
  float: left;
}

#virtualclassCont.congrea #askQuestion .container .question .footer .controls .upVote,
#virtualclassCont.congrea #askQuestion .container .question .footer .controls .answersNavigation,
#virtualclassCont.congrea #askQuestion .container .question .footer .controls .reply,
#virtualclassCont.congrea #askQuestion .container .question .header .info .userName,
#virtualclassCont.congrea #askQuestion .container .question .header .info .lable,
#virtualclassCont.congrea #askQuestion .container .question .header .info .closed-icon,
#virtualclassCont.congrea #askQuestion .container .answer .footer .controls .upVote,
#virtualclassCont.congrea #askQuestion .container .answer .footer .controls .commentNavigation,
#virtualclassCont.congrea #askQuestion .container .answer .footer .controls .comment,
#virtualclassCont.congrea #askQuestion .container .answer .header .info .userName,
#virtualclassCont.congrea #askQuestion .container .answer .header .info .lable,
#virtualclassCont.congrea #askQuestion .container .answer .header .info .acceptedAnswer {
  display: inline-block;
}

#virtualclassCont.congrea #askQuestion .container .question .footer .controls .button,
#virtualclassCont.congrea #askQuestion .container .question .footer .controls .total,
#virtualclassCont.congrea #askQuestion .container .answer .footer .controls .button,
#virtualclassCont.congrea #askQuestion .container .answer .footer .controls .total {
  font-family: Raleway, Helvetica, sans-serif;
  border-radius: 5px;
  border: none;
  background: 0 0;
  font-size: 14px;
  padding: 5px 13px 5px 2px;
}

#virtualclassCont.congrea #askQuestion .container .question .footer .moreControls,
#virtualclassCont.congrea #askQuestion .container .answer .footer .moreControls {
  float: right;
}

#virtualclassCont.congrea #askQuestion .container .question .footer .moreControls .item {
  display: none;
}

#virtualclassCont.congrea #askQuestion {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #f1f1f1;
}

#virtualclassCont.congrea #askQuestion #writeContent .text {
  border-radius: 4px;
  width: 100%;
}

#virtualclassCont.congrea #askQuestion #writeContent {
  margin: 5px 5px 3px 5px;
}

#virtualclassCont.congrea #askQuestion .context {
  display: none;
}

#virtualclassCont.congrea #askQuestion .context.current {
  display: block;
}

#virtualclassCont.congrea #askQuestion .upVote[data-upvote="upvoted"],
#virtualclassCont.congrea[data-currapp='Poll'] #virtualclassApp #congHr,
#virtualclassCont.congrea[data-currapp='Quiz'] #virtualclassApp #congHr {
  opacity: 0.5 !important;
  pointer-events: none !important;
}

#virtualclassCont.congrea #askQuestion .context .container {
  padding: 0;
  width: 100%;
  flex: 1;
}

#virtualclassCont.congrea #askQuestion .container .question .header .info .closed-icon {
  float: right;
}

#virtualclassCont.congrea #askQuestion .question .container {
  padding: 5px;
}

#virtualclassCont.congrea #askQuestion .question .container .header .info {
  color: #1e2c30;
}

#virtualclassCont.congrea #askQuestion .question .container .header .info .lable {
  margin-left: 8px;
  color: #717171;
  font-size: 13px;
}
