#virtualclassCont.congrea #askQuestion .container .question .content p {
  font-size: 12px;
  color: #3a3a3a;
  line-height: 16px;
  margin-bottom: -1px;
}

#virtualclassCont.congrea #askQuestion .container .question .content {
  /* max-height: 50px;
  overflow-y: auto;
  overflow-x: hidden; */
  margin-bottom: 4px;
  margin-top: 4px;
  padding-left: 1px;
}

#virtualclassCont.congrea #askQuestion .container .question {
  border-top: 1px solid #e4e4e4;
  height: fit-content;
  background-color: #fff;
  width: 100%;
  margin-bottom: 6px;
  display: flex;
  flex-direction: column;
  border-radius: 3px;

  /* box-shadow: 1px 2px 3px 0 #9a9a9a; */
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

#virtualclassCont.congrea #askQuestion .container.askContainer,
#virtualclassCont.congrea #noteContainer .note.container {
  padding: 3px 3px 2px 0;
  width: 100%;
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  /* background-color: #efefef; */
  height: 90%;
}

/* #virtualclassCont.congrea #askQuestion .container .question .footer {
  position: relative;
  top: 0;
} */

#virtualclassCont.congrea #askQuestion .container .footer .controls {
  flex: 1;
  display: flex;
  flex-direction: row;
}

/* #virtualclassCont.congrea #askQuestion .container .footer .controls div,
#virtualclassCont.congrea #askQuestion .container .question .footer .controls .answersNavigation,
#virtualclassCont.congrea #askQuestion .container .question .footer .controls .reply,
#virtualclassCont.congrea #askQuestion .container .header .info span,
#virtualclassCont.congrea #askQuestion .container .question .header .info .lable,
#virtualclassCont.congrea #askQuestion .container .question .header .info .closed-icon,
#virtualclassCont.congrea #askQuestion .container .answer .footer .controls .upVote,
#virtualclassCont.congrea #askQuestion .container .answer .footer .controls .commentsNavigation,
#virtualclassCont.congrea #askQuestion .container .answer .footer .controls .comment,
#virtualclassCont.congrea #askQuestion .container .answer .header .info .userName,
#virtualclassCont.congrea #askQuestion .container .answer .header .info .lable,
#virtualclassCont.congrea #askQuestion .container .answer .header .info .acceptedAnswer {
  display: inline-block;
} */

#virtualclassCont.congrea #askQuestion .container .header .info span {
  display: inline-block;
}

#virtualclassCont.congrea #askQuestion .container .footer .controls .button,
#virtualclassCont.congrea #askQuestion .container .footer .controls .total {
  font-family: Raleway, Helvetica, sans-serif;
  border: none;
  font-size: 14px;
  background-color: unset;
}

#virtualclassCont.congrea #askQuestion .container .footer .controls .total {
  float: right;
  padding-top: 4px;
  color: #232323;
  font-size: 12px;
}

#virtualclassCont.congrea #askQuestion .container .footer .moreControls {
  align-self: flex-end;
  cursor: pointer;
}

#virtualclassCont.congrea #askQuestion .container .question .footer .moreControls .item.open {
  display: block;
  font-size: 12px;
  width: fit-content;
  border: 1px solid #dadada;
  box-shadow: 0 4px 7px -2px #c1c1c1;
  background-color: #fbfbfb;
  border-radius: 2px;
  position: absolute;
  bottom: 25px;
  right: 2px;
}

#virtualclassCont.congrea #askQuestion .container .footer .moreControls .item span {
  padding: 3px 6px;
  display: block;
  cursor: pointer;
  color: #002442;
  background-color: unset;
}

#virtualclassCont.congrea #askQuestion .container .footer .moreControls .item span:hover {
  background-color: #e6ebf1;
}

#virtualclassCont.congrea #askQuestion.active,
#virtualclassCont.congrea #noteContainer.active {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #f1f1f1;
}

#virtualclassCont.congrea #askQuestion #writeContent .text {
  border-radius: 4px;
  width: 100%;
  color: #434343;
  font-size: 13px;
  flex: 1;;
  display: block;
  resize: unset;
}

#virtualclassCont.congrea #askQuestion #writeContent {
  margin: 5px 5px 3px 5px;
  display: flex;
  flex-direction: column;
}

#virtualclassCont.congrea #askQuestion .context {
  display: none;
}

#virtualclassCont.congrea #askQuestion .context.current {
  display: block;
}

#virtualclassCont.connecting #congHr {
  opacity: 0.5;
  pointer-events: none;
}

#virtualclassCont.congrea #askQuestion .upVote[data-upvote="upvoted"],
#virtualclassCont.congrea #askQuestion .container .question[data-mark-answer="marked"] .upVote,
#virtualclassCont.congrea #askQuestion .container .question[data-mark-answer="marked"] .reply,
#virtualclassCont.congrea #askQuestion .container .question[data-mark-answer="marked"] .moreControls,
#virtualclassCont.congrea[data-currapp='Poll'] #virtualclassApp #congHr,
#virtualclassCont.congrea[data-currapp='Quiz'] #virtualclassApp #congHr {
  opacity: 0.5 !important;
  pointer-events: none !important;
}

#virtualclassCont.congrea #askQuestion .context .container {
  padding: 0;
  width: 100%;
  flex: 1;
}

#virtualclassCont.congrea #askQuestion .container .question[data-mark-answer="marked"] .header .info .closed-icon,
#virtualclassCont.congrea #askQuestion .container .question .answer[data-mark-answer="marked"] .header .info .acceptedAnswer {
  float: right;
  margin-top: 2px;
}

#virtualclassCont.congrea #askQuestion .question .container {
  padding: 4px 8px 1px 8px;
  position: relative;
}

#virtualclassCont.congrea #askQuestion .answers .container,
#virtualclassCont.congrea #askQuestion .comments .container {
  padding: 1px 8px 1px 8px;
  position: relative;
}

/* #virtualclassCont.congrea #askQuestion .question .container {
  border-left: 2px solid red;
} */

#virtualclassCont.congrea #askQuestion .answers .container::after {
  content: "";
  position: absolute;
  left: 0;
  top: 1px;
  width: 2px;
  height: 91%;
  background: green;
}

#virtualclassCont.congrea #askQuestion .comments .comment .container::after {
  content: "";
  position: absolute;
  left: 0;
  top: 1px;
  width: 2px;
  height: 91%;
  background: #0270e1;
}

/* #virtualclassCont.congrea #askQuestion .comments .container {
  border-left: 2px solid yellow;
  margin-top: 3px;
} */

#virtualclassCont.congrea #askQuestion .question .container .header {
  color: #000;
  text-transform: capitalize;
  font-size: 13px;
  letter-spacing: 0.6px;
}

#virtualclassCont.congrea #askQuestion .question .container .header .lable {
  margin-left: 8px;
  color: #5a5a5a;
  font-size: 0.6875rem;
  text-transform: none;
  font-weight: 100;
  letter-spacing: 1px;
}

#virtualclassCont.congrea #askQuestion .container .question .answers,
#virtualclassCont.congrea #askQuestion .container .question .comments {
  margin-left: 6px;
}

#virtualclassCont.congrea #askQuestion .container .question .footer .moreControls .item.close {
  display: none;
}

#virtualclassCont.congrea.askQuestionFetching #askQuestion {
  opacity: 0.6;
  background-color: #ccc;
  pointer-events: none;
}

#virtualclassCont.congrea.askQuestionFetching #askQuestionHeader {
  pointer-events: none;
}

#virtualclassCont.congrea.askQuestionFetching #askQuestion .container.askContainer {
  opacity: 0.7;
  background-color: #a9a9a9;
}

#virtualclassCont.congrea #askQuestion .loading {
  display: none;
}

#virtualclassCont.congrea.askQuestionFetching #askQuestion .loading {
  display: block;
  position: absolute;
  font-size: 15px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#virtualclassCont.congrea #virtualclassAppRightPanel #askQuestionHeader .header .action .help-icon {
  display: none;
}

#virtualclassCont.congrea #askQuestion .container .footer.show {
  display: flex;
  flex-direction: row;
  margin-bottom: 3px;
}

#virtualclassCont.congrea #askQuestion .container .footer .controls .upVote .button {
  display: inline-block;
  padding: 3px 5px 0 0;
}

#virtualclassCont.congrea #askQuestion .container .question .footer .controls .navigation .button,
#virtualclassCont.congrea #askQuestion .container .answer .footer .controls .navigation .button {
  display: inline-block;
  padding: 3px 5px 0 12px;
}

/* #virtualclassCont.congrea #askQuestion .container .question .footer .controls .reply#virtualclassCont.congrea #askQuestion .comments .container {
  border-left: 2px solid #1464f6;
  margin-top: 3px;
} .button,
#virtualclassCont.congrea #askQuestion .container .answer .footer .controls .reply .#virtualclassCont.congrea #askQuestion .comments .container {
  border-left: 2px solid #1464f6;
  margin-top: 3px;
}button, */

#virtualclassCont.congrea #askQuestion .container .footer .controls .reply .button {
  display: inline-block;
  padding: 4px 5px 1px 12px;
}

#virtualclassCont.congrea #askQuestion #writeContent .action {
  font-size: 12px;
  padding: 5px 0 5px 0;
  align-self: flex-end;
}

#virtualclassCont.congrea #askQuestion #writeContent .action span {
  padding: 2px 8px 3px 8px;
  border-radius: 4px;
  cursor: pointer;
}

#virtualclassCont.congrea #askQuestion #writeContent .action .save {
  color: #fff;
  margin-right: 5px;
  border: 0.5px solid #0487c5;
  text-transform: capitalize;
  background-color: #0293d8;
}

#virtualclassCont.congrea #askQuestion #writeContent .action .save:hover {
  background-color: #03a0ea;
  border: 0.5px solid #02a0ea;
}

#virtualclassCont.congrea #askQuestion #writeContent .action .cancel {
  background-color: white;
  color: #000;
  border: 0.5px solid #d4d4d4;
  text-transform: capitalize;
}

#virtualclassCont.congrea #askQuestion #writeContent .action .cancel:hover {
  background-color: #f3f3f3;
  color: #000;
}

#virtualclassCont.congrea #askQuestion .container .footer.hide,
#virtualclassCont.congrea #askQuestion .container .question .answers.close,
#virtualclassCont.congrea #askQuestion .container .answer .comments.close,
#virtualclassCont.congrea #askQuestion .container .comment .comments.close {
  display: none;
}

#virtualclassCont.congrea #noteContainer .context {
  display: none;
}

#virtualclassCont.congrea #noteContainer .context.active,
#virtualclassCont.congrea #askQuestion .container .question .answers.open,
#virtualclassCont.congrea #askQuestion .container .answer .comments.open,
#virtualclassCont.congrea #askQuestion .container .comment .comments.open {
  display: block;
}

/* #virtualclassCont.congrea #askQuestion .content p #writeContent {
  margin: 5px 4px 2px 5px;
} */

/* #virtualclassCont.congrea #askQuestion .content p #writeContent .action {
  padding: 4px 0 6px 0;
} */

#virtualclassCont.congrea #askQuestion .container .comments .footer .controls .navigation .button {
  display: inline-block;
  padding: 3px 5px 0 1px;
}

#virtualclassCont.congrea #askQuestion .question .container[data-type="question"]::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 2px;
  height: 93%;
  background: red;
}

#virtualclassCont.congrea #noteContainer .loading {
  display: none;
}

#virtualclassCont.congrea #noteContainer .contentContainer {
  display: none;
}

#virtualclassCont.congrea #noteContainer .contentContainer.active {
  display: block;
}

#virtualclassCont.congrea #noteContainer .content {
  height: 100%
}

#virtualclassCont.congrea #noteContainer .loading.active {
  display: block;
}

#virtualclassCont.congrea.student #askQuestion .container .footer .moreControls.disable {
  display: none;
}

#virtualclassCont.congrea #askQuestion .content .more,
#virtualclassCont.congrea #askQuestion .content .less {
  color: #0487c5;
  margin-right: 5px;
  cursor: pointer;
  font-size: 12px;
}

#virtualclassCont.congrea #askQuestion .content p .btn.open,
#virtualclassCont.congrea #askQuestion .content p .btn.open {
  display: block;
}

#virtualclassCont.congrea #askQuestion .content p .btn.close,
#virtualclassCont.congrea #askQuestion .content p .btn.close,
#virtualclassCont.congrea #askQuestion .content .moreelipses.close {
  display: none;
}

#virtualclassCont.congrea #askQuestion .content .moreelipses.open {
  display: inline;
}

#virtualclassCont.congrea #askQuestion .content .morecontent.close {
  display: none;
}

#virtualclassCont.congrea #askQuestion .content .morecontent.open {
  display: block;
}

#virtualclassCont.congrea #noteNavigation div{
  float: left;
  width: 70px;
}

#virtualclassCont.congrea #noteNavigationContainer .clearAll {
  float: left;
}

#virtualclassCont.congrea #noteNavigationContainer .navigation {
  float: right;
}
