/** styles.css START here **/
.ui-memblist-usr#subchat.teacher {
  padding-top: 0;
  background-color: #28353914;
}

.ui-memblist-usr#subchat.student,
.ui-memblist-usr,
.ui-memblist-usr#subchat.teacher {
  padding-left: 0.25rem;
}

div.ui-memblist-usr video {
  width: 2.5rem;
  height: 2.5rem;
  margin: 0;
  border-radius: 30px;
  outline: 1px solid #5a5757;
  margin-left: 2px;
}

div.ui-memblist-usr .userVideos {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 30px;
  margin-top: 6px;
  outline: 1px solid #5a5757;
}

#graphCanvas {
  top: -5px !important;
}

.ui-memblist-usr:first-child {
  margin-top: 0;
  margin-bottom: 0;
}

div.ui-memblist-usr video,
div.ui-memblist-usr .userVideos {
  border: #797979 solid 0.5px;
  outline: none;
  margin: 0.3125rem 0.1875rem 0.3125rem 0.1875rem;
}

.controls {
  width: auto;
  float: right;
  margin-right: 3px;
  margin-top: 13px;
}

.congtooltip {
  position: relative;
}

.congtooltip:hover::after {
  background: #fff;
  border: #ccc solid 1px;
  border-radius: 0.25em;
  bottom: 2.6em;
  content: attr(data-title);
  display: block;
  padding: 0.2em 0.5em;
  position: absolute;
  white-space: nowrap;
  z-index: 100;
  color: #000;
  font-size: 12px;
  font-weight: normal !important;
}

.controls .controleCont a.congtooltip:hover::after {
  bottom: 0;
  left: auto;
  right: 0;
}

.ui-memblist-usr a.congtooltip[data-title="Disable Writing"]:hover::after,
#virtualclassCont.congrea .ui-memblist-usr a.congtooltip[data-title="Enable Writing"]:hover::after {
  bottom: -30px;
  left: -40px !important;
}

.ui-memblist-content .ui-memblist-log .ui-memblist-usr .controls a.congtooltip:hover::after {
  bottom: 10px;
  left: -2px;
  font-size: 11px;
  padding-left: 4px;
  padding-right: 4px;
}

div.ui-memblist-usr .user-details .media-object {
  display: block;
  text-align: center;
  font-size: 14px;
  border-radius: 30px;
  width: 2.5rem;
  height: 2.5rem;
  margin: 0.3125rem 0.3125rem 0.3125rem 0.125rem;
  object-fit: cover;
}

div.ui-memblist-usr .user-details img.media-object {
  width: 52px;
  height: 38px;
  padding: 0;
}

.selfClear::after,
.ui-memblist-usr::after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.ui-memblist-usr .controls span {
  font-size: 13px;
  font-weight: 200;
  float: left;
  margin-top: 3px;
  margin-right: 3px;
}

.controleCont .icon-stdscreenImg {
  margin-top: 3px !important;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .ui-memblist-usr a.congtooltip:hover::after {
    bottom: -34px;
    left: 0;
  }

  .ui-memblist-usr a.congtooltip[data-title="Disable Writing"]:hover::after {
    left: -3em;
  }

  .ui-memblist-usr a.congtooltip[data-title="Click to chat"]:hover::after {
    bottom: 0;
    left: 12em;
  }

  .ui-memblist-usr a.congtooltip[data-title="Enable Writing"]:hover::after {
    left: -20px;
  }
}

.usern.media-heading {
  margin-bottom: 0;
}

.controleCont.ssSharing .icon-stdscreenImg.enable::before {
  color: green;
}

.controleCont {
  float: left;
  text-align: center;
}

#tempVideo {
  display: none;
}

/** styles.css END here **/

/*** ICON START HERE, icon.css ***/

.ui-memblist-usr .icon-chatImg::before {
  font-family: 'icomoon';
  content: "\f075";
  font-size: 14px;
  color: #7d7a7a;
  position: relative;
  top: -1px;
}

.block.editorRichImg {
  opacity: 0.5;
}

.icon-editorRichImg::before {
  font-family: 'icomoon';
  content: "\e605";
  font-size: 15px;
  color: #535151;
}

.icon-chatImg.enable::before {
  font-family: 'icomoon';
  content: "\f075";
  color: #94b532;
  font-size: 14px;
  top: -1px;
}

/** Meadia.css start 136 **/
.ui-memblist-usr .icon-audioEnaGreen::before {
  font-family: 'icomoon';
  content: "\ea27";
  color: #94b532;
  font-variant: normal;
  font-style: normal;
  font-size: 118%;
  margin-right: 7px;
  font-weight: normal;
}

.ui-memblist-usr .icon-audioEnaOrange::before {
  font-family: 'icomoon';
  content: "\ea27";
  color: #e55e0d;
  font-variant: normal;
  font-style: normal;
  font-size: 112%;
  font-weight: normal;
}

.ui-memblist-usr .icon-audioDisImg::before {
  font-family: 'icomoon';
  content: "\f026";
  color: #7d7a7a;
  font-size: 112%;
  margin-right: 7px;
  font-weight: normal;
}

span.icon-stdscreenImg.enable::before {
  font-family: 'icomoon';
  content: "\e602";
  font-size: 17px;
  color: black;
  margin-right: 7px;
}

.icon-raisehand::before {
  font-family: 'icomoon';
  content: "\e962";
  font-size: 16px;
  display: none;
}

.ui-memblist-usr .controllerRaiseH.disabled span {
  color: rgb(61, 74, 85);
}

.ui-memblist-usr .controllerRaiseH.enabled span {
  color: green !important;
  opacity: 1;
}

.controllereditorRich {
  display: none;
}

span.icon-stdscreenImg[data-dcolor="red"]::before {
  color: #f00;
}

span.icon-stdscreenImg[data-dcolor="orange"]::before {
  color: #ff8c00;
}

span.icon-stdscreenImg[data-dcolor="green"]::before {
  color: #1c8003;
}

span.icon-stdscreenImg[data-dcolor="black"]::before {
  color: #000;
}

span.icon-stdscreenImg[data-dcolor="blue"]::before {
  color: #8a5b89;
}

.controllerRaiseH .icon-RaiseHandImg::before {
  font-family: 'icomoon';
  content: "\e962";
}

.controleCont.controllerRaiseH.disabled {
  pointer-events: none;
  display: none;
}

.controllerRaiseH {
  margin-right: 8px;
}

/*** ICON END HERE ***/

/*** jquery.ui.chatbox. start HERE ***/

.user-details .usern .media-heading {
  color: #1e2c30;
  letter-spacing: 0.5px;
}

.ui-memblist-usr .user-details .usern {
  width: 48%;
  float: left;
  font-size: 0.875rem;
  text-transform: capitalize;
  margin: 1rem 0.375rem;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 1rem;
  max-height: 1rem;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  cursor: pointer;
}

#subchat div.ui-memblist-usr a span {
  font-size: 0.75rem;
  text-transform: capitalize;
}

#subchat div.ui-memblist-usr .usern span {
  margin-left: 6px;
}

.ui-memblist-usr.online {
  pointer-events: visible;
}

.playMode .ui-memblist-usr.online {
  pointer-events: none;
}

.ui-memblist-usr.offline {
  opacity: 0.6;
  border-bottom: 1px solid #ddd;
}

.ui-memblist-usr.mySelf {
  pointer-events: none !important;
  background-color: rgba(0, 0, 0, 0.1);
  position: absolute;
  width: 100%;
  width: -webkit-fill-available;
  top: 0;
}

.text {
  color: #464646;
  letter-spacing: 0.5px;
  word-break: break-word;
}

.chat-img.pull-left {
  margin-top: 5px;
}

.icon-chatImg.chatImg {
  margin-right: 6px !important;
}

/*** jquery.ui.chatbox. END HERE ***/

/** right-sidebar.css start **/
div.ui-memblist-usr {
  height: 3.125rem;
  clear: both;
}

.controleCont .icon-audioImg,
.controleCont .icon-audioDisImg {
  margin-top: 4px !important;
}

/** right-sidebar.css end **/
div.ui-memblist-usr .user-details a .media-object {
  float: left;
  line-height: 2.5rem;
  opacity: 0.9;
}

.user-details a {
  text-decoration: none;
}

.user-details a.hasVideo {
  float: left;
}

#subchat.student .controleCont {
  pointer-events: none;
  margin-left: -7px;
}

#subchat.student .ui-memblist-usr .controls span {
  margin-right: 10px;
}

#subchat.teacher .controls span.enable,
#subchat.teacher .controls span.block,
#subchat.teacher .controls a,
#subchat.teacher .controls .icon-assignImg.enable {
  cursor: pointer;
  pointer-events: visible;
}

#subchat.teacher .controls span.enable.icon-stdscreenImg[data-dcolor="nosupport"] {
  opacity: 0.5;
  cursor: default;
}

#subchat.teacher .icon-audioImg.enable::before {
  font-family: 'icomoon';
  content: "\f026";
  color: #7d7a7a;
  vertical-align: baseline;
  font-size: 118%;
  font-weight: normal;
  margin-right: 2px;
  position: relative;
  top: -1px;
}

#subchat.student .icon-audioImg.enable::before {
  font-family: 'icomoon';
  content: "\f026";
  color: #7d7a7a;
  padding-right: 0;
  margin-right: 7px;
  font-size: 120%;
  position: relative;
  top: -1px;
  left: 2px;
}

#subchat.teacher .ui-memblist-usr .icon-audioEnaGreen::before {
  margin-right: 3px;
}

#subchat.student .ui-memblist-usr .icon-audioEnaOrange::before {
  margin-right: 7px;
}

#subchat.teacher .ui-memblist-usr .icon-audioDisImg::before {
  font-family: 'icomoon';
  content: "\ea2a";
  color: #7d7a7a;
  font-size: 118%;
  font-weight: normal;
  margin-right: 2px;
  position: relative;
  top: -1px;
}

#subchat.student .ui-memblist-usr .icon-audioDisImg::before {
  font-family: 'icomoon';
  content: "\ea2a";
  color: #7d7a7a;
  font-size: 118%;
  font-weight: normal;
  margin-right: 2px;
  position: relative;
  top: -1px;
}

#subchat.teacher .ui-memblist-usr .icon-chatDisImg::before {
  font-family: 'icomoon';
  content: "\f075";
  color: #7d7a7a;
  font-size: 118%;
  font-weight: normal;
  margin-right: 2px;
  position: relative;
  top: -1px;
}

#subchat.student .ui-memblist-usr .icon-chatDisImg::before {
  font-family: 'icomoon';
  content: "\f075";
  color: #7d7a7a;
  font-size: 118%;
  font-weight: normal;
  margin-right: 2px;
  position: relative;
  top: -1px;
}

/** After :host-context is supported in all browser, we don't need to put current app on chat_div element **/

:host(.studentScreenSharing[data-currapp='ScreenShare']) span.icon-stdscreenImg {
  pointer-events: none !important;
  opacity: 0.5;
}

:host(.chat_disabled) .ui-memblist-usr.online {
  pointer-events: none;
}

:host([data-currapp="EditorRich"]) #subchat.teacher .controllereditorRich {
  display: block;
}

:host([data-currapp="Whiteboard"]) .user-details .usern .media-heading {
  right: -1px !important;
}

:host([data-currapp="EditorRich"]) .ui-memblist-usr .user-details .usern {
  width: 38%;
}

:host([data-currapp="EditorRich"]) .icon-chatImg.chatImg {
  margin-right: 7px !important;
}
