
#virtualclassCont.congrea #virtualclassPreCheck #browserNext {
  width: 100%;
}

#virtualclassCont.congrea #virtualclassPreCheck.bootstrap .btn {
  border-color: #c2c2c2;
  float: right;
  padding: 4px 12px;
  font-size: 0.875rem;
}

#virtualclassCont.congrea #virtualclassPreCheck .testName {
  font-size: 1.25rem;
  text-align: center;
  margin-bottom: 1.25rem;
}

#virtualclassCont.congrea #virtualclassPreCheck .result div {
  background: rgba(0, 128, 0, 0.01) none;
  border: 1px dotted rgba(0, 128, 0, 0.4);
  border-radius: 3px;
  padding: 0.75rem;
  text-align: center;
  margin-top: 1.25rem;
  margin-bottom: 0.9375rem;
}

#virtualclassCont.congrea #virtualclassPreCheck .result div#micTest {
  line-height: 1.3rem;
}

#virtualclassCont.congrea #virtualclassPreCheck .result div.errorMsg {
  text-align: left;
  padding-left: 15px;
  line-height: 160%;
}

#virtualclassCont.congrea #virtualclassPreCheck .result .error div {
  background: rgba(255, 148, 148, 0.012) none;
  border: 1px dotted rgba(255, 148, 148, 0.5);
}

#virtualclassCont.congrea #virtualclassPreCheck .result div.screenImages {
  margin-top: 3px;
}

#virtualclassCont.congrea #virtualclassPreCheck.bootstrap .btn-default:hover {
  background-color: #eee;
  border-color: #aaa !important;
}

#virtualclassCont.congrea .bootstrap .progress {
  background-color: #f5f5f5;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.12) inset;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.12) inset;
  color: #666;
  font-size: 12px;
  height: 26px;
  margin-bottom: 20px;
  margin-top: 10px;
  overflow: hidden;
  padding: 5px 6px;
}

#virtualclassCont.congrea #virtualclassPreCheck.bootstrap .next.btn {
  float: right;
  cursor: pointer;
}

#virtualclassCont.congrea #virtualclassPreCheck.bootstrap .prev.btn {
  margin-right: 10px;
  float: left;
  cursor: pointer;
}