#virtualclassCont #dashboardContainer .modal-dialog {
  width: 100% !important;
  margin-top: 0px;
}

#virtualclassCont #dashboardContainer .modal .modal-content {
  overflow-y: hidden;
  /*height: 85%;*/
  /*max-height: 85%;*/
  padding : 0;
}
#virtualclassCont #dashboardContainer .modal .modal-header {
  height : 7%;
}
#virtualclassCont #dashboardContainer .modal-body {
  height : auto;
  padding : 0;
}

#virtualclassCont #listdocs {
  height: calc(100% - 20px);
  overflow-y: auto;
  margin-bottom :0;
}

#virtualclassCont.congrea .dashboardview {
  height: calc(100vh - 118px);
  margin : 0;
  padding :0;
}


#virtualclassCont.congrea #docsuploadContainer {
  margin:0;
  padding:0;
}

#virtualclassCont.congrea #docsListContainer {
  margin:0;
  padding : 0;
}

#virtualclassCont.congrea  #listdocs .linkdocs .controlCont{
  float: right;
  width: 18px;
  /*background: #820729;*/
  /* border-top-right-radius: 6px; */
  border-bottom-right-radius: 6px;
  height: auto;
  margin-top: -1px;
  border-radius: 5px;
  padding-left: 2px;
  /* border-top-right-radius: 0; */
  /* border-bottom-right-radius: 0; */
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  /*margin-right: 6px;*/
}
#virtualclassCont.congrea  #listdocs .linkdocs .controlCont,#virtualclassCont.congrea  #listdocs .linkdocs .controlCont:hover {
  margin-top: 6px;
  /*margin-right: 3px;*/
}
#virtualclassCont.congrea  #listdocs .list-group-item {
  padding: 7px 0 13px 0;
}
#virtualclassCont.congrea #listdocs .linkdocs .controls.delete::before {
  content: "\e961";
  font-family: 'icomoon';
  font-size: 17px;
  padding-top: 0px;
  color: #888888;
  margin-left: -5px;
}

/*#virtualclassCont.congrea  #listdocs .list-group-item::before {*/
  /*content: "\e961";*/
  /*font-family: 'icomoon';*/
  /*font-size: 16px;*/
  /*padding-top: 0px;*/
  /*color: #ffffff;*/
  /*!*float: right;*!*/
  /*position: absolute;*/
  /*left:130px;*/
/*}*/

#virtualclassCont.congrea .dbContainer .linkdocs, #virtualclassCont.congrea .dbContainer .linkdocs  .controlCont {
  cursor : pointer;
}

#virtualclassCont.congrea .linkdocs:hover{
  background-color: #f7f7f7;
  color:black;
}

#virtualclassCont.congrea #listdocs .linkdocs:hover .controls.delete::before{
  color:#c70a0a;
}

#virtualclassCont.congrea #listdocs .linkdocs[data-selected="1"] .controls.delete::before,
#virtualclassCont.congrea #listdocs .linkdocs[data-selected="1"]:hover .controls.delete::before {
  color: #3585d5;
}

#virtualclassCont.congrea #listdocs .linkdocs[data-selected="1"]{
  border-top-color:#3585d5;

}

#virtualclassCont.congrea #listdocs .linkdocs[data-selected="1"] .controlCont {
  pointer-events :  none;
}

#virtualclassCont.congrea #listnotes .currentNav .controlCont {
  pointer-events : none;
}

#virtualclassCont.congrea #docsListContainer {
  height : 98vh;
  width : 18.5%;
  border-right : 1px solid #eee;
}

#virtualclassCont.congrea #listdocs .linkdocs .controls.delete{
  margin-right: 5px;
}

@media (min-width: 768px) {
  .bootstrap .dashboardview.col-sm-10 {
    width: 81.333333%;
  }
}

#virtualclassCont.congrea #newDocBtn.btn-default{
  width: 100%;
  border: 1px solid #bdbdbd;
  border-radius: 0;
  background: linear-gradient(to bottom, #515e69 0%, #34404c 100%);
  border-top-left-radius: 3px;
  border-top-right-radius: 4px;
  padding: 8px;
  color : #fff;
  height : 100%;
  max-height: 58px;
}

#virtualclassCont.congrea #newdocsBtnCont {
  height : 8%;

}

#virtualclassCont.congrea #congdashboard.modal .modal-header{
  padding : 6px;
}

/** for dashboard grid  view */
#virtualclassCont.congrea #listnotes .linknotes.links {
  position: relative;
  border-radius: 3px;
  height: 6.5em;
  margin :2% 2% 0 1%;
}


#virtualclassCont.congrea #docsuploadContainer {
  position : absolute;
  top : 0;
  height : 100%;
}

#virtualclassCont #listnotes .mainpreview{
  /*margin-top : 1.5%;*/
  border: 1px solid #ddd;
  border-radius : 4px;
  width : 123%;
  padding : 2px;
  cursor : pointer;
  height : 100%;
}

#virtualclassCont #listnotes linknotes.links {
  padding-left :0;
  padding-right:0;
}


#virtualclassCont #listnotes .mainpreview:hover {
  border: 1px solid #ccc;
  /*box-shadow: 0 0 14px rgb(46, 219, 236);*/
}


#virtualclassCont.congrea .currentNav .mainpreview {
  box-shadow: 0 0 11px rgb(46, 219, 236);
}

#virtualclassCont.congrea #listnotes {
  position : absolute;
  height : 100%;
  max-height : 100%;
  overflow-y : auto;
}

#listdocs.listPages {
  list-style:none;
  margin:0;
  padding:0;
  margin:0 auto;
}

.bootstrap #listdocs.listPages .list-group-item.links {
  border :none;
}

#listdocs.listPages .links{
  /*background: #575e63;*/
  /*border-top:1px solid #878e98;*/
  /*border-bottom:1px solid #33373d;*/
  color: #3585d5;
  /*text-shadow: 0 1px 1px #000;*/
  letter-spacing: 0.02em;
  /*background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#575e63), to(#3f4347));*/
  /*background: -webkit-linear-gradient(top, #575e63, #3f4347);*/
  /*background: -moz-linear-gradient(top, #575e63, #3f4347);*/
  /*background: -ms-linear-gradient(top, #575e63, #3f4347);*/
  /*background: -o-linear-gradient(top, #575e63, #3f4347);*/
  display:block;
  padding:12px;
}

#listdocs.listPages .links:hover {
  /*background: #566f82; !* fallback colour *!*/
  /*background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#566f82), to(#3e505e));*/
  /*background: -webkit-linear-gradient(top, #566f82, #3e505e);*/
  /*background: -moz-linear-gradient(top, #566f82, #3e505e);*/
  /*background: -ms-linear-gradient(top, #566f82, #3e505e);*/
  /*background: -o-linear-gradient(top, #566f82, #3e505e);*/
}


.bootstrap .list-group-item:last-child{
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.bootstrap .list-group-item:first-child {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}


#virtualclassCont.congrea .dbContainer .linkdocs .mainpreview {
  text-align :left;
  margin-left : 6%;

}


.bootstrap #listdocs.listPages .list-group-item.links{
  border-top:1px solid #e5e7e8;
  border-bottom:1px solid #e5e7e8;
  height : 8.84%;
}

#virtualclassCont.congrea .linkdocs[data-selected='1']{
  padding: 2px;
  color : #3585d5;
  text-align : center;
  border-bottom: 1px solid #2799db;
  /*background: -webkit-linear-gradient(top, rgb(119, 121, 123), #31424a);*/
  /*background: -moz-linear-gradient(top, rgb(119, 121, 123), #31424a);*/
  /*background: -o-linear-gradient(top, rgb(119, 121, 123), #31424a);*/
  background: #f3f3f3;

}

#virtualclassCont.congrea .fileSize {
  position: absolute;
  right: 111px;
  font-size: 11px;
  color: #82a1b3;
}

#virtualclassCont.congrea #dashboardnav button.btn-primary{
  height: 45px;
  width: 57px;
  margin-left: 0px;
  border:0px;
  /*margin-top:66px;*/
}

#virtualclassCont.congrea #dashboardnav.congtooltip:hover:after{
  margin-left: 74px;
  margin-bottom: 27px;
  top: 11px;
  height: 20px;
}

#virtualclassCont.congrea #dashboardnav.congtooltip,
#virtualclassCont.congrea #virtualclassPollTool.congtooltip{
  z-index: 1100;
}

#virtualclassCont.congrea #dashboardnav button.btn-primary:hover{
  opacity: 0.8;
}

#virtualclassCont.congrea .bootstrap .modal-content, #virtualclassCont.congrea #congdashboard.modal{
  box-shadow : none !important;
}


#virtualclassCont #dashboardContainer .modal .modal-content {
  height : calc(100% - 7px);
}


#virtualclassCont #dashboardnav .btn-primary {
  background : linear-gradient(to bottom, #51a0ef 0%, #0556a7 100%) !important;
  height: 48px !important;
  margin-left: 8px !important;
  border-radius: 50%;
  width: 48px !important;
}

/*@media(min-height:768px){*/
/*#virtualclassCont.congrea  #dashboardnav{*/
/*position: absolute;*/
/*top: 650px;*/
/*left: -5px;*/
/*}*/
/*}*/

@media (max-height: 768px){
  #virtualclassCont.congrea #dashboardnav {
    position: absolute;
    top: 606px;
    left: -5px;
  }
}

@media (max-height: 700px){
  #virtualclassCont.congrea #dashboardnav {
    position: absolute;
    top: 538px;
    left: -5px;
  }
}

@media (max-height: 768px){
  #virtualclassCont.congrea #virtualclassAppLeftPanel #virtualclassOptionsCont{
    position:absolute;
    top:73px;
  }
}

@media (max-height: 700px){
  #virtualclassCont.congrea #virtualclassAppLeftPanel #virtualclassOptionsCont{
    position:absolute;
    top: 55px;
  }
  #virtualclassCont.congrea.teacher[data-currapp="Video"] #virtualclassAppLeftPanel #virtualclassOptionsCont,
  #virtualclassCont.congrea.teacher[data-currapp="SharePresentation"] #virtualclassAppLeftPanel #virtualclassOptionsCont,
  #virtualclassCont.congrea.teacher[data-currapp="DocumentShare"] #virtualclassAppLeftPanel #virtualclassOptionsCont{
    position:absolute;
    top: 10px;
  }
  #virtualclassCont.congrea #pptuploadContainer{
    top:10px;
  }
}

#virtualclassCont.congrea .currentNav .mainpreview {
  box-shadow: 0 0 6px rgb(96, 96, 97);
  pointer-events : none;
}

#virtualclassCont #dashboardContainer .modal .modal-content {
  /*height: 87%;*/
  max-height:none;
  padding : 0;
  height: calc(100vh - 55px);
}