#virtualclassCont.congrea #SharePresentationDashboard .dashboardview {
  margin-top: 10px;
  width: 100%;
  text-align: center;
  height: 8%;
}

#virtualclassCont #listppt .pptTitle {
  height: 42px;
  padding-left: 28px;
  top: 14px;
  overflow: hidden;
  position: absolute;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#virtualclassCont #dashboardContainer .modal-body {
  padding: 0;
  max-height: none;
}

#virtualclassCont.congrea .dashboardview {
  margin: 0;
  padding: 0;
}

#virtualclassCont.congrea #pptuploadContainer {
  margin: 0;
  padding: 0;
}

#virtualclassCont.congrea #videoList .linkvideo.links .pptTitle {
  padding: 6px 8px 3px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 400;
  max-width: 120px;
}

#virtualclassCont.congrea #listppt .linkppt .controlCont:hover {
  background: #ad0505;
}

#virtualclassCont.congrea #listppt .list-group-item {
  padding: 13px 0 13px 0;
}

#virtualclassCont.congrea #listppt .linkppt.list-group-item {
  border: 1px solid #f1f1f1;
}

#virtualclassCont.congrea .dbContainer .linkppt .mainpreview,
#virtualclassCont.congrea .dbContainer .linkppt .controlCont {
  cursor: pointer;
}

#virtualclassCont.congrea .linkppt[data-selected='1'] {
  padding: 2px;
  border-radius: 3px;
  background: linear-gradient(to bottom, #515e69 0%, #34404c 100%);
  color: #fff;
  text-align: center;
}

#virtualclassCont.congrea #listppt .linkppt.list-group-item:hover {
  background: linear-gradient(to bottom, #595e63 0%, #656a6f 100%);
  color: #fff;
}

#virtualclassCont.congrea #submitpurl.btn-default {
  width: 150px;
  border: 1px solid #bdbdbd;
  border-radius: 0;
  background: linear-gradient(to bottom, #515e69 0%, #34404c 100%);
  border-top-left-radius: 3px;
  border-top-right-radius: 4px;
  padding: 8px;
  color: white;
  height: 50px;
}

#virtualclassCont.congrea .currentNav .mainpreview {
  box-shadow: 0 0 6px rgb(96, 96, 97);
}

#virtualclassCont.congrea #listppt .linkppt .controlCont div[data-status="0"]::before {
  content: "\e9d1";
  font-family: 'icomoon';
  font-size: 16px;
  padding-top: 0;
  color: #606060;
}

#virtualclassCont.congrea #listppt .linkppt .controlCont div[data-status="1"]::before {
  content: "\e94e";
  font-family: 'icomoon';
  font-size: 18px;
  padding-top: 0;
  color: #606060;
}

#virtualclassCont.congrea #listppt .linkppt .controls.delete::before {
  content: "\ea0f";
  font-family: 'icomoon';
  font-size: 18px;
  padding-top: 0;
  color: #606060;
}

#virtualclassCont.congrea #listppt .linkppt .mainpreview {
  font-size: 0;
  border-radius: 2px;
  float: left;
  margin: -2px 2px 3px;
  height: 20px;
  padding-top: 2px;
}

#virtualclassCont.congrea #listppt .linkppt .mainpreview::before {
  content: "\ea15";
  font-family: 'icomoon';
  font-size: 18px;
  padding-top: 2px;
  color: #606060;
  opacity: 0.7;
}

#virtualclassCont.congrea #listppt .linkppt.links .controls.status[data-status="1"],
#virtualclassCont.congrea #listppt .linkppt.links .controls.status[data-status="0"] {
  float: left;
  width: 26px;
  font-size: 0;
  margin: -5px 1px 1px 0;
  height: 20px;
  padding-top: 2px;
}

#virtualclassCont.congrea #listppt {
  height: 95%;
  overflow-y: auto;
  margin-bottom: 0;
}

#virtualclassCont.congrea #listppt .linkppt.links .controls.delete {
  float: left;
  font-size: 0;
  margin: -5px 1px 1px 0;
  height: 20px;
  padding-top: 2px;
}

button,
input.form-submit,
input[type="button"],
input[type="submit"],
input[type="reset"] {
  text-shadow: none !important;
}

#virtualclassCont .dashboardview #urlcontainer #presentationurl {
  height: 70% !important;
  width: 50%;
  font-size: 16px;
  padding: 10px;
}

#virtualclassCont #urlcontainer #presentationurl {
  vertical-align: top;
}

#virtualclassCont.congrea #SharePresentationDashboard .controlCont.showCtr {
  display: block !important;
}

#virtualclassCont.congrea #pptListContainer {
  height: calc(100vh - 155px);
  overflow-y: auto;
}

#virtualclassCont.congrea .linkppt.opaq {
  opacity: 0.5;
}

#virtualclassCont.congrea .linkppt.htn {
  border: solid #98c2ff 1px !important;
  opacity: 1;
}

#virtualclassCont.congrea .linkppt.dragElem {
  background-color: #98c2ff !important;
  border: solid #2029ff 1px !important;
  opacity: 1;
}

#virtualclassCont.congrea #listppt .linkppt.links {
  position: relative;
  background: #fff;
  border-radius: 3px;
  height: 50px;
  padding: 8px;
  margin: 0;
}

#virtualclassCont.congrea #listppt .linkppt.links .controlCont {
  float: right;
  background: none;
  padding-top: 8px;
  margin-right: 10px;
}

#virtualclassCont.congrea #listppt .linkppt .controls.edit {
  display: inline;
}

#virtualclassCont.congrea #listppt .linkppt .titleCont {
  display: inline;
}

#virtualclassCont.congrea #listppt .linkppt .controlCont .controls {
  margin-left: 18px !important;
  padding-right: 5px;
}

#virtualclassCont.congrea #listppt .linkppt:nth-child(odd) {
  background-color: #9ba1a71f;
}

#virtualclassCont.congrea #listppt .linkppt .controlCont div[data-status="0"]::before {
  content: "\e94d";
  font-family: 'icomoon';
  font-size: 18px;
}

#virtualclassCont.congrea #listppt .linkppt .controls.delete::before {
  content: "\e920";
  font-family: 'icomoon';
  font-size: 14px;
  position: relative;
  top: 2px;
}

#virtualclassCont.congrea #listppt .linkppt .controls::before {
  font-size: 15px;
  color: rgba(96, 96, 96, 0.81);
  opacity: 0.7;
}

#virtualclassCont.congrea #listppt .linkppt:hover {
  background-color: #efefef;
}

#virtualclassCont.congrea #listppt .linkppt {
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 1s ease-out;
}

#virtualclassCont.congrea #listppt .linkppt.playing {
  border: solid #98c2ff 1px;
}

#virtualclassCont #listppt .linkppt:hover {
  padding: 2px;
  cursor: move;
}

@media (max-height: 956px) {
  #virtualclassCont.congrea #pptListContainer {
    height: calc(100vh - 155px);
  }
}

#virtualclassCont.congrea #SharePresentationDashboard .controlCont.col-md-2 {
  min-width: 140px;
}

#virtualclassCont.congrea #listppt .linkppt.playing .controls.status,
#virtualclassCont.congrea #listppt .linkppt.playing .controls.delete {
  pointer-events: none;
  opacity: 0.3;
  cursor: auto;
}

@-moz-document url-prefix() {
  #virtualclassCont .dashboardview #urlcontainer #presentationurl {
    max-height: 40px;
  }
}
