
#virtualclassCont.congrea #SharePresentationDashboard .dashboardview{
  margin-top:10px;
  height:15%;

}

#virtualclassCont #listppt .pptTitle{
  overflow: hidden;
  height:42px;
  text-align:center;
  width : 127px;
  text-overflow: ellipsis;
  display:inline;
}

#virtualclassCont #dashboardContainer .modal-body {
  /*height : 92%;*/
  padding : 0;
  max-height:none;
}

#virtualclassCont.congrea .dashboardview {
  margin : 0;
  padding :0;
}

#virtualclassCont.congrea #pptuploadContainer{
  margin:0;
  padding:0;
}

#virtualclassCont.congrea #videoList .linkvideo.links .pptTitle {
  padding: 6px 8px 3px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 400;
  max-width: 120px;
  text-alizn:center;
}

#virtualclassCont.congrea  #listppt .linkppt .controlCont:hover{
  background : #ad0505;
}


#virtualclassCont.congrea  #listppt .list-group-item{
  padding: 13px 0 13px 0;
}

#virtualclassCont.congrea #listppt .linkppt.list-group-item {
  border : 1px solid  #f1f1f1;
}

/*#virtualclassCont.congrea  #listdocs .linkdocs .mainpreview {*/
/*float : right;*/

/*}*/

#virtualclassCont.congrea .dbContainer .linkppt .mainpreview, #virtualclassCont.congrea .dbContainer .linkppt  .controlCont {
  cursor : pointer;
}

#virtualclassCont.congrea .linkppt[data-selected='1']{
  padding: 2px;
  border-radius: 3px;
  /*background: linear-gradient(to bottom, #595e63 0%, #656a6f 100%);*/
  background: linear-gradient(to bottom, #515e69 0%, #34404c 100%);
  color : #fff;
  text-align : center;
}


#virtualclassCont.congrea #listppt .linkppt.list-group-item:hover {
  /*background: linear-gradient(to bottom, #515e69 0%, #34404c 100%);*/
  background: linear-gradient(to bottom, #595e63 0%, #656a6f 100%);
  color : #fff;
}


#virtualclassCont.congrea #submitpurl.btn-default{
  width: 150px;
  border: 1px solid #bdbdbd;
  border-radius: 0;
  background: linear-gradient(to bottom, #515e69 0%, #34404c 100%);
  border-top-left-radius: 3px;
  border-top-right-radius: 4px;
  padding: 8px;
  color : white;
  height : 50px;

}

#virtualclassCont.congrea .currentNav .mainpreview {
  box-shadow: 0 0 6px rgb(96, 96, 97);
}
/*old*/

#virtualclassCont.congrea #listppt .linkppt .controlCont div[data-status="0"]::before {
  content: "\e9d1";
  font-family: 'icomoon';
  font-size: 16px;
  padding-top: 0px;
  color: #606060;
}

#virtualclassCont.congrea #listppt .linkppt .controlCont div[data-status="1"]::before {
  content: "\e9ce";
  font-family: 'icomoon';
  font-size: 16px;
  padding-top: 0px;
  color: #606060;
}

#virtualclassCont.congrea #listppt .linkppt .controls.delete::before {
  content: "\ea0f";
  font-family: 'icomoon';
  font-size: 18px;
  padding-top: 0px;
  color: #606060;
}

#virtualclassCont.congrea #listppt .linkppt .mainpreview {
   font-size: 0;
   border-radius: 2px;
   float: left;
   margin: 0px;
   margin-top:-3px;
}

#virtualclassCont.congrea #listppt .linkppt .mainpreview::before {
  content: "\ea1c";
  font-family: 'icomoon';
  font-size: 18px;
  padding-top: 2px;
  color: #606060;
}

/*#virtualclassCont.congrea #listppt .linkppt.links {*/
  /*margin: 3px;*/
  /*width: 200px;*/
  /*position: relative;*/
  /*background: #fff;*/
  /*border-radius: 3px;*/
  /*height: 113px;*/
  /*margin-bottom : 30px;*/
  /*margin-left:35px;*/
  /*display:inline-block;*/
  /*padding:16px;*/
/*}*/

/*#virtualclassCont.congrea #listppt .linkppt.links:before{*/
  /*content: "\e935";*/
  /*font-size: 100px;*/
  /*font-family: 'icomoon';*/
  /*opacity: .06;*/
  /*top: 0px;*/
  /*position: absolute;*/
  /*margin-top: 48px;*/
  /*margin-left: 30px;*/
  /*align-items: center;*/
/*}*/

/*#virtualclassCont.congrea #listppt .linkppt.links .controlCont {*/
  /*float: right;*/
  /*border: 1px solid #eee;*/
  /*padding: 5px 5px 0;*/
  /*border-radius: 2px;*/
  /*background: #fff;*/
  /*margin-top:22px;*/
  /*width:83px;*/
/*}*/

#virtualclassCont.congrea #listppt .linkppt.links .controls.status[data-status="1"], #virtualclassCont.congrea #listppt .linkppt.links .controls.status[data-status="0"] {
  float: left;
  font-size: 0px;
  margin: -2px 6px 3px;
  height: 18px;
  margin-top: -3px;
}


#virtualclassCont.congrea #listppt {
  height : 75%;
  overflow-y: auto;
  margin-bottom :0;
  margin-top : 8px;
}

#virtualclassCont.congrea #listppt .linkppt.links .controls.delete {
  float: left;
  font-size: 0px;
  margin: -2px 0 3px;
  height: 20px;
  margin-top:-4px;
}


/*#virtualclassCont #listppt .linkppt{*/
  /*!*margin-top : 1.5%;*!*/
  /*border: 1px solid #ddd;*/
  /*border-radius : 4px;*/
  /*width : 123%;*/
  /*padding : 2px;*/
  /*cursor : pointer;*/
/*}*/

/*#virtualclassCont #listppt .linkppt:hover {*/
  /*border: 1px solid #ccc;*/
  /*box-shadow: 0 0 6px rgb(96, 96, 97);*/
/*}*/

button, input.form-submit, input[type="button"], input[type="submit"], input[type="reset"]{
  text-shadow:none !important;
}

#virtualclassCont .dashboardview #urlcontainer #presentationurl{
  height: 70% !important;  width:50%;
  font-size: 16px;
  padding:10px;
}
#virtualclassCont #urlcontainer #presentationurl{vertical-align: top;}

/*#virtualclassCont .dashboardview #urlcontainer #presentationurl,*/
/*#virtualclassCont .dashboardview #urlcontainer #submitpurl{*/
  /*margin-top:80px;*/
  /**/
/*}*/

#virtualclassCont.congrea #SharePresentationDashboard .dashboardview{
  width : 100%;
  text-align:center;
  /*float:left;*/
  /*margin-left: 35px;*/
  /*margin-top:5px;*/
}
/*#virtualclassCont.congrea #SharePresentationDashboard .controlCont{*/
  /*display:none;*/
/*}*/
#virtualclassCont.congrea #SharePresentationDashboard .controlCont.showCtr{
  display:block!important;
}
/*#virtualclassCont.congrea #listppt .linkppt.links .controlCont:hover{*/
  /*border: 1px solid #ccc;*/
  /*box-shadow: 0 0 6px rgb(96, 96, 97);*/
/*}*/

#virtualclassCont.congrea #pptListContainer{
  height : 89%;
}

#virtualclassCont.congrea #SharePresentationDashboard .dashboardview {
  height : 8%;
}
#virtualclassCont.congrea .linkppt.opaq{
  opacity:.5;
}

#virtualclassCont.congrea .linkppt.htn{

  border:solid #98c2ff 1px !important;
  opacity:1;
}
#virtualclassCont.congrea .linkppt.dragElem{
  background-color: #98c2ff!important;
  border:solid #2029ff 1px !important;
  opacity:1;
}




/*    */

#virtualclassCont.congrea #listppt .linkppt.links {

  position: relative;
  background: #ffffff;
  border-radius: 3px;
  height:50px;
  padding:8px;

}
#virtualclassCont.congrea #listppt .linkppt.links .controlCont {
  float: right;
  background: none;
  padding-top:8px;
}

#virtualclassCont.congrea #listppt .linkppt .controls.edit{
  display:inline;
}

#virtualclassCont.congrea #listppt .linkppt .titleCont{
  display:inline;
}

#virtualclassCont.congrea #listppt .linkppt .controlCont .controls{
  margin-left:22px !important;
}

#virtualclassCont.congrea #listppt .linkppt:nth-child(odd)
{
  background-color: #f9f9f9;
}
#virtualclassCont.congrea #listppt .linkppt .mainpreview::before {
  content: "\ea15";
  font-family: 'icomoon';
  opacity:.7;

}

#virtualclassCont.congrea #listppt .linkppt .controlCont div[data-status="0"]::before {
  content: "\e94d";
  font-family: 'icomoon';
  font-size:21px;

}

#virtualclassCont.congrea #listppt .linkppt .controlCont div[data-status="1"]::before {
  content: "\e94e";
  font-family: 'icomoon';
  font-size:21px;

}

#virtualclassCont.congrea #listppt .linkppt .controls.delete::before {
  content: "\e920";
  font-family: 'icomoon';
}

#virtualclassCont.congrea #listppt .linkppt .controls::before {
  font-size: 16px;
  color: rgba(96, 96, 96, 0.81);
  opacity: .7;
}

#virtualclassCont.congrea #listppt .linkppt:hover
{
  background-color: #efefef;
  /*-webkit-transform:scale(1.008);*/
  /*-moz-transform:scale(1.008);*/
  /*-ms-transform:scale(.9);*/
  /*-o-transform:scale(.9);*/
  transform:scale(1.0005);
}
#virtualclassCont.congrea #listppt .linkppt {
  -webkit-transition:all 0.5s ease-out;
  -moz-transition:all 0.5s ease-out;
  -ms-transition:all 0.5s ease-out;
  -o-transition:all 0.5s ease-out;
  transition:all 1s ease-out;
}
#virtualclassCont.congrea #listppt .linkppt.playing {

  border:solid #98c2ff 1px;
}