#virtualclassCont #dashboardContainer .modal-body {
  padding: 0;
  max-height: none;
}

#virtualclassCont #dashboardContainer .modal-body #DocumentShareDashboard {
  height: 100%;
}

#virtualclassCont #listvideo .videoTitle {
  text-transform: capitalize;
  display: inline;
  margin-left: 28px;
  top: 6px;
  overflow: hidden;
  position: absolute;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 50%;
  font-size: 0.9em;
}

#virtualclassCont.congrea .dashboardview {
  margin: 0;
  padding: 0;
}

#virtualclassCont.congrea #listvideo .list-group-item {
  padding: 13px 0 13px 0;
}

#virtualclassCont.congrea #listvideo .linkvideo.list-group-item {
  border: 1px solid #f1f1f1;
}

#virtualclassCont.congrea .dbContainer .linkvideo .mainpreview,
#virtualclassCont.congrea .dbContainer .linkvideo .controlCont {
  cursor: pointer;
}

#virtualclassCont.congrea .linkvideo[data-selected='1'] {
  padding: 2px;
  border-radius: 3px;
  background: linear-gradient(to bottom, #515e69 0%, #34404c 100%);
  color: #fff;
  text-align: center;
}

#virtualclassCont.congrea #VideoDashboard .btn-default {
  color: white;
  height: 99%;
}

#virtualclassCont.congrea #submitpurl.btn-default {
  width: 13%;
  border: 1px solid #bdbdbd;
  border-radius: 6px;
  padding: 8px;
  color: #fff;
  height: 71%;
  min-height: 40px;
}

#virtualclassCont.congrea #congdashboard.modal .modal-header {
  padding: 0.8125rem;
  border-bottom-left-radius: 5px;
  border: none;
  position: relative;
}

/* old */

#virtualclassCont.congrea #listvideo .linkvideo .controlCont div[data-status="0"]::before {
  content: "\e94d";
  font-family: 'icomoon';
  font-size: 18px;
}

#virtualclassCont.congrea #listvideo .linkvideo .controlCont div[data-status="1"]::before {
  content: "\e94e";
  font-family: 'icomoon';
  font-size: 18px;
}

#virtualclassCont.congrea #listvideo .linkvideo .controls.delete::before {
  content: "\e920";
  font-family: 'icomoon';
  font-size: 14px;
  line-height: 1.3;
}

#virtualclassCont.congrea #listvideo .linkvideo.links {
  /* width: 200px; */
  position: relative;
  background: #fff;
  border-radius: 3px;
  height: 50px;
  padding: 8px;
}

#virtualclassCont.congrea #listvideo .linkvideo .mainpreview::before {
  content: "\ea15";
  font-family: 'icomoon';
  opacity: 0.7;
  font-size: 15px;
}

#virtualclassCont.congrea #listvideo .linkvideo.noVideo .mainpreview::before {
  content: "\e97c";
  font-family: 'icomoon';
}

#virtualclassCont.congrea .linkdocs.noDocs::before {
  content: "\e97c";
  font-family: 'icomoon';
  float: left;
  margin-top: 6px;
  margin-left: 2px;
  margin-right: 3px;
}

#virtualclassCont.congrea #listvideo .linkvideo.noVideo {
  pointer-events: none;
  opacity: 0.5;
}

#virtualclassCont.congrea #listvideo .linkvideo .controls::before {
  color: rgba(96, 96, 96, 0.81);
  opacity: 0.7;
}

#virtualclassCont.congrea #listvideo .linkvideo.links .controls.status[data-status="1"],
#virtualclassCont.congrea #listvideo .linkvideo.links .controls.status[data-status="0"] {
  float: left;
  font-size: 0;
  margin: -5px 1px 3px 16px;
  height: 20px;
  padding-top: 2px;
}

#virtualclassCont #listvideo .linkvideo {
  padding: 2px;
  cursor: move;
}

#virtualclassCont.congrea #listvideo .controlCont:hover {
  /* border: 1px solid #ccc; */
  box-shadow: none;
}

#virtualclassCont.congrea #listvideo .linkvideo.links .controlCont {
  float: right;
  background: none;
  padding-top: 8px;
  padding-left: 0;
}

button,
input.form-submit,
input[type="button"],
input[type="submit"],
input[type="reset"] {
  text-shadow: none;
  display: inline-block;
  padding: 4px 12px;
  text-align: center;
  font-size: 14px;
  vertical-align: middle;
}

.playControllerMainCont #playControllerCont #playController #recPause {
  padding: 0.84375rem 1.875rem;
}

.playControllerMainCont #playControllerCont #playController #recPauseCont.recordingPlay #recPause {
  padding: 0.875rem 1.78125rem;
}

#virtualclassCont #urlcontainer #presentationurl {
  vertical-align: top;
}

#virtualclassCont.congrea #VideoDashboard .dashboardview {
  width: 85%;
  float: left;
  margin-left: 35px;
  margin-top: 5px;
}

#virtualclassCont.congrea #congreavideoContBody {
  position: absolute;
  top: 0;
  width: 98%;
  height: 85%;
}

#virtualclassCont #listvideo {
  margin: 15px;
  overflow-y: auto;
  height: calc(100vh - 180px);
}

#virtualclassCont.congrea #listvideo {
  z-index: 0;
}

#virtualclassCont .uploadSuccess #listvideo,
#virtualclassCont #VideoDashboard.uploading #videoPopup #listvideo {
  height: calc(100vh - 227px);
}

#virtualclassCont #videoPopup #uploadMsz {
  display: block;
  z-index: 20;
  width: 85%;
  margin: 0 auto;
}

#virtualclassCont #congreavideoContBody .qq-uploader-selector.qq-uploader {
  width: 100%;
  height: 80vh;
  max-height: 80vh;
}

#videoUrlContainer {
  z-index: 40;
}

#virtualclassCont.congrea #VideoDashboard .qq-gallery .qq-thumbnail-wrapper {
  display: none;
}

#virtualclassCont.congrea #VideoDashboard #congreaShareVideoUrlCont {
  position: fixed;
  bottom: 20px;
  width: 90%;
  height: 42px;
  overflow: hidden;
  padding: 0;
  margin: 0 5%;
}

#virtualclassCont.congrea #VideoDashboard #uploadMsz .alert-success #congreaShareVideoUrlCont {
  display: none;
}

#virtualclassCont.congrea #listvideo .linkvideo .mainpreview {
  font-size: 0;
  border-radius: 2px;
  float: left;
  margin: -3px 2px 3px;
  height: 20px;
  padding-top: 2px;
}

#virtualclassCont.congrea i.icon-savevideo.cgIcon {
  position: absolute;
  top: 16px;
  left: 14px;
  font-family: inherit;
}

#virtualclassCont.congrea #listvideo .linkvideo.links .videoTitleCont::before {
  font-size: 24px;
  align-items: center;
  position: relative;
  top: 2px;
  color: rgba(128, 128, 128, 0.97);
}

#virtualclassCont.congrea #listvideo .linkvideo.links.video_online .videoTitleCont::before {
  content: "\e957";
  font-family: 'icomoon';
}

#virtualclassCont.congrea #listvideo .linkvideo.links.video_yts .videoTitleCont::before {
  content: "\f167";
  font-family: 'icomoon';
}

#virtualclassCont.congrea #listvideo .linkvideo.links.video .videoTitleCont::before {
  content: "\e95d";
  font-family: 'icomoon';
}

#virtualclassCont.congrea #VideoDashboard .controlCont.showCtr {
  display: block;
}

#virtualclassCont.congrea #VideoDashboard #uploadMsz .close {
  z-index: 2;
  padding: 2px 5px 4px 6px;
}

#virtualclassCont.congrea #VideoDashboard #uploadMsz li {
  width: 70%;
  margin-left: 10%;
}

#virtualclassCont.congrea #VideoDashboard #uploadMsz li .qq-thumbnail-wrapper {
  display: none;
}

#virtualclassCont.congrea #VideoDashboard #uploadMsz li .qq-file-info {
  margin-left: 15%;
}

#virtualclassCont.congrea #videoUrlContainer {
  margin-bottom: 0;
  text-align: right;
}

#virtualclassCont.congrea.student.presenter #videoUrlContainer {
  text-align: left;
}

#virtualclassCont.congrea #videoUrlContainer .btn-default {
  height: 42px;
  width: 60px;
  float: right;
  box-shadow: none;
  border-width: 0;
  border-radius: 0 4px 4px 0;
  position: absolute;
  right: 1px;
}

#virtualclassCont.congrea #congreaShareVideoUrlCont #uploadBtnCont .btn-default {
  width: 200px;
}

#virtualclassCont.congrea #congreavideoContBody .qq-uploader.qq-gallery {
  border-radius: 0;
  border: 0;
}

#virtualclassCont.congrea #VideoDashboard #congreaShareVideoUrlCont #uploadBtnCont #uploadVideo {
  border-width: 0;
  border: 0;
  border-radius: 4px;
  box-shadow: none;
}

#virtualclassCont.congrea #congreavideoContBody .qq-progress-bar,
#virtualclassCont.congrea #docsuploadContainer .qq-progress-bar {
  display: none;
}

#virtualclassCont.congrea #VideoDashboard #videoPopup #uploadMsz .qq-upload-list-selector .qq-progress-bar-container-selector .qq-progress-bar-selector {
  height: 7px;
  margin-top: 3px;
}

#virtualclassCont.congrea #VideoDashboard #uploadMsz {
  height: 52px;
}

#virtualclassCont.congrea #VideoDashboard #videoPopup #uploadMsz {
  height: auto;
}

#virtualclassCont.congrea .linkvideo.opaq {
  opacity: 0.5;
}

#virtualclassCont.congrea .linkvideo.htn {
  border: solid #98c2ff 1px;
  opacity: 1;
}

#virtualclassCont.congrea .linkvideo.dragElem {
  background-color: #98c2ff;
  border: solid #2029ff 1px;
  opacity: 1;
}

#virtualclassCont.congrea #listvideo .linkvideo .edit ::before {
  content: "\e91e";
  font-family: 'icomoon';
  font-size: 12px;
  position: relative;
  top: 4px;
  margin-left: 8px;
  color: #777;
  opacity: 0.7;
}

#virtualclassCont.congrea #listvideo .linkvideo .edit.editDisable ::before {
  content: "\e959";
  font-family: 'icomoon';
  font-size: 17px;
  position: relative;
  top: 4px;
  margin-left: 8px;
  color: #777;
  opacity: 0.3;
}

#virtualclassCont.congrea #listvideo .linkvideo .edit:hover ::before {
  content: "\f044";
  font-family: 'icomoon';
  font-size: 18px;
  position: relative;
  top: 4px;
  margin-left: 8px;
  color: #777;
  opacity: 1;
}

#virtualclassCont.congrea #listvideo .linkvideo .videoTitleCont .controls.edit {
  display: none;
}

#virtualclassCont.congrea #listvideo .linkvideo .videoTitleCont .titleCont {
  display: inline;
}

#virtualclassCont.congrea #VideoDashboard .controlCont.col-md-2 {
  min-width: 140px;
}

#virtualclassCont.congrea #listvideo .linkvideo .controlCont .controls {
  margin-left: 16px;
}

#virtualclassCont.congrea #listvideo .linkvideo {
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 1s ease-out;
}

#virtualclassCont.congrea #listvideo .linkvideo:hover {
  background-color: #efefef;
}

#virtualclassCont.congrea #listvideo .linkvideo:nth-child(odd) {
  background-color: #e9ecef;
}

#virtualclassCont.congrea #listvideo .linkvideo.playing {
  border: solid #98c2ff 1px;
}

#virtualclassCont.congrea #listvideo .linkvideo.playDisable .videoTitleCont {
  opacity: 0.3;
}

#virtualclassCont.congrea #listvideo .linkvideo.playDisable:hover .status::before {
  opacity: 1;
}

#virtualclassCont.congrea #listvideo .linkvideo.playDisable:hover .delete::before {
  opacity: 1;
}

#virtualclassCont.congrea #listvideo .linkvideo .controls:hover::before {
  /**  font-size: 17px;  **/
  color: rgba(0, 0, 0, 0.81);
}

#virtualclassCont.congrea #listvideo .linkvideo .controls.edit a::before {
  padding-top: 3px;
  height: 20px;
  margin-top: 0;
}

@media (max-height: 768px) {
  #virtualclassCont #dashboardContainer .modal .modal-content {
    min-height: 100%;
  }
}

#virtualclassCont.congrea #listvideo .linkvideo.playDisable .mainpreview::before {
  cursor: default;
}

#virtualclassCont.congrea .video-js .vjs-progress-control {
  margin-left: 20px;
}

#virtualclassCont.congrea .video-js .vjs-control-bar .vjs-play-control::before,
#virtualclassCont.congrea .video-js .vjs-fullscreen-control::before {
  top: 7px;
}

#virtualclassCont.congrea .linkvideo.links.video.enable.playing .controls.status,
#virtualclassCont.congrea .linkvideo.links.video_yts.enable.playing .controls.status {
  pointer-events: none;
  opacity: 0.3;
  cursor: auto;
}

#virtualclassCont.congrea #VideoDashboard #videoPopup #uploadMsz button.qq-upload-cancel-selector.qq-upload-cancel {
  display: none;
}

#virtualclassCont.congrea #congdashboard .qq-alert-dialog-selector {
  max-width: 50%;
}

#virtualclassCont.congrea #VideoDashboard #uploadMsz .qq-upload-list-selector .qq-file-info .qq-file-name {
  width: 60%;
}

#virtualclassCont.congrea[data-currapp="Video"] #virtualclassAppLeftPanel #congrealogo img {
  display: none;
}

#virtualclassCont.congrea .linkvideo.links.video.enable.playing .controls.delete,
#virtualclassCont.congrea .linkvideo.links.video_yts.enable.playing .controls.delete {
  pointer-events: none;
  opacity: 0.3;
  cursor: auto;
}

#virtualclassCont.congrea #listvideo .linkvideo.singleVideo .controls.delete {
  pointer-events: visible;
  opacity: 1;
  cursor: pointer;
}

#virtualclassCont.congrea #listvideo .linkvideo.links .controls.delete {
  float: left;
  font-size: 0;
  margin: -6px 1px 1px 13px;
  height: 20px;
  padding-top: 4px;
}

@media (min-width: 1300px) {
  #virtualclassCont.congrea #listvideo .linkvideo.links .controlCont {
    width: 16%;
  }
}

#virtualclassCont.congrea .vjs-seek-to-live-control {
  display: none;
}
