#virtualclassCont #dashboardContainer .modal-dialog {
  /*width : 85% !important;*/
}

#virtualclassCont #dashboardContainer .modal .modal-content {
  /*height: 87%;*/
  max-height:none;
  padding : 0;
  overflow: hidden;

}

#virtualclassCont #dashboardContainer .modal .modal-header {
  height : 70px;
}
#virtualclassCont #dashboardContainer .modal-body {
  /*height : 92%;*/
  padding : 0;
  max-height:none;
}

#virtualclassCont #listvideo {
  height: 83%;
  overflow-y: auto;
  margin-bottom :0;
  margin-top : 8px;
}

#virtualclassCont #listvideo .videoTitle{
  display: inline;
  margin-left: 28px;
  top: 6px;
  overflow: hidden;
  position: absolute;
  text-overflow: ellipsis;
  white-space: nowrap;
  width:50%;
}
#virtualclassCont #listvideo .noVideo .videoTitle {
  overflow: inherit;
}

#virtualclassCont.congrea .dashboardview {
  margin : 0;
  padding :0;
}

#virtualclassCont.congrea  #listvideo .linkvideo .controlCont:hover{
  background : #ad0505;
}

#virtualclassCont.congrea  #listvideo .list-group-item{
  padding: 13px 0 13px 0;
}

#virtualclassCont.congrea #listvideo .linkvideo.list-group-item {
  border : 1px solid  #f1f1f1;
}

/*#virtualclassCont.congrea  #listdocs .linkdocs .mainpreview {*/
/*float : right;*/

/*}*/

#virtualclassCont.congrea .dbContainer .linkvideo .mainpreview, #virtualclassCont.congrea .dbContainer .linkvideo  .controlCont {
  cursor : pointer;
}

#virtualclassCont.congrea .linkvideo[data-selected='1']{
  padding: 2px;
  border-radius: 3px;
  /*background: linear-gradient(to bottom, #595e63 0%, #656a6f 100%);*/
  background: linear-gradient(to bottom, #515e69 0%, #34404c 100%);
  color : #fff;
  text-align : center;
}


#virtualclassCont.congrea #listvideo .linkvideo.list-group-item:hover {
  /*background: linear-gradient(to bottom, #515e69 0%, #34404c 100%);*/
  background: linear-gradient(to bottom, #595e63 0%, #656a6f 100%);
  color : #fff;
}

#virtualclassCont.congrea  #VideoDashboard .btn-default{
  background: linear-gradient(to bottom, #515e69 0%, #34404c 100%);
  color:white;
  height : 99%;
}


#virtualclassCont.congrea  #VideoDashboard .btn-default:hover{
  /*background: linear-gradient(to bottom, #595e63 0%, #656a6f 100%);*/
  /*color:black;*/
}



#virtualclassCont.congrea #submitpurl.btn-default{
  width: 13%;
  border: 1px solid #bdbdbd;
  background: linear-gradient(to bottom, #515e69 0%, #34404c 100%);
  border-radius: 6px;;
  padding: 8px;
  color : #fff;
  height : 71%;
}


#virtualclassCont.congrea #congdashboard.modal .modal-header{
  padding : 6px;
}


#virtualclassCont.congrea .currentNav .mainpreview {
  box-shadow: 0 0 6px rgb(96, 96, 97);
}
/*old*/

#virtualclassCont.congrea #listvideo .linkvideo .controlCont div[data-status="0"]::before {
  content: "\e94d";
  font-family: 'icomoon';
  font-size:21px;

}



#virtualclassCont.congrea #listvideo .linkvideo .controlCont div[data-status="1"]::before {
  content: "\e94e";
  font-family: 'icomoon';
  font-size:20px;
}


#virtualclassCont.congrea #listvideo .linkvideo .controls.delete::before {
  content: "\e920";
  font-family: 'icomoon';
  font-size: 16px;
  line-height: 1.3;
}


#virtualclassCont.congrea #listvideo .linkvideo .mainpreview {
  font-size: 0;
  border-radius: 2px;
  float: left;
  margin: 0 10px;
}

#virtualclassCont.congrea #listvideo .linkvideo.links {
  /*width: 200px;*/
  position: relative;
  background: #ffffff;
  border-radius: 3px;
  height:50px;
  /*margin-left:35px;*/
  /*display:inline-block;*/
  padding:8px;

}

#virtualclassCont.congrea #listvideo .linkvideo .mainpreview::before {
  content: "\ea15";
  font-family: 'icomoon';
  opacity:.7;
  font-size: 15px;
}


#virtualclassCont.congrea #listvideo .linkvideo.noVideo .mainpreview::before{
  content: "\e97c";
  font-family: 'icomoon';
}

#virtualclassCont.congrea .linkdocs.noDocs::before {
  content: "\e97c";
  font-family: 'icomoon';
  float: left;
  margin-top: 6px;
  margin-left: 2px;
  margin-irght : 3px;
}


#virtualclassCont.congrea #listvideo .linkvideo.noVideo{
  pointer-events  : none;
  opacity : 0.5;
}

#virtualclassCont.congrea #listvideo .linkvideo.links.video .videoTitleCont:before{
  content: "\e95d";
  font-family: 'icomoon';

}

#virtualclassCont.congrea #listvideo .linkvideo.links.video_yts .videoTitleCont:before{
  content: "\f167";
  font-family: 'icomoon';

}

#virtualclassCont.congrea #listvideo .linkvideo.links.video_online .videoTitleCont:before{
  content: "\e957";
  font-family: 'icomoon';

}

#virtualclassCont.congrea #listvideo .linkvideo .controls::before {
  color: rgba(96, 96, 96, 0.81);
  opacity: .7;
}

#virtualclassCont.congrea #listvideo .linkvideo.links .controlCont {
  float: right;
  background: none;
  padding-top:8px;
}

#virtualclassCont.congrea #listvideo .linkvideo.links .controls.status[data-status="1"],
#virtualclassCont.congrea #listvideo .linkvideo.links .controls.status[data-status="0"],
#virtualclassCont.congrea #listvideo .linkvideo.links .controls.delete{
  float: left;
  font-size: 0px;
  margin: -5px 1px 1px 0px;
  height: 20px;
  padding-top:2px;
}


/*#virtualclassCont.congrea #listvideo .linkvideo.links .controls.delete {*/
/*float: left;*/
/*font-size: 0px;*/
/*margin: -2px 3px 0 3px;*/
/*height: 20px;*/
/*padding-top:2px;*/
/*}*/

#virtualclassCont #listvideo .linkvideo{
  padding : 2px;
  cursor : pointer;
}

#virtualclassCont #listvideo .linkvideo:hover {
  /*border: 1px solid #ccc;*/
  box-shadow: 0 0 6px  #e3e3e3;;
}

#virtualclassCont #listvideo .controlCont:hover {
  /*border: 1px solid #ccc;*/
  box-shadow: none;
}

button, input.form-submit, input[type="button"], input[type="submit"], input[type="reset"]{
  text-shadow:none !important;
}

/*#virtualclassCont .dashboardview #urlcontainer #presentationurl{*/
/*height: 46px;  width:300px;*/
/*font-size: 14px;*/
/*}*/
#virtualclassCont #urlcontainer #presentationurl{vertical-align: top;}

/*#virtualclassCont .dashboardview #urlcontainer{*/

/*margin-top:10px;*/
/*}*/

#virtualclassCont.congrea #VideoDashboard .dashboardview{
  width : 85%;
  float:left;
  margin-left: 35px;
  margin-top:5px;
}
#virtualclassCont.congrea #congreavideoContBody {
  position : absolute;
  top : 0;
  width:98%;
  height : 85%;
}
/*#virtualclassCont.congrea #videoUrlContainer {*/
/*width:100%;*/
/*height:100%;*/
/*}*/
#virtualclassCont #congreavideoContBody .qq-uploader-selector.qq-uploader{
  width: 100%;
  height: 80vh;
  max-height:80vh;
}

/*#virtualclassCont.congrea #videoUrlContainer #submitURL:hover {*/
/*background-color: #4c4c4c;*/
/*background-image: none;*/
/*}*/

#videoUrlContainer {
  z-index: 40;
}

#virtualclassCont.congrea #videoUrlContainer {
  /*position: relative;*/
  text-align: right;
  /*display:none;*/
}


#virtualclassCont.congrea.student.presenter #videoUrlContainer{
  text-align: center;
}

#virtualclassCont.congrea.student.presenter #videoUrlContainer {
  text-align: left;
}


#virtualclassCont.congrea #VideoDashboard .qq-gallery .qq-thumbnail-wrapper {
  display:none !important;
}

#virtualclassCont.congrea #VideoDashboard #congreaShareVideoUrlCont{
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 48px;
  overflow: hidden;
  padding: 0px;
  margin: 0px;
}

#virtualclassCont.congrea #listvideo .linkvideo .mainpreview {
  font-size: 0;
  border-radius: 2px;
  float: left;
  margin: -1px 2px 3px;
  height: 20px;
  padding-top:2px;
}

#virtualclassCont.congrea i.icon-savevideo.cgIcon {
  position: absolute;
  top: 16px;
  left: 14px;
  font-family: inherit;
}


#virtualclassCont.congrea #listvideo .linkvideo.links .videoTitleCont:before{
  font-size: 24px;
  align-items: center;
  position: relative;
  top: 8px;
  color: rgba(128, 128, 128, 0.97);
}

#virtualclassCont.congrea #VideoDashboard .controlCont{
  /*display:none;*/
}
#virtualclassCont.congrea #VideoDashboard .controlCont.showCtr{
  display:block!important;
}
#virtualclassCont.congrea #VideoDashboard #uploadMsz .close{
  z-index:2;
}

#virtualclassCont.congrea #VideoDashboard #uploadMsz li{
  width:70%;
  margin-left:10%;
  height:53%;

}

#virtualclassCont.congrea #VideoDashboard #uploadMsz li .qq-thumbnail-wrapper{
  display:none;
}


#virtualclassCont.congrea #VideoDashboard #uploadMsz li .qq-file-info{
  margin-left:40%;
}

#virtualclassCont.congrea #congreaShareVideoUrlCont #uploadBtnCont .btn-default {
  width: 200px;
}

#virtualclassCont.congrea #videoUrlContainer {
  margin-bottom: 0px;
}

#virtualclassCont.congrea #videoUrlContainer .btn-default {
  height: 63px;
  width: 60px;
  float: right;
  box-shadow: none;
  border-width: 0;
  border-radius: 0 0 4px 0;
  position: absolute;
  right: 0px;
}

/*@media (min-width: 1270px) {*/
/*#virtualclassCont.congrea #congreaShareVideoUrlCont #uploadBtnCont .btn-default {*/
/*width: 200px;*/
/*}*/
/*}*/

#virtualclassCont.congrea #congreavideoContBody .qq-uploader.qq-gallery {
  border-radius: 0px;
  border: 0px;
}

#virtualclassCont.congrea #VideoDashboard #congreaShareVideoUrlCont  #uploadBtnCont #uploadVideo {
  /* border-top: none; */
  /* border-right: none; */
  border-width: 0;
  border: 0;
  border-radius: 0 4px 0px 4px;
  box-shadow: none;
}

#virtualclassCont.congrea #congreavideoContBody .qq-progress-bar,
#virtualclassCont.congrea #docsuploadContainer .qq-progress-bar{
  display:none;
}
#virtualclassCont.congrea #VideoDashboard #uploadMsz{
  height:52px;
}

#virtualclassCont.congrea .linkvideo.opaq{
  opacity:.5;
}

#virtualclassCont.congrea .linkvideo.htn{

  border:solid #98c2ff 1px !important;
  opacity:1;
}
#virtualclassCont.congrea .linkvideo.dragElem{
  background-color: #98c2ff!important;
  border:solid #2029ff 1px !important;
  opacity:1;
}
#virtualclassCont.congrea #listvideo .linkvideo .edit ::before {
  content: "\e91e";
  font-family: 'icomoon';
  font-size: 12px;
  position: relative;
  top: 4px;
  margin-left: 8px;
  color: #777;
  opacity:.7;
}

#virtualclassCont.congrea #listvideo .linkvideo .edit.editDisable ::before {
  content: "\e959";
  font-family: 'icomoon';
  font-size: 17px;
  position: relative;
  top: 4px;
  margin-left: 8px;
  color: #777;
  opacity:.3
}

#virtualclassCont.congrea #listvideo .linkvideo .edit:hover ::before {
  content: "\f044";
  font-family: 'icomoon';
  font-size: 18px;
  position: relative;
  top: 4px;
  margin-left: 8px;
  color: #777;
  opacity:1;
}

#virtualclassCont.congrea #listvideo .linkvideo .videoTitleCont .controls.edit{
  display:none;
}

#virtualclassCont.congrea #listvideo .linkvideo .videoTitleCont .titleCont{
  display:inline;
}
#virtualclassCont.congrea #VideoDashboard .controlCont.col-md-2 {
  min-width: 140px;
}
#virtualclassCont.congrea #listvideo .linkvideo .controlCont .controls{
  margin-left:16px !important;
}

#virtualclassCont.congrea #listvideo .linkvideo:nth-child(odd)
{
  background-color: #f9f9f9;
}
#virtualclassCont.congrea #listvideo .linkvideo:hover
{
  background-color: #efefef;
  /*-webkit-transform:scale(1.008);*/
  /*-moz-transform:scale(1.008);*/
  /*-ms-transform:scale(.9);*/
  /*-o-transform:scale(.9);*/
  transform:scale(1.0005);
}
#virtualclassCont.congrea #listvideo .linkvideo {
  -webkit-transition:all 0.5s ease-out;
  -moz-transition:all 0.5s ease-out;
  -ms-transition:all 0.5s ease-out;
  -o-transition:all 0.5s ease-out;
  transition:all 1s ease-out;
}

#virtualclassCont.congrea #listvideo .linkvideo.playing {

  border:solid #98c2ff 1px;
}


#virtualclassCont.congrea #listvideo .linkvideo.playDisable {
  opacity:0.3;

}
#virtualclassCont.congrea #listvideo .linkvideo.playDisable:hover .status:before {
  opacity:1 !important;


}
#virtualclassCont.congrea #listvideo .linkvideo.playDisable:hover .delete:before {
  opacity:1 !important;

}
#virtualclassCont.congrea #listvideo .linkvideo .controls:hover:before {
  font-size: 17px;
  color: rgba(0, 0, 0, 0.81);
}
#virtualclassCont.congrea #listvideo .linkvideo .controls.edit a:before{
  padding-top: 3px !important;
  height: 20px !important;
  margin-top: 0 !important;

}
#listvideo{

  z-index: 0 !important;
}