#virtualclassCont.congrea .screen {
    display: none;
}

#virtualclassCont.congrea .current {
    display: block;
}

#virtualclassCont.congrea #listDocs .linkdoc {
    display: inline;
    background: gray;
    margin-left: 10px;
    padding: 10px;
    cursor: pointer;
}

#virtualclassCont.congrea #documentScreen {
    margin-bottom: 60px;
}

#virtualclassCont.congrea .page_wrapper {
    overflow: hidden;
    position: relative;
    height: 280px;
    top: auto;
}

#virtualclassCont.congrea .image_slider {
    position: relative;
    height: auto;
    list-style: none;
    overflow: hidden;
    float: left;
    /*Chrom default padding for ul is 40px */
    padding: 0px;
    margin: 0px;
}

#virtualclassCont.congrea .image_slider li {
    position: relative;
    float: left;
}

#virtualclassCont.congrea #pager {
    /* firefox has different center method. this doesn't work for fire fox */
    /* not in the center*/
    padding: 0px;
    position: relative;
    height: 50px;
    margin: auto;
    margin-top: 10px;
}

#pager li {
    padding: 0px;
    margin: 5px;
    width: 20px;
    height: 20px;
    border: 1px solid white;
    color: white;
    list-style: none;
    opacity: 0.6;
    float: left;
    border-radius: 3px;
    cursor: pointer;
}

#pager li:hover {
    opacity: 0.9;
}

#virtualclassCont.congrea #documentScreen #docScreenContainer {
    overflow: hidden;
    position: relative;
}

#virtualclassCont.congrea #documentSharing #listDocs {
    margin-top: 90px;
}

#virtualclassCont.congrea .pageContainer .note {
    display: none;
}

#virtualclassCont.congrea .pageContainer .note.current {
    display: block;
}

#virtualclassCont.congrea #virtualclassDocumentShare.container, #virtualclassCont.congrea #virtualclassDocumentShare #documentScreen {
    width: 90%;
}

#virtualclassCont.congrea .pages .links[data-status='0'] {
    opacity: 0.5;
}

#virtualclassCont.congrea .screen[data-status='0'] {
    opacity: 0.5;
    pointer-events: none;
}

#virtualclassCont.congrea .page_wrapper {
    /*height: 600px;*/
    height : 95vh;
}

/*#listnotes {*/
/*width: 1600px;*/
/*}*/

#virtualclassCont.congrea .pages .links {
    position: relative;

}

#virtualclassCont.congrea[data-currapp = 'Poll'] #chat_div .controls [data-title = 'Transfer Controls'],
#virtualclassCont.congrea[data-currapp = 'Video'] #chat_div .controls [data-title = 'Transfer Controls'],
#virtualclassCont.congrea[data-currapp = 'Quiz'] #chat_div .controls [data-title = 'Transfer Controls'],
#virtualclassCont.congrea[data-currapp = 'DocumentShare'] #chat_div .controls [data-title = 'Transfer Controls'],
#virtualclassCont.congrea .zoomControler .maxLevel{
    pointer-events: none;
    opacity: 0.5;
}

/*#virtualclassCont.congrea #virtualclassDocumentShare.virtualclass .next, #virtualclassCont.congrea #virtualclassDocumentShare.virtualclass .prev {*/
/*z-index: 20;*/
/*}*/

#virtualclassCont.congrea .next, #virtualclassCont.congrea .prev {
    z-index: 20;
}

#virtualclassCont.congrea #virtualclassDocumentShare.virtualclass.container {
    height: 88vh;
}

#virtualclassCont.congrea #screen-docs .listPages {
    margin-top: -9px;
}

#virtualclassCont.congrea #docScreenContainer .note canvas {
    /*margin: -7px;*/
}

#virtualclassCont.congrea #virtualclassDocumentShareTool {
    margin-bottom: -1px;
}

#virtualclassCont.congrea #virtualclassDocumentShareTool .icon-documentShare:before {
    content: "\e92e";
    font-size: 26px;
    color: #444;
    position: relative;
    top: 2px;
}

#virtualclassCont.congrea #virtualclassCont.congrea #virtualclassDocumentShare .commandToolsWrapper {
    border-radius: 5px;
}

#virtualclassCont.congrea #virtualclassCont.congrea #screen-docs .whiteboard {
    margin-left: 0px;
    margin-right: 20px;
}

#virtualclassCont.congrea #virtualclassDocumentShare {
    margin: 25px 25px 25px 80px;
}

#virtualclassCont.congrea #virtualclassDocumentShare.virtualclass.container {
    width: calc(100% - 70px);

    height: 93vh;
    /*padding: 20px;*/
    border: 1px solid #d6d5d5;
    text-align: center;
    float: left;
    min-height: 660px;
    margin:0;
    margin-left : 60px;
}

#virtualclassCont.congrea.student #virtualclassDocumentShare.virtualclass.container {
    width: calc(100% - 20px) !important;
    margin-left : 10px !important;
}

#virtualclassCont.congrea #virtualclassDocumentShare.virtualclass #documentScreen {
    width: 100%;
    float: left;
    margin: 0;
    padding: 0;
    border-width: 0;
}

#virtualclassCont.congrea #virtualclassDocumentShare.virtualclass #screen-docs {
    /*height: auto;*/
}

#virtualclassCont.congrea #virtualclassDocumentShare.virtualclass.container #newdocsBtnCont {
    padding-bottom: 7px;
    padding-top: 8px;
    border-bottom: 1px solid #ccc;
    margin: 0 -10px 10px;
    background: #f2f2f2;
    border-radius: 3px 3px 0 0;
}

#virtualclassCont.congrea #virtualclassDocumentShare.virtualclass.container #newdocsBtnCont button#newVideoBtn {
    background: transparent none;
    border-width: 0;
    box-shadow: none;
    line-height: 18px;
    margin: 0;
    font-weight: 500;
}

#virtualclassCont.congrea #virtualclassDocumentShare.virtualclass.container #newdocsBtnCont button#newVideoBtn::before {
    content: "\e9c3";
    font-family: 'icomoon';
    font-size: 36px;
    padding-top: 0px;
    margin: 4px 30% 8px;
    float: left;
}

#virtualclassCont.congrea #virtualclassDocumentShare.virtualclass #docsListContainer {
    width: auto;
    max-width: 92px;
    float: right;
    border: 1px solid #aaa;
    border-radius: 3px;
    padding: 0 10px 0;
    height: auto;
    max-height: 748px;
    overflow: auto;
}

#virtualclassCont.congrea #virtualclassDocumentShare.virtualclass #newdocsBtnCont #listdocs {
    width: auto;
    max-width: 150px;
    padding: 8px 10px 0;
    height: 100%;
    min-height: 650px;
}

#virtualclassCont.congrea #virtualclassDocumentShare.virtualclass #listdocs .linkdocs {
    float: none;
    margin: 10px 0;
}

#virtualclassCont.congrea #virtualclassDocumentShare.virtualclass #listdocs .linkdocs {
    border: 1px solid #ddd;
    margin: 3px 0 10px;
    border-radius: 2px;
}

#virtualclassCont.congrea #virtualclassDocumentShareTool .appOptions.active a span:before {
    text-shadow: #FFF 0px 0px 1px;
}

#virtualclassCont.congrea #virtualclassDocumentShare.virtualclass #listdocs .linkdocs .controlCont {
    width: 100%;
    margin: 4px 0 0;
    border-top: 1px solid #ddd;
    height: 16px;
}

#virtualclassCont.congrea #virtualclassDocumentShare.virtualclass #listdocs .linkdocs .controls.status[data-status="0"]::before {
    content: "\e9d1";
    font-family: 'icomoon';
    font-size: 16px;
    padding-top: 0px;
    color: #606060;
}

#virtualclassCont.congrea #virtualclassDocumentShare.virtualclass #listdocs .linkdocs .controls.status[data-status="1"]::before {
    content: "\e9ce";
    font-family: 'icomoon';
    font-size: 16px;
    padding-top: 0px;
    color: #606060;
}

/*#virtualclassCont.congrea #listdocs .linkdocs .controls.delete::before {*/
    /*content: "\e961";*/
    /*font-family: 'icomoon';*/
    /*font-size: 16px;*/
    /*padding-top: 0px;*/
    /*color: #ffffff;*/
/*}*/

#virtualclassCont.congrea #virtualclassDocumentShare.virtualclass #listdocs .linkdocs .controlCont {
    width: 100%;
    margin: 4px 0 0;
    border-top: 1px solid #ddd;
    height: 16px;
    padding: 5px 0;
}

#virtualclassCont.congrea #virtualclassDocumentShare.virtualclass #listdocs .linkdocs .mainpreview {
    padding: 4px 0;
}

#virtualclassCont.congrea #virtualclassVideo button#newVideoBtn {
    background: transparent none;
    border-width: 0;
    box-shadow: none;
    font-weight: 500;
}

#virtualclassCont.congrea #virtualclassVideo button#newVideoBtn::before {
    content: "\e9c3";
    font-family: 'icomoon';
    font-size: 36px;
    padding-top: 0px;
    margin: 2px 36% 6px;
    float: left;
}

#virtualclassCont.congrea #virtualclassDocumentShare.virtualclass #listdocs .linkdocs .controls.status[data-status="1"], #virtualclassDocumentShare.virtualclass #listdocs .linkdocs .controls.status[data-status="0"] {
    float: left;
    font-size: 0px;
    margin: 0 10px 0 16PX;
}

#virtualclassCont.congrea #virtualclassDocumentShare.virtualclass #listdocs .linkdocs .controls.delete {
    float: left;
    font-size: 0px;
    margin: 0 0px 0 7PX;
}

#virtualclassCont.congrea #listnotes .linknotes.links .controls.status[data-status="0"]::before {
    content: "\e9d1";
    font-family: 'icomoon';
    font-size: 12px;
    padding-top: 0px;
    color: #606060;
}

#virtualclassCont.congrea #virtualclassDocumentShare.virtualclass #screen-docs .note .imageContainer {
    position: absolute;
    padding: 25px 0;
    z-index: -1;
}

#virtualclassCont.congrea #virtualclassDocumentShare.virtualclass #screen-docs .note .imageContainer img {
    z-index: -1;
    position: relative;
    height: auto;
}

#virtualclassCont.congrea #listnotes .linknotes.links .controls.status[data-status="1"]::before {
    content: "\e9ce";
    font-family: 'icomoon';
    font-size: 12px;
    padding-top: 0px;
    color: #606060;
}

#virtualclassCont.congrea #listnotes .linknotes.links .controls.delete::before {
    content: "\ea0f";
    font-family: 'icomoon';
    font-size: 13px;
    padding-top: 0px;
    color: #606060;
}

#virtualclassCont.congrea #listnotes .linknotes.links .controlCont {
    float: left;
    border: 1px solid #eee;
    /*padding: 3px 2px 0px 0px;*/
    /*border-radius: 20px;*/
    margin: -2px 3px 3px;
    background: #fff;
    position: absolute;
    bottom: -3px;
    right: -3px;
    box-shadow: 0 0 3px rgb(96, 96, 97);
    width:45px;
}


#virtualclassCont.congrea #listnotes .linknotes.links .controls.status[data-status="1"], #virtualclassCont.congrea #listnotes .linknotes.links .controls.status[data-status="0"] {
    float: left;
    font-size: 0px;
    margin: 1px 6px 0px;
    height: 14px;
}

#virtualclassCont.congrea #listnotes .linknotes.links .controls.delete {
    float: left;
    font-size: 0px;
    margin: 0px 3px -2px 1px;
    height: 14px;
}

#virtualclassCont.congrea #listnotes .linknotes.links span.thumbList {
    background: rgba(0, 0, 0, 0.68) none;
    position: absolute;
    padding: 1px 7px;
    border-radius: 12px;
    color: #fff;
    left: 24px;
    margin-top: -28px;
}

#virtualclassCont.congrea #listnotes .linknotes.links img.thumbnail {
    border-width: 0 !important;
    margin: 0;
    /*max-width: 60px;*/
    box-shadow: none;
    border-radius: 0;
    width : 100%;
    height : 100%;
}

#virtualclassCont.congrea #listnotes .linknotes.links {
    /*float: left;*/
}

/*#virtualclassCont.congrea #listnotes .linknotes.links.currentNav {*/
/*width: 70px;*/
/*margin: 3px;*/
/*padding: 0;*/
/*height: 52px;*/
/*}*/

#virtualclassCont.congrea #listnotes .linknotes.links.currentNav .controlCont {
    display: none;
}

/*#virtualclassCont.congrea #listnotes .linknotes.links.currentNav img {*/
/*border-width: 0px !important;*/
/*height: auto !important;*/
/*max-width: 60px;*/
/*min-height: 42px;*/
/*max-height: 42px;*/
/*margin: 0;*/
/*}*/

#virtualclassCont.congrea #listnotes .linknotes.links.currentNav span.thumbList {
    padding: 2px 8px;
    background: green;
    left: 25px;
    margin-top: -37px;
}

#virtualclassCont.congrea #listnotes .linknotes.links {
    margin: 12px;
    width: 140px;
    position: relative;
    /*background: #eee;*/
    border-radius: 3px;
    height: 95px;
    margin-bottom : 30px;
}

/*#virtualclassCont.congrea .linkdocs[data-selected='1'] .mainpreview {*/

#virtualclassCont.congrea .linkdocs[data-selected='1'] {
    /*border-width: 0;*/

}

#virtualclassCont.congrea .linkdocs[data-selected='1'] .controlCont {
    display: none;
}

#virtualclassCont.congrea #screen-docs .listPages {
    border: 1px solid #aaa;
    height: 90px;
    padding: 10px;
    float: left;
    width: 95%;
    overflow-y: hidden;
    display: inline-flex;
}

#virtualclassCont.congrea #screen-docs #listnotes {
    margin-top: -73px;
}

#virtualclassCont.congrea .pageContainer {
    height: 572px;
}

#virtualclassCont.congrea .nvgt {
    position: absolute;
    top: 300px;
    height: 50px;
    width: 30px;
    opacity: 0.6;
    cursor : pointer;

    background: #dcdcdc none;
    width: 50px;
    opacity: 0.9;
    border-radius: 50px;
    /*border: 1px solid #eee;*/
}

#virtualclassCont.congrea .nvgt:hover {
    opacity: 1;
    background: #eee none;
}

#virtualclassCont.congrea .prev {
    left: 10px;
}

#virtualclassCont.congrea .nvgt.prev::before {
    content: "\ea40";
    font-family: 'icomoon';
    font-size: 18px;
    line-height: 50px;
    padding-top: 0px;
    color: #606060;
}
#virtualclassCont.congrea .precheck .prev::before {
    font-size: 14px;
    line-height: 44px;
    margin-right: 3px;
}

#virtualclassCont.congrea .next {
    right: 22px;
}


#virtualclassCont.congrea .whiteboard .prev {
    left: 60px;
}


#virtualclassCont.congrea .whiteboard .next {
    right : 380px;
}

#virtualclassCont.congrea .nvgt.next::after {
    content: "\ea3c";
    font-family: 'icomoon';
    font-size: 18px;
    line-height: 50px;
    padding-top: 0px;
    color: #606060;
}

#virtualclassCont.congrea .precheck .next::after {
    font-size: 14px;
    line-height: 44px;
    margin-left: 4px;
}

#virtualclassCont.congrea .whiteboard .next::after, #virtualclassCont.congrea .whiteboard .prev::before {
    margin-left: 13px;
}

#virtualclassCont.congrea #docScreenContainer .mainpreview {
    padding: 6px 8px 3px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 6px 8px 3px;
}

#virtualclassCont.congrea #virtualclassVideo button#newVideoBtn {
    background: transparent none;
    border-width: 0;
    box-shadow: none;
    font-weight: 500;
}

#virtualclassCont.congrea #virtualclassVideo button#newVideoBtn::before {
    content: "\e9c3";
    font-family: 'icomoon';
    font-size: 36px;
    padding-top: 0px;
    margin: 2px 36% 6px;
    float: left;
}

/*#virtualclassCont.conextngrea .note {*/
/*width : 85%;*/
/*}*/

#screen-docs .pageContainer {
    margin : auto;
}

#virtualclassCont.congrea .note canvas{
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin:auto;
}

/*#virtualclassCont.congrea #congdashboard #docsListContainer{*/
/*float:left;*/
/*}*/


/*#virtualclassCont.congrea .dashboardview, #virtualclassCont #docsuploadContainer{*/
/*width : 85%;*/
/*float: left;*/
/*}*/


#virtualclassCont .qq-upload-button-selector.qq-upload-button {
    display : none;
}

#virtualclassCont .dashboardview {
    position : relative;
}

#virtualclassCont #docsuploadContainer {
    position: absolute;
    /*top: 5px;*/
    /*left: 150px;*/
}


#virtualclassCont #docsuploadContainer {
    /*width: 70%*/
    /*z-index : -1;*/
    pointer-events : none;
}

#virtualclassCont .dashboardview .qq-uploader-selector.qq-uploader{
    width: 100%;
    height: 100%;
    max-height: 100%;
    border:none;

}

#virtualclassCont #docsListContainer .controlCont .controls.status{
    display : none;
}

#virtualclassCont.congrea .linknotes[data-selected='1'] .mainpreview {
    border : 3px solid green;
}

#virtualclassCont.congrea #DocumentShareDashboard .controlCont{
    display:none;
}
#virtualclassCont.congrea #DocumentShareDashboard .controlCont.showCtr{
    display:block!important;
}


#virtualclassCont.congrea .dbContainer .linkdocs .mainpreview {
    font-size : 0.88em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 34px;     /* fallback */
    max-height: 32px;      /* fallback */
    -webkit-line-clamp: 1; /* number of lines to show */
    -webkit-box-orient: vertical;
    max-width: 115px;
    /*float: left;*/
    font-family: monospace;
}

#virtualclassCont.congrea .qq-upload-list-selector.qq-upload-list{
    display:none;
}
#virtualclassCont.congrea #DocumentShareDashboard #docsUploadMsz{
    z-index:2;
}


#virtualclassCont.congrea #DocumentShareDashboard #docsUploadMsz li{
    width:70%;
    margin-left:10%;

}

#virtualclassCont.congrea #DocumentShareDashboard #docsUploadMsz li .qq-thumbnail-wrapper{
    display:none;
}


#virtualclassCont.congrea #DocumentShareDashboard #docsUploadMsz li .qq-file-info{
    margin-left:40%;
}

#virtualclassCont.congrea #listnotes .linknotes.links .controlCont:hover{
    cursor : pointer;
}

#virtualclassCont.congrea #listnotes .linknotes.links .controlCont .controls:hover::before{
    color : #302f2f;
}

#virtualclassCont.congrea .screen-docs .nvgt{
    cursor : pointer;
}

#virtualclassCont.congrea .nvgt.disabled {
    opacity:0.4;
}
#virtualclassCont.congrea #virtualclassDocumentShare.virtualclass .nvgt.disabled::before {
    color : #9a9898;
    pointer-events : none;
}

#virtualclassCont.congrea #screen-docs .pageContainer.lastNote .nvgt.next,
#virtualclassCont.congrea #screen-docs .pageContainer.firstNote .nvgt.prev,
#virtualclassCont.congrea #virtualclassWhiteboard.firstNote .nvgt.prev{
    pointer-events : none;
    opacity : 0.5;
}

#virtualclassCont.congrea #virtualclassDocumentShare.virtualclass .pageContainer.firstNote .prev::before,
#virtualclassCont.congrea #virtualclassDocumentShare.virtualclass .pageContainer.lastNote .next::before{
    color : #b3b2b2;
}


#virtualclassCont.congrea #DocumentShareDashboard .dbContainer {
    height : 99%
}

#virtualclassCont.congrea #dashboardnav button:focus,
#virtualclassCont.congrea #dashboardnav input.form-submit:focus,
#virtualclassCont.congrea #dashboardnav input[type="button"]:focus,
#virtualclassCont.congrea #dashboardnav input[type="submit"]:focus,
#virtualclassCont.congrea #dashboardnav input[type="reset"]:focus {
    outline: none;
    outline: none;
    outline-offset: 0px;
}


#virtualclassCont.congrea #videoUrlContainer{
    display :block;
}

#virtualclassCont.congrea .linkdocs.noDocs{
    pointer-events : none;
    opacity : 0.5;
}

/** TODO, that should be removed and validated later **/
/*#docsuploadContainer div:last-child {*/
/*display : none;*/
/*!*position : absolute;*!*/
/*!*top : 0;*!*/
/*!*left : -2133;*!*/
/*}*/

/*nirmala*/
/*#virtualclassCont.congrea[data-currapp='DocumentShare'] #docsuploadContainer div:last-child {*/

#virtualclassCont.congrea[data-currapp='DocumentShare'] #congdashboard .modal-header{
    height : 44px;
}

#virtualclassCont.congrea #listdocs {
    max-height : 82vh;
    overflow : auto;
}

#virtualclassCont.congrea #docsUploadMsz {
    height : auto;
}

#virtualclassCont.congrea[data-currapp='DocumentShare'] #dashboardContainer .modal-body {
    height : 94.2%;
}

#virtualclassCont.congrea .linknotes[data-status='0'] .mainpreview{
    pointer-events : none;
}