#virtualclassCont.congrea {
  height: 100vh;
}

#virtualclassCont.student #virtualclassAppContainer {
  width: calc(100vw - 320px);
}

#virtualclassCont #virtualclassAppContainer {
  height: calc(100vh - 44px);
}

#virtualclassCont.congrea #layoutPollBody, #virtualclassCont.congrea #layoutQuizBody {
  height: calc(100% - 48px);

}

#virtualclassCont.congrea #virtualclassVideo, #virtualclassCont.congrea #videoPlayerCont, #virtualclassCont.congrea #dispVideo,
#virtualclassCont.congrea #virtualclassPoll, #virtualclassCont.congrea.teacher #layoutPoll,
#virtualclassCont.congrea #layoutQuiz, #virtualclassCont.congrea #virtualclassQuiz,
#virtualclassCont.congrea #virtualclassSharePresentation,
#virtualclassCont.congrea #virtualclassWhiteboard {
  width: 100%;
  height: 100%;
}

#virtualclassCont.congrea #virtualclassEditorRich,
#virtualclassCont.congrea #virtualclassEditorRichBody,
#virtualclassCont.congrea #virtualclassEditorCodeBody,
#virtualclassCont.congrea.teacher #virtualclassEditorCodeBody,
#virtualclassEditorCode, #virtualclassEditorCodeBody,
#virtualclassCont.congrea .vceditor,
#virtualclassCont.congrea #virtualclassDocumentShare {
  width: 100%;
  height: 100%;
}

#virtualclassCont.congrea #virtualclassScreenShare {
  width: 100%;
  height: 99%;
  margin-top: 3px;
}

#virtualclassCont.congrea.orginalTeacher #virtualclassAppContainer {
  flex:1;
}

#virtualclassCont.congrea.student #virtualclassScreenShare {
  margin: 2px 0px 0px 3px;
}

#virtualclassCont.congrea #whiteboardContainer {
  width: auto;
  height: auto;
}

#virtualclassCont.congrea.teacher .canvasWrapper {
  height: calc(100vh - 93px);
}

#virtualclassCont.congrea.teacher .canvasWrapper {
  width: 100%;
}

#virtualclassCont.congrea.student .canvasWrapper {
  height: calc(100vh - 44px);
}

#virtualclassCont.congrea.student.playMode .canvasWrapper {
  height: calc(100vh - 51px);
}

#virtualclassCont.congrea .canvasWrapper {
  width: auto;
  overflow: auto;
}

#virtualclassCont.congrea.teacher #virtualclassVideo, #virtualclassCont.congrea.teacher #virtualclassSharePresentation {
  margin-left: 2px;
}

@media only screen
and (min-device-width: 368px)
and (max-device-width: 1024px) {

  #virtualclassCont[device="mobile"] #virtualclassAppLeftPanel #sidebarButton .sidebarButton {
    padding: 14px 1px;
  }

  #virtualclassCont.congrea #virtualclassAppRightPanel {
    height: calc(100vh - var(--vh-offset));
  }

  #virtualclassCont.congrea.fullScreenMode #virtualclassAppRightPanel {
    height: 100vh;
  }

  #virtualclassCont.congrea {
    height: calc(100vh - var(--vh-offset));
  }

  #virtualclassCont.congrea.fullScreenMode {
    height: 100vh;
  }

  #virtualclassCont.congrea #chat_div {
    height: calc(100vh - var(--vh-offset) - 388px);
  }

  #virtualclassCont.congrea.fullScreenMode #chat_div {
    height: calc(100vh - 388px);
  }

  #virtualclassCont #virtualclassAppContainer {
    height: calc(100vh - var(--vh-offset) - 44px);
  }

  #virtualclassCont.fullScreenMode #virtualclassAppContainer {
    height: calc(100vh - 44px);
  }

  #virtualclassCont.congrea.student .canvasWrapper {
    height: calc(100vh - var(--vh-offset) - 44px);
  }

  #virtualclassCont.congrea.student.fullScreenMode .canvasWrapper {
    height: calc(100vh - 44px);
  }

  #virtualclassCont.congrea.student.playMode .canvasWrapper {
    height: calc(100vh - var(--vh-offset) - 92px);
  }

  #virtualclassCont.congrea.student.playMode.fullScreenMode .canvasWrapper {
    height: calc(100vh - 92px);
  }

  #virtualclassCont.congrea #docMsgStudent {
    margin: calc(40vh - var(--vh-offset));
  }

  #virtualclassCont.congrea.fullscreenMode #docMsgStudent {
    margin: 40vh;
  }

  #iosAudioTrigger {
    display: none;
  }

  #virtualclassCont.congrea .vidHide #chat_div {
    height: calc(100vh - var(--vh-offset) - 148px);
  }

  #virtualclassCont.congrea.fullScreenMode .vidHide #chat_div {
    height: calc(100vh - 148px);
  }

  #virtualclassCont.congrea.student .vidHide #chat_room {
    height: calc(100vh - var(--vh-offset) - 160px) !important;
  }

  #virtualclassCont.congrea.student.fullScreenMode .vidHide #chat_room {
    height: calc(100vh - 160px) !important;
  }

  #virtualclassCont.congrea.student #chat_room {
    height: calc(100vh - var(--vh-offset) - 400px) !important;
  }

  #virtualclassCont.congrea.student.fullScreenMode #chat_room {
    height: calc(100vh - 400px) !important;
  }

  #virtualclassCont.congrea #slickQuiz .quizArea {
    height: calc(100vh - var(--vh-offset) - 300px);
  }

  #virtualclassCont.congrea.fullScreenMode #slickQuiz .quizArea {
    height: calc(100vh - 300px);
  }

  #virtualclassCont.congrea.playMode #virtualclassApp {
    height: calc(100vh - var(--vh-offset));
  }

  #virtualclassCont.congrea.playMode.fullScreenMode #virtualclassApp {
    height: 100vh;
  }

  #virtualclassCont.congrea.playMode #virtualclassAppRightPanel {
    height: calc(100vh - var(--vh-offset));
  }

  #virtualclassCont.congrea.playMode.fullScreenMOde #virtualclassAppRightPanel {
    height: 100vh;
  }

  #virtualclassCont.congrea.student.playMode .canvasWrapper {
    height: calc(100vh - var(--vh-offset) - 48px);
  }

  #virtualclassCont.congrea.student.playMode.fullScreenMode .canvasWrapper {
    height: calc(100vh - 48px);
  }

  #virtualclassCont.congrea.student #layoutQuizBody {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  #virtualclassCont.congrea.student #layoutQuizBody #contQzBody {
    padding: 5px;
  }

  #virtualclassCont.congrea #slickQuiz .quizArea {
    height: calc(100vh - var(--vh-offset) - 255px);
  }

  #virtualclassCont.congrea.fullScreenMode #slickQuiz .quizArea {
    height: calc(100vh - 336px);
  }

  #virtualclassCont.congrea a.vceditor-btn {
    font-size: 11px;
  }

  #virtualclassCont.congrea.teacher #virtualclassApp[data-currapp='DocumentShare'] .modal, #virtualclassCont.congrea #virtualclassApp[data-currapp='Video'] .modal, #virtualclassCont.congrea.teacher #virtualclassApp[data-currapp='SharePresentation'] .modal {
    height: calc(100vh - var(--vh-offset) - 44px);
  }

  #virtualclassCont.congrea.teacher.fullScreenMode #virtualclassApp[data-currapp='DocumentShare'] .modal, #virtualclassCont.congrea.fullScreenMode #virtualclassApp[data-currapp='Video'] .modal, #virtualclassCont.congrea.teacher #virtualclassApp[data-currapp='SharePresentation'] .modal {
    height: calc(100vh - 44px);
  }

  #virtualclassCont.congrea.teacher #dashboardContainer .modal .modal-content {
    min-height: calc(100vh - var(--vh-offset) - 52px);
    height: 100%;
  }

  #virtualclassCont.congrea.teacher.fullScreenMode #dashboardContainer .modal .modal-content {
    min-height: calc(100vh - 52px);
    height: 100%;
  }

  #virtualclassCont.congrea.teacher #docsListContainer {
    height: 100%;
  }

  #virtualclassCont.congrea.teacher .dashboardview {
    height: calc(100vh - var(--vh-offset) - 118px);
  }

  #virtualclassCont.congrea.teacher.fullScreenMOde .dashboardview {
    height: calc(100vh - 118px);
  }

  #virtualclassCont.congrea.teacher #listdocs {
    height: calc(100vh - var(--vh-offset) - 145px);
  }

  #virtualclassCont.congrea.teacher.fullScreenMOde #listdocs {
    height: calc(100vh - 145px);
  }

  #virtualclassCont.congrea.teacher #pptListContainer {
    height: calc(100vh - var(--vh-offset) - 155px);
  }

  #virtualclassCont.congrea.teacher.fullScreenMode #pptListContainer {
    height: calc(100vh - 155px);
  }

  #virtualclassCont.congrea.teacher #SharePresentationDashboard #submitpurl.btn-default {
    min-height: 44px;
  }

  #virtualclassCont.congrea #dashboardnav {
    top: 85%;
  }

  #virtualclassCont.congrea.student #layoutPollBody {
    overflow: auto;
  }

  /* #virtualclassCont.congrea #virtualclassPoll #layoutPoll {
    height: 95%;
  }

  #virtualclassCont.congrea.student #resultLayout {
    width: 100%;
    position: relative;
    bottom: 315px;
    overflow: auto;
    height: 76%;
  }
  #virtualclassCont.congrea .modal-content #resultLayout {
    position: relative;
    bottom: 0;
  }

  #virtualclassCont.congrea.teacher #layoutPollBody {
    overflow: hidden;
  } */
}
