#virtualclassCont.congrea {
	height : 100vh;
}

#virtualclassCont.teacher #virtualclassAppContainer{
  width : calc(100vw - 372px); 
  /*margin-left : 60px;*/
}

#virtualclassCont.student #virtualclassAppContainer {
  width : calc(100vw - 320px);
}

#virtualclassCont #virtualclassAppContainer{
  /*height : calc(100vh - 51px);*/
  height : calc(100vh - 44px);
}

#virtualclassCont.congrea #layoutPollBody, #virtualclassCont.congrea #layoutQuizBody{
  height : calc(100% - 48px); /* changed from 58px */
}

#virtualclassCont.congrea #virtualclassVideo, #virtualclassCont.congrea #videoPlayerCont, #virtualclassCont.congrea #dispVideo,
#virtualclassCont.congrea #virtualclassPoll, #virtualclassCont.congrea.teacher #layoutPoll,
#virtualclassCont.congrea #layoutQuiz, #virtualclassCont.congrea #virtualclassQuiz,
#virtualclassCont.congrea #virtualclassSharePresentation,
#virtualclassCont.congrea #virtualclassWhiteboard{
  width : 100%;
  height : 100%;
}

#virtualclassCont.congrea #virtualclassEditorRich,
#virtualclassCont.congrea #virtualclassEditorRichBody,
#virtualclassCont.congrea #virtualclassEditorCodeBody,
#virtualclassCont.congrea.teacher #virtualclassEditorCodeBody,
#virtualclassEditorCode, #virtualclassEditorCodeBody,
#virtualclassCont.congrea .vceditor,
#virtualclassCont.congrea #virtualclassDocumentShare{
  width: 100%;
  height : 100%;
}


#virtualclassCont.congrea #virtualclassQuiz, #virtualclassCont.congrea #iframecontainer {
/*  margin-top :2px;*/
}

#virtualclassCont.congrea #virtualclassScreenShare {
  width : 100%;
  height : 99%;
  margin-top: 3px;
}

#virtualclassCont.congrea.orginalTeacher #virtualclassAppContainer{
  margin-left : 53px;
}

#virtualclassCont.congrea.student #virtualclassEditorRich, #virtualclassCont.congrea.student #virtualclassEditorCode{
/*  margin:0px 10px 0px 3px;*/
}

/*#virtualclassCont.congrea.student #virtualclassVideo {*/
  /*margin-left: 2px;*/
/*}*/


#virtualclassCont.congrea.student #virtualclassQuiz{
  /*margin-left: 4px;*/
}


#virtualclassCont.congrea.student #virtualclassPoll {
  /*margin-left : 3px;*/
  /*margin-top : 2px;*/
}

#virtualclassCont.congrea.student #virtualclassDocumentShare.virtualclass.container {
  /*margin-left : 4px;*/
}

#virtualclassCont.congrea.student #virtualclassScreenShare{
  margin:2px 0px 0px 3px;
}


/*#virtualclassCont.congrea.student #virtualclassSharePresentation {*/
  /*margin-left : 3px;*/
/*}*/

#virtualclassCont.congrea #whiteboardContainer {
  width : auto;
  height : auto;
}


#virtualclassCont.congrea.teacher .canvasWrapper{
  /*height : calc(100vh - 98px);*/
  height : calc(100vh - 93px)
}

#virtualclassCont.congrea.student .canvasWrapper{
  height : calc(100vh - 44px);
}

#virtualclassCont.congrea .canvasWrapper {
  width : auto;
  overflow : auto;
}


#virtualclassCont.congrea.teacher #virtualclassVideo,  #virtualclassCont.congrea.teacher #virtualclassSharePresentation{
  margin-left : 2px;
}
