#virtualclassCont.congrea {
	height : 100vh;
}

#virtualclassCont.teacher #virtualclassAppContainer{
  width : calc(100vw - 372px); 
}

#virtualclassCont.student #virtualclassAppContainer {
  width : calc(100vw - 320px);
}

#virtualclassCont #virtualclassAppContainer{
  height : calc(100vh - 44px);
}

#virtualclassCont.congrea #layoutPollBody, #virtualclassCont.congrea #layoutQuizBody{
  height : calc(100% - 48px); 
}

#virtualclassCont.congrea #virtualclassVideo, #virtualclassCont.congrea #videoPlayerCont, #virtualclassCont.congrea #dispVideo,
#virtualclassCont.congrea #virtualclassPoll, #virtualclassCont.congrea.teacher #layoutPoll,
#virtualclassCont.congrea #layoutQuiz, #virtualclassCont.congrea #virtualclassQuiz,
#virtualclassCont.congrea #virtualclassSharePresentation,
#virtualclassCont.congrea #virtualclassWhiteboard{
  width : 100%;
  height : 100%;
}

#virtualclassCont.congrea #virtualclassEditorRich,
#virtualclassCont.congrea #virtualclassEditorRichBody,
#virtualclassCont.congrea #virtualclassEditorCodeBody,
#virtualclassCont.congrea.teacher #virtualclassEditorCodeBody,
#virtualclassEditorCode, #virtualclassEditorCodeBody,
#virtualclassCont.congrea .vceditor,
#virtualclassCont.congrea #virtualclassDocumentShare{
  width: 100%;
  height : 100%;
}

#virtualclassCont.congrea #virtualclassScreenShare {
  width : 100%;
  height : 99%;
  margin-top: 3px;
}

#virtualclassCont.congrea.orginalTeacher #virtualclassAppContainer{
  margin-left : 53px;
}

#virtualclassCont.congrea.student #virtualclassScreenShare{
  margin:2px 0px 0px 3px;
}


#virtualclassCont.congrea #whiteboardContainer {
  width : auto;
  height : auto;
}

#virtualclassCont.congrea.teacher .canvasWrapper{
  height : calc(100vh - 93px)
}

#virtualclassCont.congrea.student .canvasWrapper{
  height : calc(100vh - 44px);
}

#virtualclassCont.congrea .canvasWrapper {
  width : auto;
  overflow : auto;
}


#virtualclassCont.congrea.teacher #virtualclassVideo,  #virtualclassCont.congrea.teacher #virtualclassSharePresentation{
  margin-left : 2px;
}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px)  {
      
    #virtualclassCont.congrea #virtualclassAppRightPanel {
        height: calc(100vh - var(--vh-offset));
        }
      
      #virtualclassCont.congrea {
	   height: calc(100vh - var(--vh-offset));
      }
      
      #virtualclassCont.congrea #chat_div {
          height: calc(100vh - var(--vh-offset) - 388px);
      }
      
      #virtualclassCont #virtualclassAppContainer{
        height : calc(100vh - var(--vh-offset) - 44px);
      }
      
      #virtualclassCont.congrea.student .canvasWrapper{
        height : calc(100vh - var(--vh-offset) - 44px);
      }
      
      #virtualclassCont.congrea #docMsgStudent {
          margin: calc(40vh - var(--vh-offset));
      }
      #iosAudioTrigger {
          display:none;
      }
      
      #virtualclassCont.congrea.student .vidHide #chat_room {
          height: calc(100vh - var(--vh-offset) - 160px) !important;
      }
      
      #virtualclassCont.congrea.student #chat_room {
          height: calc(100vh - var(--vh-offset) - 400px) !important;
      }
      
      #virtualclassCont.congrea #slickQuiz .quizArea {
          height: calc(100vh - var(--vh-offset) - 300px);
      }
      #virtualclassCont.congrea.playMode #virtualclassApp {
          height: calc(100vh - var(--vh-offset));
      }
      #virtualclassCont.congrea.playMode #virtualclassAppRightPanel {
          height: calc(100vh - var(--vh-offset));
      }
      
      
      #virtualclassCont.congrea.student #layoutQuizBody {
          padding-top:5px;
          padding-bottom:5px;
      }
      
      #virtualclassCont.congrea.student #layoutQuizBody #contQzBody {
          padding:5px;
      }
      
}
