#multiremoteVideo {
  width : 400px;
  height : 400px;
}


#videosWrapper {
  z-index: 600;
  height : auto;
  max-height: 450px;
  width: 320px;
  overflow-y: scroll;
}

.videoWrap{
  padding: 5px;
  float:left;
}

.videoWrap {
  width : 25%;
}


.videoCont{
  float: left;
  /*width: 32%;*/
  margin-left: 5px;
}

.videoCont video{
  border: 1px solid #ddd;
  padding : 5px;
  width : 100%;

}

#virtualclassCont.congrea #preCheckcontainer .screen1.bandwidth::before,
#virtualclassCont.congrea #preCheckcontainer .screen2.bandwidth::before,
#virtualclassCont.congrea #preCheckcontainer .screen3.bandwidth::before,
#virtualclassCont.congrea #preCheckcontainer .screen4.bandwidth::before,
#virtualclassCont.congrea #preCheckcontainer .screen5.bandwidth::before{
  padding-left : 40px !important;
}


#virtualclassMultiVideoTool span{
  color : #ffffff;
}

#virtualclassCont.congrea.teacher #virtualclassMultiVideo {
  margin-left : 65px;
  margin-top : 10px;
}

#virtualclassCont.congrea #virtualclassMultiVideo #multiVidSelected{
  border: 1px solid #ddd;
  padding: 6px
}


