#virtualclassCont.congrea #networkStatusContainer {
  position: relative;
    top: -48px;
    width: 48px;
    left:-1px;
    height:48px;
    float: right;
    border: 1px solid rgba(254,254,254,0.2) !important;
}

#virtualclassCont.congrea #virtualclassAppRightPanel #proposedSpeed {
  width: 30px;
  height: 30px;
  position: relative;
  top: 8px;
  padding:4px;
  left:9px;
}

#virtualclassCont.congrea  #proposedSpeed[data-suggestion='high'] svg path.signalthree,
#virtualclassCont.congrea  #proposedSpeed[data-suggestion='high'] svg path.signalfoure,
#virtualclassCont.congrea  #proposedSpeed[data-suggestion='high'] svg path.signalfive,
#virtualclassCont.congrea  #proposedSpeed[data-suggestion='high'] svg path.signalsix,
#virtualclassCont.congrea  #proposedSpeed[data-suggestion='high'] svg path.signalone,
#virtualclassCont.congrea  #proposedSpeed[data-suggestion='high'] svg path.signaltwo,
#virtualclassCont.congrea  #proposedSpeed[data-suggestion='high'] svg path.signal,
#virtualclassCont.congrea  #proposedSpeed[data-suggestion='high'] svg path.signal{
  fill : #00FF00;
}


#virtualclassCont.congrea  #proposedSpeed[data-suggestion='medium'] svg path.signalfive,
#virtualclassCont.congrea  #proposedSpeed[data-suggestion='medium'] svg path.signalsix,
#virtualclassCont.congrea  #proposedSpeed[data-suggestion='medium'] svg path.signalone,
#virtualclassCont.congrea  #proposedSpeed[data-suggestion='medium'] svg path.signaltwo,
#virtualclassCont.congrea  #proposedSpeed[data-suggestion='medium'] svg path.signal{
  fill : #E1E842;
}

#virtualclassCont.congrea  #proposedSpeed[data-suggestion='medium'] svg path.signalthree,
#virtualclassCont.congrea  #proposedSpeed[data-suggestion='medium'] svg path.signalfoure {
  fill : #A9A9A9;
}

#virtualclassCont.congrea  #proposedSpeed[data-suggestion='low'] svg path.signalfive,
#virtualclassCont.congrea  #proposedSpeed[data-suggestion='low'] svg path.signalsix,
#virtualclassCont.congrea  #proposedSpeed[data-suggestion='low'] svg path.signal,
#virtualclassCont.congrea  #proposedSpeed[data-suggestion='low'] svg path.signal{
  fill : #FB9C42;
}

#virtualclassCont.congrea  #proposedSpeed[data-suggestion='low'] svg path.signalthree,
#virtualclassCont.congrea  #proposedSpeed[data-suggestion='low'] svg path.signalfoure,
#virtualclassCont.congrea  #proposedSpeed[data-suggestion='low'] svg path.signalone,
#virtualclassCont.congrea  #proposedSpeed[data-suggestion='low'] svg path.signaltwo {
  fill : #A9A9A9;
}

#virtualclassCont.congrea  #networkLatency[data-latency='slow'] svg path.signal,
#virtualclassCont.congrea  #networkLatency[data-latency='slow'] svg path.signalone,
#virtualclassCont.congrea  #networkLatency[data-latency='slow'] svg path.signaltwo,
#virtualclassCont.congrea  #networkLatency[data-latency='slow'] svg path.signalthree,
#virtualclassCont.congrea  #networkLatency[data-latency='slow'] svg path.signalfoure,
#virtualclassCont.congrea  #networkLatency[data-latency='slow'] svg path.signalfive,
#virtualclassCont.congrea  #networkLatency[data-latency='slow'] svg path.signalsix
{
  fill : #B32F46;
}

#virtualclassCont.congrea #networkStatusContainer.connecting-room{
  paddin-left :2px;
}


#virtualclassCont.congrea #networkStatusContainer #videoLatency {
  width: 46px;
  height: 35px;
  border-radius: 5px;
  /*background-color: white;*/
}


#virtualclassCont.congrea #networkStatusContainer.connecting-room #videoLatency{
  display : none;
}

#virtualclassCont.congrea #networkStatusContainer.connecting-room #connectingRoomIcon {
  display : block;
}

#virtualclassCont.congrea #networkStatusContainer.connecting-room #proposedSpeed {
  display : none;
}

#virtualclassCont.congrea #networkStatusContainer #connectingRoomIcon .icon-whiteboard #svg-spinner{
  display: none;
}
#virtualclassCont.congrea #networkStatusContainer #connectingRoomIcon {
    margin-top: 5px;
    margin-right: 8px;
    margin-left:9px;
    float: right;
}
#virtualclassCont.congrea #networkStatusContainer.connecting-room #connectingRoomIcon .icon-whiteboard #svg-spinner{
  transition-property: transform;
  animation-name: rotate;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  margin-left: 8px;
  display: block;
  margin-top: 2px;
}

@keyframes rotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


#virtualclassCont.congrea.student #virtualclassAppRightPanel.show #videoHostContainer{
  display : block;
}

#virtualclassCont.congrea.student #virtualclassAppRightPanel.hide #videoHostContainer{
  display : none;
}
#virtualclassCont.congrea  #proposedSpeed #svgContainer svg {
    
}
#virtualclassCont.congrea  #proposedSpeed #svgContainer {
    
}