[id= "virtualclassCont"] #virtualclassPoll  [class^="icon-"].disabled{
  opacity:.3;
}

#virtualclassCont.congrea #virtualclassPoll {
  margin-left: 60px;
}

#virtualclassCont.congrea #virtualclassPoll {
  margin-right: 6px;
}

#virtualclassCont .icon-close-poll:before {
  font-size: 28px;
  margin-left: 5px;
}

#virtualclassCont.congrea .bootstrap .pollNavBar {
  border-bottom: none !important;
  margin-left: 20px;
}

#virtualclassCont.congrea .bootstrap .pollNavBar li {
  margin-top: 15px;
  margin-right: 10px;
  font-size: 1.2em;
}

#virtualclassCont.congrea .bootstrap .pollNavBar > li > a {
  text-shadow: none;
}

#virtualclassCont.congrea #virtualclassPoll .pollNavBar > li.active > a {
  color: #000;
}

#virtualclassCont.congrea #navigator.nav.navbar {
  margin-bottom: 0;
}

#virtualclassCont.congrea #layoutPollBody {
  padding: 20px;
  border: 1px solid #ccc;
  border-width: 0 1px 1px 1px;
  height: 86vh;
}

#virtualclassCont.congrea #layoutPollBody .vcPollCont .pollCtrCont,
#virtualclassCont.congrea #layoutPollBody .vcPollCont .pollCtrCont {
  text-align: center;
}

#virtualclassCont.congrea #layoutPollBody .vcPollCont .pollCtrCont,
#virtualclassCont.congrea #layoutPollBody .vcPollCont .qnText,
#virtualclassCont.congrea #layoutPollBody .vcPollCont .creator {
  line-height: 1.428571;
}

#virtualclassCont.congrea #layoutPollBody .vcPollCont a span[data-toggle="congtooltip"]:hover:before {
  color: #3C3C3C;
}

#virtualclassCont.congrea #layoutPollBody .vcPollCont a span[data-toggle="congtooltip"]:before {
  font-size: 20px;
}

#virtualclassCont.congrea .pollCtrContainer .editCont,
#virtualclassCont.congrea .pollCtrContainer .deleteCont,
#virtualclassCont.congrea .pollCtrContainer .publishCont {
  padding:5px;
}

#virtualclassCont.congrea #stdPollContainer {
  width:100%;
}

#virtualclassCont.congrea .stdlayout {
  margin-top:10px;
  width:90%;
}

#virtualclassCont.congrea #resultLayout {
  width:90%;
}

#virtualclassCont.congrea #settingCont span#mode {
  margin-left:50px;
}

#virtualclassCont.congrea span#selTime  {
  margin-left:135px;
}

#virtualclassCont.congrea label span,
#virtualclassCont.congrea #pollModalBody span,
#virtualclassCont.congrea #stdPollContainer span{
  font-weight:normal;
  font-size: 0.91em;
  letter-spacing: 0.03em;
}

#virtualclassCont.congrea #qnLabelCont,
#virtualclassCont.congrea #stdQnCont,
#virtualclassCont.congrea #qnTxCont,
#virtualclassCont.congrea .custom-control-description,
#virtualclassCont.congrea .custom-control-description,
#virtualclassCont.congrea #Timer,
#virtualclassCont.congrea #ut{
  color: #3C3C3C;
}

#virtualclassCont.congrea.student #virtualclassPoll {
  margin-left:6px;
}

#virtualclassCont.congrea #virtualclassPoll #layoutPoll .table > tbody > tr > td {
  padding:15px;
}

#virtualclassCont.congrea #virtualclassPoll #resultLayoutBody .table > thead > tr > th {
 font-size:14px;
}

#virtualclassCont.congrea #virtualclassPoll #resultLayoutBody #TqnPoll #qnLabelCont,#virtualclassCont.congrea #virtualclassPoll #stdQnCont{
  margin-left:7px;
}
#virtualclassCont.congrea #virtualclassPoll #layoutPoll .table > thead > tr > th {
  padding-left:14px;
  color:#3C3C3C;
}

#virtualclassCont.congrea .miniTB  td {
  border-left:0px;
  padding-left: 13px;
}

#virtualclassCont.congrea .miniTB .deleteCont {
  margin-top: -2px;
}

#virtualclassCont.congrea .miniTB .editCont {
  margin-top : -1px;
}

#virtualclassCont.congrea .miniTB  td:first-child {
  padding-left:0px;
}

#virtualclassCont.congrea #virtualclassPoll #optsTxCont span,
#virtualclassCont.congrea #virtualclassPoll #nonVotTqn span,
#virtualclassCont.congrea #virtualclassPoll #stdPollContainer #optnNonVotd span,
#virtualclassCont.congrea #virtualclassPoll #stdPollContainer #stdOptionCont span,
#virtualclassCont.congrea #virtualclassPoll #layoutPoll .table > tbody > tr > td {
  font-size: 0.91em;
  letter-spacing: 0.03em;
}

#virtualclassCont.congrea #virtualclassPoll #nonVotTqn .opt,
#virtualclassCont.congrea #virtualclassPoll #stdOptionCont .opt,
#virtualclassCont.congrea #virtualclassPoll #editPollModal #pollCkbox {
  margin:0px;
}

#virtualclassCont.congrea #virtualclassPoll #addMoreOption:hover {
  background-color: white;
  color:black;
}

#virtualclassCont.congrea #virtualclassPoll .stdoptn {
  margin-left:3px;
}

#virtualclassCont.congrea #virtualclassPoll .stdrslt {
  width:95%;
}

#virtualclassCont.congrea.teacher #virtualclassPoll #resultLayout #chartMenuCont a,
#virtualclassCont.congrea.student #virtualclassPoll #chartMenuCont a {
  color: #337ab7;
}

#virtualclassCont.congrea .bootstrap .inputWrapper a{
color:black;
}
#virtualclassCont.congrea.teacher #virtualclassPoll .pollList .popover {
  width: 100%;
  height:auto;
  display: block !important;
  position: absolute;
  z-index: 10000;
  right: 40%;
  max-width: 300px;
  padding: 20px;
}

#virtualclassCont.congrea.teacher #virtualclassPoll #listQnContcourse .previewTxCont {
  margin-bottom:10px;
}
#virtualclassCont.congrea.teacher #virtualclassPoll #listQnContcourse #optsTxCont div label {
  font-weight: normal !important;
}
#virtualclassCont.congrea .bootstrap .pollNavBar > li > a:hover {
  color: #000;
}
#virtualclassCont.congrea  #virtualclassPoll .nav > li > a:hover, #virtualclassCont.congrea  #virtualclassPoll .nav > li > a:focus {
  background:white !important;
  /*background: -moz-radial-gradient(center, ellipse cover, #ffffff);*/
  /*!* FF3.6+ *!*/
  /*background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #ffffff), color-stop(100%, #ffffff));*/
  /*!* Chrome,Safari4+ *!*/
  /*background: -webkit-radial-gradient(center, ellipse cover, #ffffff);*/
  /*!* Chrome10+,Safari5.1+ *!*/
  /*background: -o-radial-gradient(center, ellipse cover, #ffffff);*/
  /*!* Opera 12+ *!*/
  /*background: -ms-radial-gradient(center, ellipse cover, #ffffff);*/
  /* IE10+ */

  /* W3C */
}
#virtualclassCont.congrea.teacher #virtualclassPoll .vcPollCont .qnText .pollPreview{
    letter-spacing: 0.01em;

}
#virtualclassCont.congrea.teacher #virtualclassPoll .vcPollCont .previewTxCont{
  margin-top:10px;
}
#virtualclassCont.congrea.teacher #virtualclassPoll .vcPollCont #popupCont #qnTxCont label{
  display:inline;
}
#virtualclassCont.congrea.teacher #virtualclassPoll .vcPollCont #qnTxCont .viewQn{
  display:inline;
}
#virtualclassCont.congrea.teacher #virtualclassPoll .vcPollCont .viewOpt label{
  font-weight:normal !important;
}
#virtualclassCont.congrea.teacher #virtualclassPoll .vcPollCont .viewOpt input{
  margin-left:-19px !important;
}
#virtualclassCont.congrea.teacher #virtualclassPoll .vcPollCont .viewOpt{
  padding-left:22px;
}

#virtualclassCont.congrea.student #virtualclassPoll #resultNote label{
  font-weight: bold;
}
#virtualclassCont.congrea #virtualclassPoll #resultLayout #closePoll,#virtualclassCont.congrea #virtualclassPoll #resultLayout #chartMenuCont button{
  border-color:rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25);
  background-color: #f5f5f5;
  border-bottom-color: #b3b3b3;
  background-image: linear-gradient(to bottom,#fff,#e6e6e6);
  border: 1px solid #ccc;
  background-repeat: repeat-x;
  line-height:normal;

}
#virtualclassCont.congrea #virtualclassPoll #resultLayout #chartMenuCont button{
  border:1px solid #ccc;
  line-height:normal;
}

#virtualclassCont.congrea #virtualclassPoll #resultLayout #chartMenuCont button.disabled{
pointer-events:none;
  opacity:.4;
}

#virtualclassCont.congrea.student  #virtualclassPoll #stdPollMszLayout{
  background-color: #f9f9f9;
  border: 1px solid #c8ddb8;
  border-radius: 5px;
  color: #3a773c;
  margin: 0 auto;
  padding: 30px 20px;
  position: absolute;
  top: 40%;
  width: 480px;
  text-align: center;
  box-shadow: 0 0 8px #ddd;
  left: 0;
  right: 0;
  font-size:medium;
}

#virtualclassCont.congrea.student  #virtualclassPoll #pollHead{
  font-size: 18px;
  color: #34404c;
  letter-spacing: .01em;
  padding: 2px;

}

#virtualclassCont.congrea.student  #virtualclassPoll #stdContHead .stdHeader {
  margin-top: 43px;
  margin-bottom:20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.11);
}
#virtualclassCont.congrea.student  #virtualclassPoll #stdContHead {
  margin-bottom:30px;
}
#virtualclassCont.congrea.teacher #mszBoxPoll{
  border: 1px solid #c8ddb8;
  border-radius: 5px;
  /* color: #3a773c; */
  margin: 0 auto;
  padding: 30px 20px;
  position: absolute;
  top: 20%;
  width: 480px;
  text-align: center;
  /* box-shadow: 0 0 8px #ddd; */
  left: -230px;
  right: 0;
  font-size: medium;
}

#virtualclassCont.congrea.teacher #layoutPollBody .table-responsive{
    height:99%;
}