[id="virtualclassCont"] #virtualclassPoll [class^="icon-"].disabled {
  opacity: 0.3;
}

/* #virtualclassCont.congrea #virtualclassPoll { */

/* margin-left: 60px; */

/* } */

#virtualclassCont.congrea #virtualclassPoll {
  margin-right: 6px;
  position: relative;
}

#virtualclassCont.congrea #virtualclassPoll #layoutPoll {
  height: 100%;

  /* display: flex;
  flex-direction: column; */
}

#virtualclassCont .icon-close-poll::before {
  font-size: 28px;
  margin-left: 5px;
}

#virtualclassCont.congrea.teacher .bootstrap .pollNavBar {
  border-bottom: none !important;
  margin-left: 20px;
}

#virtualclassCont.congrea.student .bootstrap .pollNavBar {
  margin-left: 0;
  border-bottom: none;
}

#virtualclassCont.congrea.teacher .bootstrap .pollNavBar li {
  margin-top: 12px;
  margin-right: 10px;
  font-size: 1.2em;
}

#virtualclassCont.congrea.teacher #virtualclassPoll #layoutPoll.bootstrap .pollNavBar li {
  margin-top: 0.625rem;
}

#virtualclassCont.congrea.student .bootstrap .pollNavBar li {
  /* margin-top: 12px;
  margin-right: 10px; */
  font-size: 1.2em;
}

#virtualclassCont.congrea .bootstrap .pollNavBar > li > a {
  text-shadow: none;
  font-size: 16px;
}

/* #virtualclassCont.congrea #virtualclassPoll .pollNavBar > li > a {
  color: #000;
  background-color: #fff;
  border: 0.5px solid #c7c7c7 !important;
  border-bottom: none !important;
  font-size: 16px;
} */

#virtualclassCont.congrea #virtualclassPoll .pollNavBar > li.active > a {
  background-color: #fff;
  color: #000;
  font-size: 16px;
}

#virtualclassCont.congrea #navigator.nav.navbar {
  margin-bottom: 0;
}

#virtualclassCont.congrea #layoutPollBody {
  padding: 20px;
  position: relative;
  height: 100%;
}

#virtualclassCont.congrea.student #layoutPollBody {
  position: unset;
}

#virtualclassCont.congrea #layoutPollBody .vcPollCont .pollCtrCont {
  text-align: center;
  line-height: 1.428571;
}

#virtualclassCont.congrea #layoutPollBody .vcPollCont .qnText,
#virtualclassCont.congrea #layoutPollBody .vcPollCont .creator {
  line-height: 1.428571;
}

#virtualclassCont.congrea #layoutPollBody .vcPollCont a span[data-toggle="congtooltip"]:hover::before {
  color: #3c3c3c;
}

#virtualclassCont.congrea #layoutPollBody .vcPollCont a span[data-toggle="congtooltip"]::before {
  font-size: 20px;
}

#virtualclassCont.congrea .pollCtrContainer .editCont,
#virtualclassCont.congrea .pollCtrContainer .deleteCont,
#virtualclassCont.congrea .pollCtrContainer .publishCont {
  padding: 5px;
}

#virtualclassCont.congrea #stdPollContainer {
  width: 100%;
  height: 100%;
}

#virtualclassCont.congrea .stdlayout {
  margin-top: 25px;
  width: 90%;
}

#virtualclassCont.congrea #resultLayout {
  width: 90%;
}

#virtualclassCont.congrea #settingCont span#mode {
  margin-left: 50px;
}

#virtualclassCont.congrea span#selTime {
  margin-left: 135px;
}

#virtualclassCont.congrea label span,
#virtualclassCont.congrea #pollModalBody span,
#virtualclassCont.congrea #stdPollContainer span {
  font-weight: normal;
  font-size: 0.91em;
  letter-spacing: 0.03em;
  line-height: 20px;
}

#virtualclassCont.congrea #qnLabelCont,
#virtualclassCont.congrea #stdQnCont,
#virtualclassCont.congrea #qnTxCont,
#virtualclassCont.congrea .custom-control-description,
#virtualclassCont.congrea .custom-control-description,
#virtualclassCont.congrea #Timer,
#virtualclassCont.congrea #ut {
  color: #3c3c3c;
}

/* #virtualclassCont.congrea.student #virtualclassPoll { */

/* margin-left:6px; */

/* } */

#virtualclassCont.congrea #virtualclassPoll #layoutPoll .table > tbody > tr > td {
  padding: 15px;
}

#virtualclassCont.congrea #virtualclassPoll #resultLayoutBody .table > thead > tr > th {
  font-size: 14px;
}

#virtualclassCont.congrea #virtualclassPoll #resultLayoutBody #TqnPoll #qnLabelCont,
#virtualclassCont.congrea #virtualclassPoll #stdQnCont {
  margin-left: 7px;
}

#virtualclassCont.congrea #virtualclassPoll #layoutPoll .table > thead > tr > th {
  padding: 12px;
  color: #3c3c3c;
  border: none;
}

#virtualclassCont.congrea .miniTB td {
  border-left: 0;
  padding-left: 13px;
}

#virtualclassCont.congrea .miniTB .deleteCont {
  margin-top: -2px;
}

#virtualclassCont.congrea .miniTB .publishCont {
  margin-top: -2px;
}

#virtualclassCont.congrea .miniTB .editCont {
  margin-top: -1px;
}

#virtualclassCont.congrea .miniTB td:first-child {
  padding-left: 0;
}

#virtualclassCont.congrea #virtualclassPoll #optsTxCont span,
#virtualclassCont.congrea #virtualclassPoll #nonVotTqn span,
#virtualclassCont.congrea #virtualclassPoll #stdPollContainer #optnNonVotd span,
#virtualclassCont.congrea #virtualclassPoll #stdPollContainer #stdOptionCont span,
#virtualclassCont.congrea #virtualclassPoll #layoutPoll .table > tbody > tr > td {
  font-size: 0.91em !important;
  letter-spacing: 0.03em;
}

#virtualclassCont.congrea #virtualclassPoll #nonVotTqn .opt,
#virtualclassCont.congrea #virtualclassPoll #stdOptionCont .opt,
#virtualclassCont.congrea #virtualclassPoll #editPollModal #pollCkbox {
  margin: 0;
}

#virtualclassCont.congrea #virtualclassPoll #addMoreOption:hover {
  background-color: white;
  color: black;
}

#virtualclassCont.congrea #virtualclassPoll .stdoptn {
  margin-left: 6px;
}

#virtualclassCont.congrea #virtualclassPoll .stdrslt {
  width: 95%;
}

#virtualclassCont.congrea.teacher #virtualclassPoll #resultLayout #chartMenuCont a,
#virtualclassCont.congrea.student #virtualclassPoll #chartMenuCont a {
  color: #337ab7;
}

#virtualclassCont.congrea .bootstrap .inputWrapper a {
  color: black;
}

#virtualclassCont.congrea.teacher #virtualclassPoll .pollList .popover {
  width: 100%;
  height: auto;
  display: block !important;
  position: absolute;
  z-index: 10000;
  left: 35% !important;
  max-width: 300px;
  padding: 20px;
}

/* #virtualclassCont.congrea.teacher #virtualclassPoll #listQnContcourse .previewTxCont { */

/* margin-bottom: 10px; */

/* } */

#virtualclassCont.congrea.teacher #virtualclassPoll #listQnContcourse #optsTxCont div label {
  font-weight: normal !important;
}

#virtualclassCont.congrea .bootstrap .pollNavBar > li > a:hover {
  color: #000;
}

#virtualclassCont.congrea #virtualclassPoll .nav > li > a:hover {
  background: #e6e6e6 !important;
  color: #000;

  /* background: -moz-radial-gradient(center, ellipse cover, #ffffff); */

  /* !* FF3.6+ *! */

  /* background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #ffffff), color-stop(100%, #ffffff)); */

  /* !* Chrome,Safari4+ *! */

  /* background: -webkit-radial-gradient(center, ellipse cover, #ffffff); */

  /* !* Chrome10+,Safari5.1+ *! */

  /* background: -o-radial-gradient(center, ellipse cover, #ffffff); */

  /* !* Opera 12+ *! */

  /* background: -ms-radial-gradient(center, ellipse cover, #ffffff); */

  /* IE10+ */

  /* W3C */
}

#virtualclassCont.congrea #virtualclassPoll .nav > li.active > a:hover {
  background-color: black !important;
  color: #fff !important;
  cursor: pointer;
}

#virtualclassCont.congrea.teacher #virtualclassPoll .vcPollCont .qnText .pollPreview {
  letter-spacing: 0.01em;
}

#virtualclassCont.congrea.teacher #virtualclassPoll .vcPollCont .previewTxCont {
  margin-top: 10px;
}

#virtualclassCont.congrea.teacher #virtualclassPoll .vcPollCont .previewTxCont label {
  display: inline;
}

#virtualclassCont.congrea.teacher #virtualclassPoll .vcPollCont .previewTxCont .viewQn {
  display: inline;
}

#virtualclassCont.congrea.teacher #virtualclassPoll .vcPollCont .viewOpt label {
  font-weight: normal !important;
  word-break: break-word;
}

#virtualclassCont.congrea.teacher #virtualclassPoll .vcPollCont .viewOpt input {
  margin-left: -19px !important;
  margin-top: 5px;
  float: left;
}

#virtualclassCont.congrea.teacher #virtualclassPoll .vcPollCont .viewOpt {
  padding-left: 22px;
  padding-right: 22px;
  display: inline-block;
}

#virtualclassCont.congrea.student #virtualclassPoll #resultNote label {
  font-weight: bold;
}

#virtualclassCont.congrea #virtualclassPoll #resultLayout #closePoll,
#virtualclassCont.congrea #virtualclassPoll #resultLayout #chartMenuCont button {
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  background-color: #f5f5f5;
  border-bottom-color: #b3b3b3;
  background-image: linear-gradient(to bottom, #fff, #e6e6e6);
  border: 1px solid #ccc;
  background-repeat: repeat-x;
  line-height: normal;
}

#virtualclassCont.congrea #virtualclassPoll #resultLayout #chartMenuCont button {
  border: 1px solid #ccc;
  line-height: normal;
}

#virtualclassCont.congrea #virtualclassPoll #resultLayout #chartMenuCont button.disabled {
  pointer-events: none;
  opacity: 0.4;
}

#virtualclassCont.congrea.student #virtualclassPoll #stdPollMszLayout {
  background-color: #f9f9f9;
  border: 1px solid #c8ddb8;
  border-radius: 5px;
  color: #3a773c;
  margin: 0 auto;
  padding: 30px 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
  text-align: center;
  box-shadow: 0 0 8px #ddd;
  font-size: medium;
}

#virtualclassCont.congrea.student #virtualclassPoll #pollHead {
  font-size: 18px;
  color: #34404c;
  letter-spacing: 0.01em;
  padding: 2px;
}

#virtualclassCont.congrea.student #virtualclassPoll #stdContHead .stdHeader {
  margin-top: 15px;
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.11);
}

#virtualclassCont.congrea.student #virtualclassPoll #stdContHead {
  margin-bottom: 30px;
}

#virtualclassCont.congrea.teacher #mszBoxPoll {
  border: 1px solid #c8ddb8;
  border-radius: 5px;

  /* color: #3a773c; */
  margin: 0 auto;
  padding: 30px 20px;
  position: absolute;
  top: 20%;
  width: 480px;
  text-align: center;

  /* box-shadow: 0 0 8px #ddd; */
  left: 0;
  right: 0;
  font-size: medium;
}

#virtualclassCont.congrea.teacher #layoutPoll #mszBoxPoll {
  top: 35%;
}

#virtualclassCont.congrea.teacher #layoutPollBody .table-responsive {
  max-height: 80%;
  min-height: 50%;
  margin-top: 61px;
  overflow: auto;
  overflow-x: hidden;
  table-layout: fixed;
  border-right: 1px solid #f5f0f0;
  border-top: 0 solid #ddddddad;
}

#virtualclassCont.congrea.teacher #layoutPollBody .teacherTableHeader {
  max-height: 90%;
  margin-top: 43px;
}

#virtualclassCont.congrea.teacher #layoutPollBody #resultLayoutBody .table-responsive {
  max-height: 320px;
}

#virtualclassCont.congrea.teacher #layoutPollBody .table-responsive .pollList {
  margin-bottom: 0;
  color: #333;

  /*  margin-top: 39px; */
}

#virtualclassCont.congrea.teacher #layoutPollBody .table-responsive .pollList thead {
  position: absolute;
  top: 74px;
  left: 19px;
  right: 0;
  width: calc(100% - 39px);
  height: 41px;
  background: #eee;
  table-layout: fixed;
  display: table;
  z-index: 8;
}

#virtualclassCont.congrea.teacher.Safari #layoutPollBody .table-responsive .pollList thead {
  width: 100%;
}

#virtualclassCont.congrea.teacher #layoutPollBody .teacherTableHeader .pollList thead {
  top: 22px;
}

#virtualclassCont.congrea #addMoreCont #addMoreOption {
  color: #757272;
}

#virtualclassCont.congrea #editPollModal #settingCont .panel,
#virtualclassCont.congrea #editPollModal #resultLayout label,
#virtualclassCont.congrea #editPollModal #pollModalBody label,
#virtualclassCont.congrea.student #stdPollContainer label,
#virtualclassCont.congrea #editPollModal #timerCont,
#virtualclassCont.congrea #editPollModal #receivedVotes,
#virtualclassCont.congrea #editPollModal #nonVotTqn,
#virtualclassCont.congrea.student #stdPollContainer #timerCont {
  font-size: 14px;
}

#virtualclassCont.congrea #virtualclassPoll #stdPollContainer #stdOptionCont span {
  font-size: 12px !important;
}

#virtualclassCont.congrea #virtualclassPoll #stdPollContainer .alert-success {
  padding: 12px !important;
}

#virtualclassCont.congrea.student #virtualclassPoll .pollNavBar > li.active {
  color: #000;
  font-size: 16px;
}

#virtualclassCont.congrea.student .bootstrap .pollNavBar > li {
  text-shadow: none;
  font-size: 1rem;
}

#virtualclassCont.congrea.student .bootstrap .pollNavBar #stdPollHeader {
  font-size: 1.25rem;
  padding: 0.6875rem 0.5rem 0.625rem 0.6875rem;
  text-align: center;
  float: none;
  color: #fff;
}

#virtualclassCont.congrea.teacher #virtualclassPoll #resultLayoutHead .alert-success {
  padding: 10px;
}

#virtualclassCont.congrea.teacher #virtualclassPoll #resultLayoutHead .alert-success button.close {
  right: 2px;
}

#virtualclassCont.congrea #virtualclassPoll .modal-content {
  overflow: auto;
}

#virtualclassCont.congrea.teacher #layoutPollBody .table-responsive::-webkit-scrollbar {
  width: 14px;
  height: 14px;
  background-color: #d9dbdc;
}

#virtualclassCont.congrea.teacher #layoutPollBody .table-responsive::-webkit-scrollbar-thumb {
  height: 6px;
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  -webkit-border-radius: 7px;
  background-color: rgba(0, 0, 0, 0.15);
}

@-moz-document url-prefix() {
  #virtualclassCont.congrea #pollModalBody .modal-body #qnTxCont textarea#q {
    height: 42px;
  }

  #virtualclassCont.congrea #pollModalBody .modal-body #optsTxCont textarea.opt {
    height: 40px;
  }
}

#virtualclassCont.congrea.teacher #editPollModal .modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#virtualclassCont.congrea .popover-content.hide {
  display: none;
}

#virtualclassCont.congrea .popover-content.show {
  display: block;
}

#virtualclassCont.congrea .popover-content .opt {
  display: none;
}

#virtualclassCont.congrea #editPollModal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  outline: 0;
}

.congrea.teacher .pollList td.qnText.col-sm-8 {
  position: relative !important;
}

#virtualclassCont.congrea.teacher #layoutPollBody .table-responsive .pollList tbody tr:last-child td.qnText .popover-content {
  bottom: 10%;
  overflow: auto;
}

#virtualclassCont.congrea.teacher #layoutPollBody .table-responsive .pollList tbody tr.lastNode td.qnText .popover-content {
  bottom: 15%;
}

#virtualclassCont.congrea.teacher #layoutPollBody .table-responsive .pollList tbody tr:first-child td.qnText .popover-content {
  top: 7%;
  bottom: auto;
  overflow: auto;
}

/* #virtualclassCont.congrea.teacher #layoutPollBody .table-responsive .pollList tbody tr:nth-child(1) .popover-content, */

/* #virtualclassCont.congrea.teacher #layoutPollBody .table-responsive .pollList tbody tr:nth-child(2) .popover-content { */

/* height : 95px; */

/* } */

.congrea.teacher .pollList td.qnText.col-sm-8:hover {
  background-color: #efefef;
  cursor: pointer;
}

@media (max-width: 1100px) {
  .congrea.teacher .pollList .popover-content {
    max-height: 200px;
    overflow: auto;
  }

  .congrea.teacher .pollList .popover-content::-webkit-scrollbar {
    width: 5px !important;
  }
}

#virtualclassCont.congrea.student #optnNonVotd {
  display: none;
}

/* ======== MEDIA FOR MOBILE ========== */
@media only screen and (min-device-width: 340px) and (max-device-width: 950px) {
  #virtualclassCont.congrea #layoutPollBody #mszBoxPoll .close {
    position: relative;
    top: -15px;
    font-size: 25px;
    left: 15px;
  }

  #virtualclassCont.congrea #virtualclassPoll #layoutPoll {
    height: 100%;
  }
}

#virtualclassCont.congrea.student #resultLayout {
  width: 100%;
  position: absolute;
  top: 40px;
  bottom: 16%;
  overflow: auto;
  height: 85%;
}
