
#virtualclassCont.congrea #main {
  width: 1000px;
  margin: 0 auto;
}

#virtualclassCont.congrea .button {
  color: #3cb3e7;
  font-family: Raleway, Helvetica, sans-serif;
  border-radius: 4px;
  border: 1px solid #3cb3e7;
  background: 0 0;
  font-size: 14px;
  padding: 15px 25px;
}

#virtualclassCont.congrea #virtualclassPreCheck .button {
  border-width: 0;
  padding: 0;
}

#virtualclassCont.congrea .button:hover {
  color: #fff;
  background: #3cb3e7;
}

#virtualclassCont.congrea #virtualclassPreCheck .button:hover {
  background-color: transparent;
}

#virtualclassCont.congrea .center-button-wrapper {
  text-align: center;
  padding: 50px 0;
}

#virtualclassCont.congrea #recordingContainer {
  min-height: 80px;
}

#virtualclassCont.congrea .rv-vanilla-modal {
  position: absolute;

  /* top:-100%; */

  /* left:55%; */
  width: 27%;
  min-height: auto;
  background: #fff;
  z-index: 10;

  /* -webkit-transition:.3s all ease-out;
    transition:.3s all ease-out; */
  border-radius: 4px;
  -webkit-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.3);

  /* margin:-300px 0 0 -22.5%; */
  z-index: 1000000;
}

#virtualclassCont.congrea .rv-vanilla-modal-is-open {
  /* top: 55%; */
}

#virtualclassCont.congrea #popupContainer div#about-modal[data-curr-popup="chromeExt"] {
  left: 45% !important;
}

.rv-vanilla-modal-is-open {
  /* top: 55%; */
}

.rv-vanilla-modal-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  display: none;

  /* -webkit-transition:.4s opacity linear;
    transition:.4s opacity linear; */
  z-index: 100000;
}

.rv-vanilla-modal-overlay.is-shown {
  opacity: 1;
  display: block;
  z-index: 100000;
}

.rv-vanilla-modal-body {
  overflow: auto;
  color: #555;
  padding: 23px 25px 10px;
}

.rv-vanilla-modal-body p {
  line-height: 150%;
  margin: 0 0 1em;
}

.rv-vanilla-modal-title {
  color: #fff;
  font-size: 15px;
  font-weight: 300;
  margin: 0;
  margin-top: 13px;
  margin-left: 4%;
  letter-spacing: 0.01em;
}

.rv-vanilla-modal-close .text {
  position: relative;
  top: -1px;
}

.rv-vanilla-modal-close:hover {
  color: #1996cd;
  background: rgba(255, 255, 255, 0.5);
}

#virtualclassCont.congrea .hidden {
  display: none !important;
  visibility: hidden;
}

#virtualclassCont.congrea .group::after,
#virtualclassCont.congrea .group::before {
  content: "";
  display: table;
}

#virtualclassCont.congrea .group::after {
  clear: both;
}

#virtualclassCont.congrea .centered {
  text-align: center;
}

#virtualclassCont.congrea .rv-vanilla-modal-header {
  border-radius: 10px 10px 0 0;
  height: 42px;
}

#virtualclassCont.congrea #progress,
#virtualclassCont.congrea #indProgress,
#virtualclassCont.congrea #downloadProgress {
  /* width:100%; */

  /* height:15px; */

  /* border:1px solid #000; */

  /* overflow:hidden; */
}

/* #virtualclassCont.congrea .progressBar { */

/* width:0; */

/* height:15px; */

/* border-right: 1px solid #000000; */

/* background: #46D65D; */

/* } */

#virtualclassCont.congrea .progressValue {
  color: #fff;
  font-size: 12px;
  font-style: italic;
  font-weight: 600;
  left: 10px;
  position: relative;
  top: -25px;
  text-shadow: #333 0 0 3px;
}

#virtualclassCont.congrea #indProgressBar {
  background: #93b42f;
}

#virtualclassCont.congrea #waitMsg {
  width: 300px;
  margin-top: 32px;
  margin-left: 22px;
}

.rv-vanilla-modal-body {
  min-width: 400px;
}

/* Hasan css start */

/* #virtualclassCont.congrea #downloadProgress { */

/* background-color: #f5f5f5; */

/* border-radius: 4px; */

/* -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1); */

/* box-shadow: inset 0 1px 2px rgba(0,0,0,0.1); */

/* height: 16px; */

/* border:none; */

/* } */

/* modify this  in  moodle css  ***    */
#virtualclassCont.congrea .progressBar {
  background-color: #56b349;

  /* -webkit-transition: width .6s ease; */

  /* transition: width .6s ease; */
  height: 20px;
  border: none;
}

/* #virtualclassCont.congrea #playProgressBar.progressBar { */

/* height:5px; */

/* } */
#virtualclassCont.congrea #askplayMessage {
  font-size: 14px;
  text-align: center;
  margin-top: 7px;
  margin-bottom: 10px;
  padding-left: 25px;
  padding-right: 15px;
}

#virtualclassCont.congrea #downloadSessionText,
#virtualclassCont.congrea #downloadPrgressLabel {
  font-size: 13px;
}

#virtualclassCont.congrea #playButton {
  background: #eee; /* Old browsers */
  background: -moz-linear-gradient(top, #eee 0%, #ddd 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eee), color-stop(100%, #ddd)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #eee 0%, #ddd 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #eee 0%, #ddd 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #eee 0%, #ddd 100%); /* IE10+ */
  background: linear-gradient(to bottom, #eee 0%, #ddd 100%); /* W3C */
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#eeeeee', endColorstr='#dddddd', GradientType=0); /* IE6-9 */
  padding: 9px 30px;
  border-radius: 5px;
  border: none;
  margin-left: 160px;
  margin-top: 10px;
  margin-bottom: 15px;
  border: #ddd 1px solid;
  cursor: pointer;
}

#virtualclassCont.congrea #playButton:hover {
  background: #ddd; /* Old browsers */
  background: -moz-linear-gradient(top, #ddd 0%, #eee 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ddd), color-stop(100%, #eee)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ddd 0%, #eee 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ddd 0%, #eee 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ddd 0%, #eee 100%); /* IE10+ */
  background: linear-gradient(to bottom, #ddd 0%, #eee 100%); /* W3C */
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#dddddd', endColorstr='#eeeeee', GradientType=0); /* IE6-9 */
  padding: 9px 30px;
  border-radius: 5px;
  border: none;
  margin-left: 160px;
  margin-top: 10px;
  margin-bottom: 15px;
  border: #ddd 1px solid;
}

/* Hasan css start student */

#virtualclassCont.congrea .rv-vanilla-modal {
  min-height: auto;
  width: auto;
  display: none;
}

#virtualclassCont.congrea .rv-vanilla-modal-body {
  padding: 30px 25px 30px;
}

#virtualclassCont.congrea .rv-vanilla-modal-title {
  font-size: 15px;
}

#virtualclassCont.congrea #recordingContainer .rv-vanilla-modal-body div {
  border-radius: 4px;
  font-size: 13px;
  margin-bottom: 7px;
}

#virtualclassCont.congrea #progress,
#virtualclassCont.congrea #indProgress {
  height: 20px;
  border: none;
}

#virtualclassCont.congrea #indProgress #indProgressValue {
}

#virtualclassCont.congrea #progress .progressValue {
  top: -25px;
}

#virtualclassCont.congrea .rv-vanilla-modal-body {
  padding: 18px 25px 18px;
}

#virtualclassCont.congrea #totProgressCont {
  margin-bottom: 15px;
}

#virtualclassCont.congrea #totProgressCont {
  margin-bottom: 20px !important;
}

#virtualclassCont.congrea #downloadProgressValue.progressValue {
  top: -17px;
}

#virtualclassCont.congrea #about-modal #recordPlay .rv-vanilla-modal-body {
  padding: 0;
  border-radius: 10px;
}

#virtualclassCont.congrea #recordPlay .rv-vanilla-modal-body #downloadPcCont #downloadSessionText {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-size: 15px;
  font-weight: 300;
  height: 33px;
  padding-left: 20px;
  padding-top: 12px;
}

#virtualclassCont.congrea #downloadPrgressLabel {
  margin-left: 20px;
  margin-right: 20px;
}

/* #virtualclassCont.congrea #downloadProgress { */

/* margin-left: 20px; */

/* margin-right: 20px; */

/* } */

#virtualclassCont.congrea #downloadPcCont #downloadPrgressLabel {
  padding: 15px 0 9px 3px;
}

/* #virtualclassCont.congrea #downloadPcCont #downloadProgress { */

/* width: 90%; */

/* margin-bottom: 15px; */

/* } */

#virtualclassCont.congrea #recordingContainer .rv-vanilla-modal-title {
  float: left;
}

#virtualclassCont.congrea #field2::-moz-placeholder {
  color: #00f;
}

#virtualclassCont.congrea #youtubeurl::-webkit-input-placeholder {
  opacity: 0.8;
}

/* Gray color */

#virtualclassCont.congrea .vceditor-toolbar {
  background-color: #3c4955;
}

#virtualclassCont.congrea #confirm.popupWindow #confirmOk #confirmOkButton,
#virtualclassCont.congrea #confirmCancelButton,
#virtualclassCont.congrea #popupContainer #replayContainer #replayButton,
#virtualclassCont.congrea #playButton {
  background-image: none;
  background-color: #34404c;
  color: #fff;
  font-weight: bold;
  border-radius: 20px;
  border: none;
}

#virtualclassCont.congrea #confirm.popupWindow #confirmOk #confirmOkButton:hover,
#virtualclassCont.congrea #confirmCancelButton:hover,
#virtualclassCont.congrea #playControllerCont #replayFromStart .icon-Replayfromstart:hover,
#virtualclassCont.congrea #popupContainer #replayContainer #replayButton:hover,
#virtualclassCont.congrea #playButton:hover {
  border-radius: 20px;
}

#virtualclassCont.congrea #confirm.popupWindow #confirmOk #confirmOkButton:hover,
#virtualclassCont.congrea #confirmCancelButton:hover,
#virtualclassCont.congrea #playControllerCont #replayFromStart .icon-Replayfromstart:hover,
#virtualclassCont.congrea #popupContainer #replayContainer #replayButton:hover {
  background-image: none;
}

#confirm #confirmOk #confirmOkButton:hover,
#virtualclassCont.congrea #playButton:hover,
#virtualclassCont.congrea #playButton:hover {
  background-image: none;
  background-color: #515e69 !important;
  border: none;
}

#virtualclassCont.congrea #confirm.popupWindow #confirmCancel #confirmCancelButton::before,
#virtualclassCont.congrea #confirm.popupWindow #confirmOk #confirmOkButton::before {
  color: #fff;
}

#virtualclassCont.congrea #confirmCancel #confirmCancelButton {
  background-color: #34404c;
  border-radius: 20px;
  color: #fff;
  border: none;
  background-image: none;
}

#virtualclassCont.congrea #confirmCancel #confirmCancelButton:hover {
  background-image: none;
  background-color: #515e69 !important;
}

.rv-vanilla-modal-body,
.rv-vanilla-modal-body {
  color: #3c3c3c !important;
}

#virtualclassCont.congrea #popupContainer .rv-vanilla-modal-is-open {
  display: block;
  z-index: 100001;
  border-width: 2px !important;
  position: absolute;
  width: fit-content;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0.9375rem;
  box-shadow: 2px 5px 9px #4c4c4c;
}

#virtualclassCont.congrea.playMode #popupContainer.playPopup #about-modal,
#virtualclassCont.congrea.playMode #popupContainer.loading #about-modal {
  background-color: transparent;
  border: none;
  box-shadow: none;
}

#virtualclassCont.congrea #about-modal #recordPlay .rv-vanilla-modal-body,
#virtualclassCont.congrea .rv-vanilla-modal,
#virtualclassCont.congrea #confirm.popupWindow.simple-box {
  border-radius: 13px !important;
}

/* #virtualclassCont.congrea #downloadProgress{ */

/* background-color: #eee; */

/* } */

/* #virtualclassCont.congrea #alleditorRichContainer, #virtualclassCont.congrea #alleditorRichContainer:hover, #virtualclassCont.congrea #alleditorRichContainer, #virtualclassCont.congrea #alleditorCodeContainer, #virtualclassCont.congrea #alleditorRichContainer:hover, #virtualclassCont.congrea #alleditorCodeContainer:hover{ */

/* background-image: none; */

/* } */

#virtualclassCont.congrea #alleditorRichContainer [data-action="enable"],
#alleditorCodeContainer [data-action="enable"] {
  font-weight: normal;
  border-radius: 5px !important;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

#virtualclassCont.congrea #alleditorRichContainer [data-action="enable"]::before {
  content: "\e984";
  font-size: 18px;
  font-family: icomoon;
  color: red;
}

/* #virtualclassCont.congrea #alleditorRichContainer:hover {
  box-shadow: none;
} */

#virtualclassCont.congrea #alleditorRichContainer [data-action="disable"]::before {
  content: "\e97e";
  font-size: 18px;
  font-family: icomoon;
  color: #22af00;
}

#virtualclassCont.congrea #alleditorRichContainer [data-action="disable"],
#alleditorCodeContainer [data-action="disable"] {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

#virtualclassCont.congrea #alleditorRichContainer #alleditorRichContainerAnch span {
  position: relative;
  top: -2px;
  margin-left: 5px;
}

#virtualclassCont.congrea #speakerPressingAnch #speakerPressingtext {
  color: #fff;
}

#virtualclassCont.congrea #popupContainer #about-modal #recordingContainer .rv-vanilla-modal-body #progressContainer #indvProgressCont #indProgress #indProgressBar {
  background-color: #56b349;
}
