body {
    font-family: 'Alegreya Sans', sans-serif;
    margin: 0;
    padding: 0;
}

#virtualclassCont.congrea .pbcontainer {
  width: 80%;
/*   margin: 100px auto;  */
  margin: 0 auto; 
}
#virtualclassCont.congrea .progressbar {
  margin: 0;
  padding: 0;
  counter-reset: step;

}
#virtualclassCont.congrea .progressbar li {
  list-style-type: none;
  width: 20%;
  float: left;
  font-size: 12px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  color: #7d7d7d;
    margin-bottom: 28px;
}
#virtualclassCont.congrea .progressbar li:before {
  width: 30px;
  height: 30px;
/*
  content: counter(step);
  counter-increment: step;
*/
  line-height: 30px;
  display: block;
  text-align: center;
  margin: 0 auto 20px auto;
  border-radius: 50%;
  background-color: white;
}
#virtualclassCont.congrea .progressbar li:after {
  width: 100%;
  height: 2px;
  content: '';
  position: absolute;
  background-color: #7d7d7d;
  top: 15px;
/*  left: -50%;*/
  left: 0;
  z-index: -1;
}
#virtualclassCont.congrea .progressbar li:first-child:after {
  content: none;
}
#virtualclassCont.congrea .progressbar li.active {
  color: rgba(0,128,0,1);
}
#virtualclassCont.congrea .progressbar li.active:before {
  /*
  border-color: #55b776;
  content: "\2714";
  */

}
#virtualclassCont.congrea .progressbar li.active + li:after {
  background-color: #55b776; 
}
#virtualclassCont.congrea .progressbar li.active.current::before {
    color: #ffbb4d;
}