/* New Id's & Classes */

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    letter-spacing: 1px;
}
#audioWidget ul li a {
    padding-top:14px !important;
    padding-bottom:9px !important;
    text-align:center;
}

#virtualclassCont.congrea #virtualclassAppRightPanel {height: 100vh;}

#virtualclassCont.congrea #appSettingCtrl :hover {
   height:55px !important;
}

#virtualclassCont.congrea #virtualclassAppRightPanel #audioWidget {
    background: #4c5963 none;
    height: 48px;
}
#virtualclassCont.congrea #audioWidget .settingActive {
    background: #2d3741 none;
}

#virtualclassCont.congrea #appSettingCtrl span a {
   font-size:22px;
   cursor:pointer;
   text-align:center;
}
#virtualclassCont.congrea #appSettingCtrl span {
   font-size:19px;
}

#virtualclassCont.congrea #rightSubContainer #appSettingDetail{
   display : none;
    overflow: auto;
     height : calc(100% - 48px);
    font-family: Helvetica ;
}

#virtualclassCont.congrea #rightSubContainer #chatWidget .chatBarTab {
    background-color: #4c5963;
    height: 48px;
}
#virtualclassCont.congrea #rightSubContainer #congreaChatMainCont {
/*    display:none;*/
    height : calc(100% - 48px);
}
#virtualclassCont.congrea.student #rightSubContainer #congreaChatMainCont {
    height : calc(100% - 49px);
}
#virtualclassCont.congrea .vmchat_room_bt.active, #virtualclassCont.congrea[data-currapp="EditorRich"] .vmchat_bar_button.active {
    background: #2d3741 none;
    height: auto;
}
#virtualclassCont.congrea #rightSubContainer .prechk {
    border-right-width: 0 !important;
}

#virtualclassCont.congrea #rightSubContainer {
	clear : both;
}

#virtualclassCont.congrea #rightSubContainer a.inner_bt, #virtualclassCont.congrea #rightSubContainer a.inner_bt:hover {
    height: auto;
}
#virtualclassCont.congrea.student #rightSubContainer a.inner_bt, #virtualclassCont.congrea.student #rightSubContainer a.inner_bt:hover {
    height: 48px;
}
#virtualclassCont.congrea.student #rightSubContainer a.inner_bt #chatroom_icon, #virtualclassCont.congrea.student #rightSubContainer a.inner_bt #chatroom_icon:hover {
    float: left;
}
#virtualclassCont.congrea.student #rightSubContainer #stickycontainer #icHr:before {
    margin-left: -10px;
}
#virtualclassCont.congrea.teacher.nowebcam #virtualclassAppRightPanel #videoHostSource{
	display : none;
}

#virtualclassCont.congrea #chatWidget {
	height : 100%;
}
#virtualclassCont.congrea #virtualclassAppRightPanel {
    border-left-width: 0;
}
#virtualclassCont.congrea #rightSubContainer, #virtualclassCont #congreaChatMainCont {
	height : calc(100% - 287px);
}
#virtualclassCont.congrea #rightSubContainer {
    border-left: 1px solid #dfdfdf;
}
#virtualclassCont.congrea #virtualclassAppRightPanel #audioWidget {
    background: #4c5863 none !important;
}
#virtualclassCont.congrea #virtualclassAppRightPanel.hide #rightSubContainer  {
    height : 94.3vh;
}

#virtualclassCont.congrea.videoff #rightSubContainer, #virtualclassCont.videoff #congreaChatMainCont {
	height : calc(100% - 45px);
}

#virtualclassCont.congrea.teacher.nowebcam #rightSubContainer, #virtualclassCont.congrea.student.videooff #rightSubContainer{
	height : calc(100% - 45px);
}
 #virtualclassCont #congreaChatMainCont {
	 
 }
#virtualclassCont .footerCtr {
    position: absolute;
    bottom: 48px;
    width: 100%;
    text-align: right;
    background: #fff;
    margin: 0;
    padding: 10px 0 15px;
    z-index: 10000;
} 
#virtualclassCont .footerCtr input {
    padding: 7px;
    width: 90%;
    background-color: #fff;
    border-radius:5px;
} 

#virtualclassCont .footerCtr input[type=text], #virtualclassCont .footerCtr input#ta_chrm2 {
    width: calc(100% - 30px);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    box-sizing: border-box;
    border: 1px solid #4b5863b3;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    padding: 10px;
    margin-left: 15px;
    margin-right: 15px;
}
#virtualclassCont .footerCtr input {
    font-weight: normal;
    font-size: 11px;
    font-family: 'icomoon';
}
.user_search {
    content: "\f0c0";
    font-size:18px;
    font-family:'icomoon';
    color:grey;
}
#congreaChatCont .ui-widget-content #chat_div .ui-memblist-usr {
    height:52px;
}

#appSettingDetail label {
    margin-top:6px;
    margin-bottom:6px;
    font-weight:500;
    font-size:16px;
    color: #3d454c;
}

#virtualclassCont #appSettingDetail .switch {
  position: relative;
  display: inline-block;
  width: 43px;
  height: 22px;
    float:right;
    margin:0 ;
}
#virtualclassCont #appSettingDetail .switch input {
    display:none;
}
#virtualclassCont #appSettingDetail .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #7d8c99;
  -webkit-transition: .4s;
  transition: .4s;
}
#virtualclassCont #appSettingDetail .slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 3px;
  top:3px;
  bottom:1px;  
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
#virtualclassCont #appSettingDetail #contrAudioAll.enable .slider  {
  background-color: #05b688;
}
#virtualclassCont.congrea #virtualclassAppRightPanel span#videoSwitch.video.on:before {
    color: #05b688;
}
#virtualclassCont #appSettingDetail #contrVideoAll.enable .slider {
background-color: #05b688;
}

#virtualclassCont #appSettingDetail input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
#virtualclassCont #appSettingDetail li.enable .slider:before {
-webkit-transform: translateX(21px);
-ms-transform: translateX(21px);
transform: translateX(21px);
}
#virtualclassCont #appSettingDetail .slider.round {
  border-radius: 3px;
}
#virtualclassCont #appSettingDetail .slider.round:before {
  border-radius: 3px;
}
#virtualclassCont #appSettingDetail .pre-check-btn {
    display: inline-block;
    min-width: 18px;
    padding: 6px 10px;
    font-size: 12px;
    font-weight: 400;
    letter-spacing:.7px;
    line-height: 1;
    color: #fff;
    text-align: center;
    background-color: #4b5762;
    border-radius: 3px;
    float:right;
    cursor:pointer;
}
#virtualclassCont #appSettingDetail .pre-check-btn:hover {
    
    background-color: #395265;
    border-radius: 4px;
    
}
#virtualclassCont #appSettingDetail .disable #usersMuteSwitch:before {
    content: "\e610";
    font-weight: normal;
    font-size: 15px;
    font-family: 'icomoon';
    color: #858f97;
}
#virtualclassCont #appSettingDetail .enable #usersMuteSwitch:before {
    content: "\e611";
    font-weight: normal;
    font-size: 15px;
    font-family: 'icomoon';
    color: #858f97;
}
#virtualclassCont #appSettingDetail .disable #usersVideoSwitch:before {
    content: "\e966";
    font-weight: normal;
    font-size: 18px;
    font-family: 'icomoon';
    color: #858f97;
}
#virtualclassCont #appSettingDetail .enable #usersVideoSwitch:before {
    content: "\e96a";
    font-weight: normal;
    font-size: 18px;
    font-family: 'icomoon';
    color: #858f97;
}
#virtualclassCont #appSettingDetail #validate-precheck:before {
    content: "\e968";
    font-weight: normal;
    font-size: 15px;
    font-family: 'icomoon';
    color: #858f97;
    padding-left: 2px;
    padding-right: 2px;
}
#virtualclassCont #appSettingDetail .audio-options {
    display:inline-block;
    float:right;
    margin-top:-3px;
    width:115px;
    height:21px;
    position: relative;
}

/*   n */
#virtualclassCont.congrea #rightSubContainer #appSettingDetail.active{
   display : block;
    background-color:#fff;
}
#virtualclassCont.congrea #rightSubContainer #appSettingDetail.deactive{
	display : none;
}
#virtualclassCont.congrea #chatWidget.deactive #congreaChatMainCont {
	display:none;
}
#virtualclassCont.congrea #chatWidget.active #congreaChatMainCont{
	display:block;
}

#virtualclassCont.congrea #WebRtcIoContainer{
	height:100px;
	width:200px;
}


#virtualclassCont.congrea #WebRtcIoContainer video{
	width:200px;
	height:200px;
}

#virtualclassCont.congrea .audio-options select{
    text-overflow: ellipsis;
    width:104px;
    font-size:13px;
    border-width: 0;
    background: #fff none;
}

#virtualclassCont.congrea .closeSetting:before {
    content: "\f00c";
    font-weight: normal;
    font-size: 15px;
    font-family: 'icomoon';
    color: grey;
}
#virtualclassCont.congrea .settingActive .setting-btn:before {
    content: "\e606";
    font-weight: normal;
    font-size: 24px;
    font-family: 'icomoon';
    color: white;
}
#audioWidget .chatActive .setting-btn:before {
    content:"\f0ca";
    font-weight: normal;
    font-size: 19px;
    font-family: 'icomoon';
    color: white;
    font-weight:normal;
}
#appSettingDetail .list-group {
    font-size:15px !important;
}
#appSettingDetail .list-group .lists-cont{
    padding:5px 14px !important;
    letter-spacing: 0.02em;
    margin-top: 4px;
    color: #5e666c;
    font-size: 13px;
    margin-bottom: 4px;
    background-color: white;
}
#virtualclassCont #appSettingDetail .slider:hover {
    background-color: #395265;
}

#virtualclassCont #appSettingDetail .audio-options:after {
    content: '\e967';
    font-family:'icomoon';
    color: #000;
    right: 2px;
    top: 3px;
    height: 16px;
    position: absolute;
    pointer-events: none;
}

#virtualclassCont.congrea #webRtcIoContainer video {
    width: 290px;
    height: auto;
    margin: 20px 0 15px;
    border-radius: 4px;
}

#rightSubContainer #appSettingDetail #settingMedia .list-group .lists-cont:before {
    content: "\e966";
    font-weight: normal;
    font-size: 18px;
    font-family: 'icomoon';
    color: #858f97;
    margin-right: 10px;
    margin-top: -6px;
    float: left;
}
#appSettingDetail #settingMedia .list-group .lists-cont {
    margin-bottom: 6px;
}

#virtualclassCont #appSettingDetail select::-ms-expand {
display: none;
}

#virtualclassCont #appSettingDetail .audio-options select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;  
    display: block;
    height: 21px;
    float: right;
    padding: 0 18px 0 5px;
    color: #444;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#virtualclassCont #appSettingDetail .appSettingIcons {
    display:inline-block;
    width:25px;
    height:16px;
}
#virtualclassCont #appSettingDetail .app-settings-rbs {
    margin-top:15px;
    margin-bottom:15px;
}
#virtualclassCont #appSettingDetail .bulkUserActions {
    margin-bottom:15px;
}
#virtualclassCont #appSettingDetail .setting-heading {
    border-bottom: 1px solid #e8e8e8;
    padding: 6px 14px;
    margin-bottom: 10px;
}

/* Tool Tip */

#virtualclassCont.congrea #virtualclassAppRightPanel #audioWidget .congtooltip:hover:after {
    top: 207px;
    left: auto;
    right: 22px;
    position: fixed;
    bottom: auto;
}
#virtualclassCont.congrea.nowebcam #virtualclassAppRightPanel #audioWidget .congtooltip:hover:after {
    top: 51px;
}
#virtualclassCont.congrea #virtualclassAppRightPanel #audioWidget .videoSwitchCont.congtooltip:hover:after {
    right: 126px;
}
#virtualclassCont.congrea #virtualclassAppRightPanel #audioWidget .audioTool a.congtooltip:hover:after {
    right: 233px;
}
#virtualclassCont.congrea .congtooltip:hover:after {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}
#virtualclassCont.congrea #virtualclassAppRightPanel #stickycontainer a.inner_bt.congtooltip:hover:after {
    bottom: 4.5em !important;
    right: 3.4em !important;
    left: auto !important;
}
#virtualclassCont.congrea #virtualclassAppRightPanel #stickycontainer .vmchat_room_bt.congtooltip:hover:after, #virtualclassCont.congrea #virtualclassAppRightPanel #stickycontainer .vmchat_bar_button.congtooltip:hover:after {
    bottom: 4.5em;
    left: auto;
    right: 2.4em;
}
#virtualclassCont.congrea.student #virtualclassAppRightPanel #stickycontainer .vmchat_room_bt.congtooltip:hover:after, #virtualclassCont.congrea.student #virtualclassAppRightPanel #stickycontainer .vmchat_bar_button.congtooltip:hover:after {
    right: 1em;
}

#virtualclassCont.congrea .handRaise.congtooltip:hover:after {
    border-radius: 0.25em;
    bottom: 4.8em;
    right: 0.2em;
    left: auto;
    padding: 0.2em 0.42em;
    text-transform: capitalize;
}

/* Responsive */

@media (min-width: 768px){
#virtualclassCont.congrea #virtualclassAppRightPanel #audioWidget #mainAudioPanel {
    height: 48px !important;
    }
}