#virtualclassCont.congrea #videoHostContainer canvas#videoParticipate {
  margin: 0;
}

#virtualclassCont.congrea.student #virtualclassAppRightPanel #videoHostContainer #videoParticipate {
  border-width: 0;
  padding: 0;
  width: 100%;
}

#virtualclassCont.congrea.student #virtualclassAppRightPanel #videoHostContainer canvas {
  border-radius: 0;
}

#virtualclassCont.congrea #videoHostContainer #rightCtlr {
  float: right;
  width: 320px;
  height: 65px;
}

#virtualclassCont.congrea #videourl {
  display: inline;
  height: 100%;
  padding-left: 10px;
  padding-right: 70px;

  /* border : none; */
}

#virtualclassCont.congrea #videourl::placeholder {
  text-align: center;
}

#virtualclassCont.congrea #videoPlayerCont {
  height: 94vh;
  width: 102%;
  display: none;
}

@media (max-width: 1175px) {
  #virtualclassCont.congrea #uploadVideo .glyphicon-upload.videoupload-icon::before {
    content: "\e027";
    font-size: 2em;
  }
}

@media (max-width: 1175px) {
  #virtualclassCont.congrea #uploadVideo .videobtntxt {
    display: none;
  }
}

#virtualclassCont.congrea #virtualclassVideo {
  position: relative;
}

#virtualclassCont.congrea #virtualclassVideo #liveStreamCont{
  display: none;
  width: 100%;
  height: 100%;
  background: #000;
}

#virtualclassCont.congrea #virtualclassVideo[data-currapp='normalVideo'] #videoPlayerCont {
  display: block;
}

#virtualclassCont.congrea #virtualclassVideo[data-currapp='liveStream'] #liveStreamCont{
  display: block;
}

#virtualclassCont.congrea #liveStream {
  width: 100%;
  height: 100%;
}

#virtualclassCont.congrea #startLiveStream {
  position: absolute;
  top: 8px;
  color: #fff;
  border: 1px solid #000;
  z-index: 100;
  right: 10px;
  width: auto;
  padding: 4px 8px 3px 9px;
  font-size: 0.9rem;
  cursor: pointer;
  letter-spacing: 1.5px;
  border-radius: 6px;
}

#virtualclassCont.congrea #startLiveStream .liveStream-icon {
  display: inline-block;
  margin-right: 10px;
}

#virtualclassCont.congrea #startLiveStream p {
  margin: 0;
  display: inline-block;
  bottom: 3px;
  position: relative;
  font-size: 14px;
  font-weight: 400;
  padding: 0;
}

#virtualclassCont.congrea #messageLayoutVideo {
  display: none;
}

#virtualclassCont.congrea #startLiveStream.disabled {
  pointer-events: none;
  opacity: 0.8;
  cursor: default;
}

#virtualclassCont.congrea #ogvVideoContainer, #virtualclassCont.congrea #ogvVideoContainer > ogvjs{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}
