#virtualclassCont.congrea #videoHostContainer canvas#videoParticipate {
  margin: 0;
}

#virtualclassCont.congrea.student #virtualclassAppRightPanel #videoHostContainer #videoParticipate {
  border-width: 0;
  padding: 0;
  width: 100%;
}

#virtualclassCont.congrea.student #virtualclassAppRightPanel #videoHostContainer canvas {
  border-radius: 0;
}

#virtualclassCont.congrea #videoHostContainer #rightCtlr {
  float: right;
  width: 320px;
  height: 65px;
}

#virtualclassCont.congrea #videourl {
  display: inline;
  height: 100% !important;
  padding-left: 10px;
  padding-right: 10px;

  /* border : none; */
}

#virtualclassCont.congrea #videourl::placeholder {
  text-align: center;
}

#virtualclassCont.congrea #videoPlayerCont {
  height: 94vh;
  width: 102%;
}

@media (max-width: 1175px) {
  #virtualclassCont.congrea #uploadVideo .glyphicon-upload.videoupload-icon::before {
    content: "\e027";
    font-size: 2em;
  }
}

@media (max-width: 1175px) {
  #virtualclassCont.congrea #uploadVideo .videobtntxt {
    display: none;
  }
}
