
#virtualclassCont.congrea #virtualclassWhiteboardCont {
  height: 100%;
  width: 100%;
}

#virtualclassCont.congrea #virtualclassWhiteboardCont {
  height: 100%;
  width: 100%;
}

#virtualclassCont.congrea #virtualclassWhiteboard {
  float: left;
}

#virtualclassCont.congrea #virtualclassWhiteboardToo.active a span {
  color: #fff !important;
}

#virtualclassCont.congrea #virtualclassWhiteboardTool a img {
  border: none;
}

#virtualclassCont.congrea #alwaysPress .audioTool.active span.icon-whiteboard::before,
#virtualclassCont.congrea #virtualclassOptionsCont .appOptions.active span.icon-whiteboard::before,
#virtualclassCont.congrea #alwaysPress .audioTool.active span.icon-whiteboard::before {
  color: #fff;
}

#virtualclassCont.congrea #virtualclassWhiteboardTool {
  /* padding: 10px 5px; */

  /** suman microsoft edge ***/
}

#virtualclassCont.congrea #vcanvas #whiteBoardMsg {
  position: absolute;
  top: 40%;
  left: 40%;
}

#virtualclassCont.congrea #whiteBoardMsg {
  background-color: #f9f9f9;
  border: 1px solid #c8ddb8;
  padding: 20px;
  color: #3a773c;
  border-radius: 5px;
  box-shadow: #ddd 0 0 5px;
}

#virtualclassCont.congrea[data-currapp="Whiteboard"] #beTeacher {
  top: 1%;
}

#virtualclassCont.congrea.student[data-currapp="Whiteboard"] #beTeacher {
  top: 2%;
  right: 1%;
}

#virtualclassCont.congrea.presenter[data-currapp="Whiteboard"] #beTeacher {
  top: 1%;
}

/* #virtualclassCont.congrea.teacher #virtualclassWhiteboard, #virtualclassCont.congrea.presenter #virtualclassWhiteboard { */

/* margin-left: 60px; */

/* } */

#virtualclassCont.congrea.educator #virtualclassWhiteboard {
  margin-left: 3px;
}

#virtualclassCont.congrea.teacher #virtualclassWhiteboard {
  float: left;
}

#virtualclassCont.congrea #virtualclassAppLeftPanel #virtualclassWhiteboard {
  /* float: none; */

  /* overflow: hidden; */
  margin-right: 6px;

  /*  border: 1px solid #e7eae7; */
}

#virtualclassCont.congrea #virtualclassAppLeftPanel #virtualclassWhiteboard .whiteboardContainer,
#virtualclassCont.congrea #virtualclassAppLeftPanel #virtualclassWhiteboard .whiteboardContainer .canvasContainer,
#virtualclassCont.congrea #virtualclassAppLeftPanel #virtualclassWhiteboard .whiteboardContainer .canvasContainer .vcanvas {
  height: 100%;
}

#virtualclassCont.congrea #virtualclassAppLeftPanel #virtualclassWhiteboard .whiteboardContainer .canvasContainer .containerWb {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#virtualclassCont.congrea #screen-docs .whiteboard {
  margin-left: 0;
  height: 100%;

  /* margin-right: 20px; */
}

#virtualclassCont.congrea #screen-docs .whiteboard .vcanvas.socketon {
  height: 100%;
}

#virtualclassCont.congrea #screen-docs .whiteboard .vcanvas.socketon .containerWb {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#virtualclassCont.congrea #screen-docs .whiteboard .vcanvas.socketon .containerWb .canvasWrapper {
  flex: 1;
}

#virtualclassCont.congrea #docScreenContainer .pageContainer {
  /* border:1px dotted #dddddd; */
  height: 100%;
}

#virtualclassCont.congrea #virtualclassAppLeftPanel #congrealogo img {
  position: absolute;
  height: 35px;
  opacity: 0.5;
  z-index: 11;
  bottom: 0.6875rem;
  right: 16px;
}

#virtualclassCont.congrea #virtualclassAppLeftPanel a#congrealogo.disbaleOnmousedown img {
  pointer-events: none;
}

#virtualclassCont.congrea .textBoxContainer {
  z-index: 15;
}

#virtualclassCont.congrea #canvasCont {
  position: relative;
  top: 0;
  left: 0;
}

#virtualclassCont.congrea .canvasWrapper canvas {
  position: absolute;
  top: 0;
  left: 0;
}

#virtualclassCont.congrea .canvasWrapper .whiteboards {
  z-index: 10;
}

#virtualclassCont.congrea #virtualclassAppLeftPanel #virtualclassWhiteboard .whiteboardContainer .table,
#virtualclassCont.congrea #virtualclassAppLeftPanel #virtualclassDocumentShare #documentScreen #notesContainer .table {
  position: absolute;
  top: 50px;
  left: 285px;
  width: auto;
  height: auto;
  border: 1px solid lightgray;
  display: none;
  padding: 5px;
  border-spacing: 0;
  box-shadow: 0 0 6px rgb(96, 96, 97);
  background-color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
}

#virtualclassCont.congrea #virtualclassAppLeftPanel #virtualclassWhiteboard .whiteboardContainer .table td.close,
#virtualclassCont.congrea #virtualclassAppLeftPanel #virtualclassDocumentShare #documentScreen #notesContainer .table td.close {
  cursor: default;
}

#virtualclassCont.congrea #virtualclassAppLeftPanel #virtualclassWhiteboard .whiteboardContainer table tr td,
#virtualclassCont.congrea #virtualclassAppLeftPanel #virtualclassDocumentShare #documentScreen #notesContainer table tr td {
  width: 15px;
  height: 15px;
  border: 1px solid #fff;
}

#virtualclassCont.congrea #virtualclassAppLeftPanel #virtualclassWhiteboard .whiteboardContainer table tr td:hover,
#virtualclassCont.congrea #virtualclassAppLeftPanel #virtualclassDocumentShare #documentScreen #notesContainer table tr td:hover {
  border: 0.5px solid #434343;
}

#virtualclassCont.congrea #virtualclassAppLeftPanel #virtualclassWhiteboard .whiteboardContainer .table .spacing td,
#virtualclassCont.congrea #virtualclassAppLeftPanel #virtualclassDocumentShare #documentScreen #notesContainer .table .spacing td {
  margin-bottom: 6px;
}

#virtualclassCont.congrea #virtualclassAppLeftPanel #virtualclassWhiteboard .whiteboardContainer table tr td.selected,
#virtualclassCont.congrea #virtualclassAppLeftPanel #virtualclassDocumentShare #documentScreen #notesContainer table tr td.selected {
  border: 0.5px solid #000;
}

#virtualclassCont.congrea #virtualclassAppLeftPanel #virtualclassWhiteboard .whiteboardContainer table tr td.selected::after,
#virtualclassCont.congrea #virtualclassAppLeftPanel #virtualclassDocumentShare #documentScreen #notesContainer table tr td.selected::after {
  content: "\e996";
  color: #fff;
  font-family: "icomoon";
  font-size: 15px;
}

#virtualclassCont.congrea .shapesToolbox {
  color: #fff;
  float: left;
  position: relative;
  z-index: 100000;
  cursor: pointer;
}

#virtualclassCont.congrea .shapesToolbox .shapes_icon .congtooltip:hover::after {
  bottom: -30px;
  left: 0;
}

#virtualclassCont.congrea .shapesToolbox a {
  color: #fff;
}

#virtualclassCont.congrea .shapesToolbox a:hover {
  color: #00a0ba;
}

/* #virtualclassCont.congrea .shapesToolbox:hover .shapesTool { */

/* display:block !important; */

/* } */

#virtualclassCont.congrea .shapesToolbox .shapesTool {
  display: none;
  background-color: #fff;
  width: 209px;

  /* border-bottom-right-radius: 10px; */
}

/* #virtualclassCont.congrea .containerWb .commandToolsWrapper .shapesToolbox .shapesTool .tool a {
  border-bottom: 0.05em solid #929292 !important;
} */

#virtualclassCont.congrea .commandToolsWrapper .shapesTool {
  position: absolute;
  top: 46.5px;
  left: 2px;
  border-right: none;
}

/* #virtualclassCont.congrea .shapesToolbox[data-currTool="shapes"] .shapes_icon .icon-shapes.cgIcon { */

/* padding: 13px 13px 14px 14px; */

/* } */

#virtualclassCont.congrea .shapesToolbox[data-currTool="shapes"] .shapes_icon a.congtooltip:hover::after {
  bottom: -30px;
  left: 0;
}

#virtualclassCont.congrea .shapesToolbox[data-currTool="shapes"] .shapes_icon a {
  padding: 0.625rem 0.75rem 0.5625rem 0.9375rem;
}

#virtualclassCont.congrea .shapesToolbox[data-currtool="oval"] .shapes_icon .icon-shapes.cgIcon::before,
.shapesToolbox[data-currtool="line"] .shapes_icon .icon-shapes.cgIcon::before,
.shapesToolbox[data-currtool="rectangle"] .shapes_icon .icon-shapes.cgIcon::before,
.shapesToolbox[data-currtool="triangle"] .shapes_icon .icon-shapes.cgIcon::before {
  font-size: 24px;
}

#virtualclassCont.congrea .shapesToolbox[data-currtool="oval"] .shapes_icon a span::after,
#virtualclassCont.congrea .shapesToolbox[data-currtool="line"] .shapes_icon a span::after,
#virtualclassCont.congrea .shapesToolbox[data-currtool="rectangle"] .shapes_icon a span::after,
#virtualclassCont.congrea .shapesToolbox[data-currtool="triangle"] .shapes_icon a span::after {
  margin-left: -2px;
  color: #fff !important;
}

#virtualclassCont.congrea .shapesToolbox.active[data-currtool="oval"] .shapesTool .active a span::before,
#virtualclassCont.congrea .shapesToolbox.active[data-currtool="line"] .shapesTool .active a span::before,
#virtualclassCont.congrea .shapesToolbox.active[data-currtool="rectangle"] .shapesTool .active a span::before,
#virtualclassCont.congrea .shapesToolbox.active[data-currtool="triangle"] .shapesTool .active a span::before {
  color: #fff !important;
}

#virtualclassCont.congrea .shapesToolbox[data-currtool="oval"] .shapes_icon a,
.shapesToolbox[data-currtool="line"] .shapes_icon a,
.shapesToolbox[data-currtool="rectangle"] .shapes_icon a,
.shapesToolbox[data-currtool="triangle"] .shapes_icon a {
  padding: 8px 13px 9px 14px !important;
}

#virtualclassCont.congrea .shapes_icon .icon-shapes.cgIcon::after {
  content: "\e967";
  font-size: 15px;
}

#virtualclassCont.congrea #virtualclassAppLeftPanel .containerWb .commandToolsWrapper .tool a[data-title="Rectangle"],
#virtualclassCont.congrea #virtualclassAppLeftPanel .containerWb .commandToolsWrapper .tool a[data-title="Line"],
#virtualclassCont.congrea #virtualclassAppLeftPanel .containerWb .commandToolsWrapper .tool a[data-title="Oval"],
#virtualclassCont.congrea #virtualclassAppLeftPanel .containerWb .commandToolsWrapper .tool a[data-title="Triangle"] {
  padding: 7px 14px 8px;

  /* border-top: 0.5px solid #929292; */

  /* border-bottom: 0.5px solid #929292; */
}

#virtualclassCont.congrea #virtualclassAppLeftPanel .containerWb .commandToolsWrapper .tool a[data-title="Rectangle"] span,
#virtualclassCont.congrea #virtualclassAppLeftPanel .containerWb .commandToolsWrapper .tool a[data-title="Line"] span,
#virtualclassCont.congrea #virtualclassAppLeftPanel .containerWb .commandToolsWrapper .tool a[data-title="Oval"] span,
#virtualclassCont.congrea #virtualclassAppLeftPanel .containerWb .commandToolsWrapper .tool a[data-title="Triangle"] span {
  font-size: 23px;
}

#virtualclassCont.congrea #virtualclassAppLeftPanel .containerWb .commandToolsWrapper .shapesToolbox[data-currTool="rectangle"] .icon-shapes.cgIcon::before {
  content: "\e60b";
}

#virtualclassCont.congrea #virtualclassAppLeftPanel .containerWb .commandToolsWrapper .shapesToolbox[data-currTool="line"] .icon-shapes.cgIcon::before {
  content: "\e607";
}

#virtualclassCont.congrea #virtualclassAppLeftPanel .containerWb .commandToolsWrapper .shapesToolbox[data-currTool="oval"] .icon-shapes.cgIcon::before {
  content: "\f1db";
}

#virtualclassCont.congrea #virtualclassAppLeftPanel .containerWb .commandToolsWrapper .shapesToolbox[data-currTool="triangle"] .icon-shapes.cgIcon::before {
  content: "\e603";
}

#virtualclassCont.congrea #virtualclassAppLeftPanel .containerWb .commandToolsWrapper .shapesToolbox[data-tool="freeDrawing"] .active .shapesToolbox .icon-shapes::before {
  content: "\e994";
}

#virtualclassCont.congrea #virtualclassAppLeftPanel .containerWb .commandToolsWrapper .shapesToolbox[data-currTool="rectangle"],
#virtualclassCont.congrea #virtualclassAppLeftPanel .containerWb .commandToolsWrapper .shapesToolbox[data-currTool="line"],
#virtualclassCont.congrea #virtualclassAppLeftPanel .containerWb .commandToolsWrapper .shapesToolbox[data-currTool="oval"],
#virtualclassCont.congrea #virtualclassAppLeftPanel .containerWb .commandToolsWrapper .shapesToolbox[data-currTool="triangle"],
#virtualclassCont.congrea #virtualclassAppLeftPanel .containerWb .commandToolsWrapper[data-currTool="freeDrawing"],
#virtualclassCont.congrea #virtualclassAppLeftPanel .containerWb .commandToolsWrapper[data-currTool="text"],
#virtualclassCont.congrea #virtualclassAppLeftPanel .containerWb .commandToolsWrapper[data-currTool="activeAll"] {
  background-image: radial-gradient(ellipse at center, #000 0%, #000 100%);
}

#virtualclassCont.congrea .disActiveColor {
  height: 4px;
  width: 26px;
  color: white;
  background-color: white;
  position: absolute;
  top: 31px;
  right: 18px;
  border: 0.5px solid #55575a;
}

#virtualclassCont.congrea ul.strkSizeList,
ul.fontSizeList {
  position: absolute;
  top: 46.5px;
  left: 195px;
  float: left;
  padding: 0 0;
  margin: 0 0 0;
  list-style: none;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-right-width: 2px;
  border-bottom-width: 2px;
  -moz-border-radius: 5px;
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-background-clip: padding;
  color: #000;
}

#virtualclassCont.congrea #virtualclassAppLeftPanel .strkSizeList,
#virtualclassCont.congrea #virtualclassAppLeftPanel .fontSizeList {
  color: #fff;
}

#virtualclassCont.congrea #virtualclassAppLeftPanel .disActiveColor {
  background-color: #00f;
}

#virtualclassCont.congrea ul.strkSizeList li,
ul.fontSizeList span {
  text-align: left;
  display: block;
  padding: 5px 14px;
  clear: both;
  font-weight: normal;
  line-height: 18px;
  color: #333;
  white-space: nowrap;
  cursor: pointer;
}

#virtualclassCont.congrea .commandToolsWrapper .tool[data-tool="font"] a,
#virtualclassCont.congrea .commandToolsWrapper .tool[data-tool="stroke"] a {
  font-size: 17px;
  padding-top: 11px !important;
  padding-bottom: 13px !important;
}

#virtualclassCont.congrea ul.fontSizeList span:hover {
  background-color: #e6e6e6;
  color: #fff;
}

#virtualclassCont.congrea #virtualclassWhiteboard .commandToolsWrapper table.open,
#virtualclassCont.congrea #virtualclassDocumentShare #documentScreen #notesContainer table.open,
#virtualclassCont.congrea #virtualclassWhiteboard .commandToolsWrapper ul.open,
#virtualclassCont.congrea #virtualclassDocumentShare #documentScreen #notesContainer ul.open,
#virtualclassCont.congrea #virtualclassWhiteboard .commandToolsWrapper .show,
#virtualclassCont.congrea #virtualclassDocumentShare #documentScreen #notesContainer .show,
#virtualclassCont.congrea #virtualclassWhiteboard .commandToolsWrapper .shapesTool.open,
#virtualclassCont.congrea #virtualclassDocumentShare #documentScreen #notesContainer .shapesTool.open {
  display: block !important;
  z-index: inherit;
}

#virtualclassCont.congrea #virtualclassWhiteboard .commandToolsWrapper table.close,
#virtualclassCont.congrea #virtualclassDocumentShare #documentScreen #notesContainer table.close,
#virtualclassCont.congrea #virtualclassWhiteboard .commandToolsWrapper ul.close,
#virtualclassCont.congrea #virtualclassDocumentShare #documentScreen #notesContainer ul.close,
#virtualclassCont.congrea #virtualclassWhiteboard .commandToolsWrapper .hide,
#virtualclassCont.congrea #virtualclassDocumentShare #documentScreen #notesContainer .hide,
#virtualclassCont.congrea #virtualclassWhiteboard .commandToolsWrapper .strkSizeList,
#virtualclassCont.congrea #virtualclassDocumentShare #documentScreen #notesContainer .strkSizeList,
#virtualclassCont.congrea #virtualclassWhiteboard .commandToolsWrapper .fontSizeList,
#virtualclassCont.congrea #virtualclassDocumentShare #documentScreen #notesContainer .fontSizeList,
#virtualclassCont.congrea #virtualclassWhiteboard .commandToolsWrapper .shapesTool.close,
#virtualclassCont.congrea #virtualclassDocumentShare #documentScreen #notesContainer .shapesTool.close {
  display: none !important;
}

#virtualclassCont.congrea #virtualclassAppLeftPanel .containerWb .commandToolsWrapper .tool a[data-title="Font size"] {
  font-size: 17px;
}

#virtualclassCont.congrea.orginalTeacher #virtualclassAppContainer .virtualclass .commandToolsWrapper .tool[data-tool="stroke"] ul.strkSizeList {
  width: 85px;
  border: 1px solid lightgray;
  padding: 0;
  background-color: #fff;
}

#virtualclassCont.congrea #virtualclassAppContainer .virtualclass .commandToolsWrapper .tool ul li.selected {
  background-color: #000;
}

#virtualclassCont.congrea #virtualclassAppContainer .virtualclass .commandToolsWrapper .tool[data-tool="stroke"] ul.strkSizeList li {
  width: 57px;
  margin: 0 auto;
  padding-top: 12px;
  padding-bottom: 12px;
}

#virtualclassCont.congrea.orginalTeacher #virtualclassAppContainer .virtualclass .commandToolsWrapper .tool[data-tool="stroke"] ul.strkSizeList li span {
  background-color: #404040;
  pointer-events: none;
  display: block;
}

#virtualclassCont.congrea.orginalTeacher #virtualclassAppContainer .virtualclass .commandToolsWrapper .tool[data-tool=stroke] ul.strkSizeList li:hover span {
  background-color: #fff;
}

#virtualclassCont.congrea #virtualclassAppContainer .virtualclass .commandToolsWrapper .tool ul li.selected span {
  background-color: #fff !important;
}

#virtualclassCont.congrea.orginalTeacher #virtualclassAppContainer .virtualclass .commandToolsWrapper .tool[data-tool="stroke"] ul.strkSizeList li.selected:hover {
  background-color: #000;
}

#virtualclassCont.congrea.orginalTeacher #virtualclassAppContainer .virtualclass .commandToolsWrapper .tool[data-tool="stroke"] ul.strkSizeList li.selected:hover {
  background-color: #000;
}

/* #virtualclassCont.congrea.orginalTeacher #virtualclassAppContainer .virtualclass .commandToolsWrapper .tool[data-tool="stroke"] ul.strkSizeList li:hover span {
  background-color: #404040 !important;
} */

#virtualclassCont.congrea #virtualclassAppContainer .virtualclass .commandToolsWrapper .tool[data-tool="font"] ul.fontSizeList {
  background-color: #fff;
  border: 1px solid lightgray;
  width: 85px;
}

#virtualclassCont.congrea #virtualclassAppContainer .virtualclass .commandToolsWrapper .tool[data-tool="font"] ul.fontSizeList span {
  text-align: left;
  display: block;
  padding: 4px 15px;
  clear: both;
  font-weight: normal;
  line-height: 18px;
  color: #333;
  white-space: nowrap;
}

#virtualclassCont.congrea #virtualclassAppContainer .virtualclass .commandToolsWrapper .tool[data-tool="font"] ul.fontSizeList span.selected {
  background-color: #000;
  color: #fff !important;
}

#virtualclassCont.congrea #virtualclassAppContainer .virtualclass .commandToolsWrapper .tool[data-tool="font"] ul.fontSizeList span::after {
  content: "px";
  font-size: 15px;
}

#virtualclassCont.congrea #virtualclassAppContainer .virtualclass .commandToolsWrapper .tool[data-tool="font"] ul.fontSizeList span:hover {
  color: #fff;
}

#virtualclassCont.congrea .commandToolsWrapper .tool[data-tool="color"] a {
  padding: 0.1875rem 1.3125rem 1rem 1.3125rem !important;
}

/* CSS for Firefox only */
@-moz-document url-prefix() {
  #virtualclassCont.congrea .shapesToolbox .shapesTool {
    width: 212px;
  }

  #virtualclassCont.congrea .containerWb .commandToolsWrapper .shapesToolbox .shapes_icon a {
    border-left: none !important;
  }

  #virtualclassCont.congrea #virtualclassOptionsCont,
  .congtooltip {
    line-height: 1.1875rem;
  }

  .shapesToolbox .shapes_icon .icon-shapes.cgIcon {
    border-left: none !important;
  }
}
