<div class='dbContainer' data-app="{{app}}" id="videoDbCont">
  <div id="videoListContainer">
    <div id="listdocs" class="listPages pages"></div>
    <div id="newvideoBtnCont">
      <button id="newVideoBtn">Upload Videos</button>
    </div>
  </div>

  <div class="dashboardview">
    {{#if hasControls}}
      <div id="listvideos" class="listVideos videos"></div>
    {{/if}}
    <div id="videouploadContainer">  </div>
  </div>
</div>