
<div id ="videoPopup" data-app="Video" class="dbContainer">

<div id ="uploadMsz" class="qq-gallery" style="display:none">

</div>

<div id ="congreavideoContBody">

</div>
  <div id ="listvideo">

  </div>
<div id = "congreaShareVideoUrlCont">
  <div id ="uploadBtnCont">
    <button  type="button" id="uploadVideo"class="btn btn-default" >{{getString 'uploadvideo'}}</button>
  </div>
  <div id="videoUrlContainer">
    <input id="videourl" placeholder="Share video with Online Video Url">
    <button  type="button" id="submitURL"class="btn btn-default" ><i class="icon-savevideo cgIcon"></i></button>
  </div>

</div>
</div>