<div id ="listvideo">

</div>
<div id ="uploadMsz" class="qq-gallery">

</div>

<div id ="congreavideoContBody">

</div>
<div id = "congreaShareVideoUrlCont" class="row">

  <div id="videoUrlContainer">
    <input id="videourl" placeholder="Share video with Online Video Url">
    <button  type="button" id="submitURL"class="btn btn-default" >online video</button>
  </div>

</div>