
<div id ="videoPopup" data-app="Video" class="dbContainer">

<div id ="uploadMsz" class="qq-gallery">

</div>

<div id ="congreavideoContBody">

</div>
  <div id ="listvideo">

  </div>
<div id = "congreaShareVideoUrlCont">
  <div id ="uploadBtnCont" class="col-md-3">
    <button  type="button" id="uploadVideo"class="btn btn-default" >upload video</button>
  </div>
  <div id="videoUrlContainer" class="col-md-8">
    <input id="videourl" placeholder="Share video with Online Video Url">
    <button  type="button" id="submitURL"class="btn btn-default" >online video</button>
  </div>

</div>
</div>