<div id ="videoPopup" data-app="Video" class="dbContainer">
  <div id ="uploadMsz" class="qq-gallery" style="display:none">
</div>
  <div id ="congreavideoContBody">

  </div>
  <div id ="listvideo">

  </div>
<div id = "congreaShareVideoUrlCont">
  <div id ="uploadBtnCont">
    <button  type="button" id="uploadVideo" class="btn btn-default" >
      <span class=" glyphicon glyphicon-upload videoupload-icon" title ="{{getString 'uploadvideo'}}"></span>
      <span class="videobtntxt">{{getString 'uploadvideo'}}</span></button>
  </div>
  <div id="videoUrlContainer">
    <input id="videourl" placeholder="{{getString "enteryouryoutubeurl"}}">
    <button  type="button" id="submitURL"class="btn btn-default" ><i class="icon-savevideo cgIcon">Save</i></button>
  </div>

</div>
</div>