<div id="virtualclassVideo" class="bootstrap virtualclass" style="display: block;">
  {{#if control}}
    <div id="videoPopupCont">
    </div>
    <div id="videoList">
      <div id="newVideoBtnCont">
        <button id="newVideoBtn">upload/share video</button>
      </div>
      <div id="listvideo" class="videos"></div>
    </div>
  {{else}}
  {{/if}}
  <div id="videoPlayerCont">
  </div>
</div>