<div id="virtualclassVideo" class="bootstrap virtualclass" style="display: block;">
  {{#if control}}
    {{else}}
    <p id="messageLayoutVideo">{{getString 'Vwllbshrshortly'}}</p>
  {{/if}}
  <div id="videoPlayerCont">
  </div>
</div>