<div id="virtualclassVideo" class="bootstrap virtualclass" style="display: block;">
  {{#if control}}
    <div id="videoPopupCont">
    </div>
    {{else}}
    <p id="messageLayoutVideo">Video will be shared shortly</p>
  {{/if}}
  <div id ="player"></div>
  <div id="videoPlayerCont">
  </div>
</div>