<div id="chatWidget" style="height: 403px;">
  <div id="stickycontainer">
    <div class="chatBarTab">
      <div class="vmchat_room_bt tooltip" data-title="Common Chat" id="chatroom_bt2">
        <div class="inner_bt">
          <div id="chatroom_icon">
            <span class="icon-chatroom"></span>
          </div>
          <div id="chatroom_text">Chatroom</div>
        </div>
      </div>
      <div class="vmchat_bar_button tooltip active" id="user_list" data-title="Pivate Chat">
        <div class="inner_bt">
          <div id="usertab_text">
            <span id="onlineusertext">Users(1/8)</span>
          </div>
        </div>
      </div>
      <div class="vmchat_support notavailable tooltip" id="congreaSupport" data-title="Tech Support">
        <div class="support_bt">
          <div id="supporttab_icon"></div>
          <div id="supporttab_text">support</div>
        </div>
      </div>
    </div>
    <div id="stickybar" class="maximize" style="z-index: 2000;">
      <div id="tabs" class="tabs-bottom ui-tabs ui-widget ui-widget-content ui-corner-all">
        <ul class="tabs ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all"
            role="tablist"></ul>
      </div>
      <div class="footerCtr" id="congFooterCtr">
        <div class="uiMuteAll">
          <a id="contrAudioAll">
            <span id="contrAudioAllImg" data-action="disable" class="icon-all-audio-disable tooltip"
                  data-title="Mute All"></span>
          </a>
        </div>
        <div class="prechk" id="precheckTest"><span class="precheck tooltip" id="precheckSetting">precheck</span>
        </div>
        <div class="videoSwitchCont" id="congCtrBar">
          <div id="rightCtlr">
            <span id="videoSwitch" class="video on"></span>
          </div>
        </div>
        <div class="vmchat_search" id="congUserSearch"><input type="text" id="congreaUserSearch" class="search"
                                                              placeholder="search user ..."></div>
      </div>
    </div>
  </div>
  <div id="congreaChatCont">
    <div class="ui-widget ui-corner-top ui-memblist" id="memlist" style="display: block; right: -1px;">
      <div class="ui-widget-content ui-memblist-content">
        <div id="chat_div" class="ui-widget-content ui-memblist-log"
             style="height: 363px; width: 320px; max-height: 403px;">
          <div class="userImg ui-memblist-usr mySelf teacher online" id="ml2" data-role="t"><a href="#2" class="tooltip"
                                                                                               data-title="Click to chat"><img
            src="https://local.vidya.io/moodle32/pluginfile.php/5/user/icon/f2"></a>
            <div class="user-details">
              <div class="usern"><span>Admin User</span></div>
            </div>
          </div>
          <div class="userImg ui-memblist-usr offline student" id="ml8" data-role="undefined">
            <a href="#8"
               class="tooltip"
               data-title="Click to chat"><img
              src="https://local.vidya.io/moodle32/pluginfile.php/55/user/icon/f2"></a>
            <div class="user-details">
              <div class="usern"><span>student6 user6 </span></div>
              <div id="8ControlContainer" class="controls">
                <div id="8contrAssignCont" class="controleCont"><a id="8contrAssignAnch" class="tooltip"
                                                                   data-title="Transfer Controls"><span
                  id="8contrAssignImg" data-assign-disable="false" class="icon-assignImg enable assignImg"></span></a>
                </div>
                <div id="8contrAudCont" class="controleCont"><a id="8contrAudAnch"             class="tooltip"
                                                                data-title="Mute"><span id="8contrAudImg"
                                                                                        data-audio-disable="false"
                                                                                        class="icon-audioImg enable audioImg"></span></a>
                </div>
                <div id="8contrChatCont" class="controleCont"><a id="8contrChatAnch" class="tooltip"
                                                                 data-title="Disable Chat"><span id="8contrChatImg"
                                                                                                 data-chat-disable="false"
                                                                                                 class="icon-chatImg enable chatImg"></span></a>
                </div>
                <div id="8contreditorRichCont" class="controleCont controllereditorRich" style="display: none;"><a
                  id="8contreditorRichAnch" class="tooltip" data-title="Write Mode"><span id="8contreditorRichImg"
                                                                                          data-editorrich-disable="true"
                                                                                          class="icon-editorRichImg block editorRichImg"></span></a>
                </div>
                <div id="8contreditorCodeCont" class="controleCont controllereditorCode" style="display: none;"><a
                  id="8contreditorCodeAnch" class="tooltip" data-title="Write Mode"><span id="8contreditorCodeImg"
                                                                                          data-editorcode-disable="true" class="icon-editorCodeImg block editorCodeImg"></span></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>