<div class="ui-widget ui-corner-top ui-memblist" id="memlist" style="display: block; right: -1px; z-index: 0;">
  <div class="ui-widget-content ui-memblist-content" id="yui_3_17_2_1_1496901386584_68">
  </div>
</div>
<div class="ui-widget ui-corner-top ui-chatroom enable" id="chatrm"
     style="width: 304px; left: 6px; display: none; z-index: 1;">
  <div class="ui-widget-content ui-chatbox-content" id="yui_3_17_2_1_1496901386584_77">
    <ul id="chat_room" class="ui-widget-content ui-chatbox-log"></ul>
  </div>
</div>