<div class="chatBarTab">
  <div class="vmchat_room_bt tooltip" data-title="Common Chat" id="chatroom_bt2">
    <div class="inner_bt">
      <div id="chatroom_icon"><span class="icon-chatroom"></span></div>
      <div id="chatroom_text">Chatroom</div>
    </div>
  </div>
  <div class="vmchat_bar_button tooltip active" id="user_list" data-title="Pivate Chat">
    <div class="inner_bt" id="yui_3_17_2_1_1496985300499_68">
      <div id="usertab_text"><span id="onlineusertext">Private Chat</span></div>
    </div>
  </div>
  <div class="vmchat_support notavailable tooltip" id="congreaSupport" data-title="Tech Support">
    <div class="support_bt">
      <div id="supporttab_icon"></div>
      <div id="supporttab_text">Support</div>
    </div>
  </div>
</div>
<div id="stickybar" class="maximize" style="z-index: 2000;">
  <div id="tabs" class="tabs-bottom ui-tabs ui-widget ui-widget-content ui-corner-all">
    <ul class="tabs ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all"
        role="tablist"></ul>
  </div>
  <div class="footerCtr" id="congFooterCtr">
    {{#if control}}
      <div class="uiMuteAll">
        <a id="contrAudioAll">
          <span id="contrAudioAllImg" data-action="disable"
                class="icon-all-audio-disable tooltip"
                data-title="Mute All">

          </span>
        </a>
      </div>
    {{/if}}
    <div class="prechk" id="precheckTest">
      <span class="precheck tooltip" id="precheckSetting">precheck</span>
    </div>
    <div class="videoSwitchCont" id="congCtrBar">
      <div id="rightCtlr">
        <span id="videoSwitch" class="video on"></span>
      </div>
    </div>
    <div class="vmchat_search" id="congUserSearch">
      <input type="text" id="congreaUserSearch" class="search"
             placeholder="search user ...">
    </div>
  </div>
</div>
