<ul class="chatBarTab nav navbar-nav">
  <li class="vmchat_room_bt congtooltip" data-title="Common Chat" id="chatroom_bt2">
    <a class="inner_bt">
      <span id="chatroom_icon"><span class="icon-chatroom cgIcon"></span></span>
      <span id="chatroom_text" class="cgText">{{getString 'Chatroom'}}</span>
    </a>
  </li>
  <li class="vmchat_bar_button congtooltip active" id="user_list" data-title="Private Chat">
    <a class="inner_bt" id="yui_3_17_2_1_1496985300499_68">
      <span id="usertab_text"><span id="onlineusertext" class="cgText">{{getString 'Pchat'}}</span></span>
    </a>
  </li>
  {{#if control}}
    <li class="uiMuteAll congtooltip">
      <a id="contrAudioAll">
          <span class="cgIcon"id="contrAudioAllImg" data-action="disable"
                class="icon-all-audio-disable cgIcon"
                data-title="Mute All">
          </span>
      </a>
    </li>
  {{/if}}
</ul>
<div id="stickybar" class="maximize" style="z-index: 2000;">
  <div id="tabs" class="tabs-bottom ui-tabs ui-widget ui-widget-content ui-corner-all">
    <ul class="tabs ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all"
        role="tablist"></ul>
  </div>
  <div class="footerCtr" id="congFooterCtr">
    <div class="vmchat_search" id="congUserSearch">
      <input type="text" id="congreaUserSearch" class="search"
             placeholder="Search user">
    </div>
  </div>
</div>