<div class="bookmarks active" data-context='{{context}}'  data-component="bookmark" data-value="0">
  <span class="congtooltip icon-bookmark cgIcon" data-event="save" data-title="{{getString 'addContext'}}"></span>
</div>
