<div id= 'writeContent'>
  <textarea id="userInteractivity-content" class = 'text'>{{getString type}}</textarea>
  <div class="action" data-component="{{component}}" data-component-id="{{componentId}}" data-parent="{{parent}}">
     <span class="cancel" data-event="cancel"></span>
     <span class="save" data-event="save"></span>
  </div>
</div>
