<div id='noteContainer'>
  <div class="contentContainer">
    <div class="container note">

    </div>
    <div id="noteNavigation">Note navigation</div>
  </div>
  <div class="loading active">Loading</div>
</div>
