<div id='noteContainer'>
  <div class="contentContainer">
    <div class="container note children">

    </div>
    <div id="noteNavigationContainer" class="children">
      <div class="clearAll" data-component="note"><span class="event" data-event="clearall"> Clear All </span></div>
      <div id="noteNavigation" class="navigation">
        <div class="previous" data-component="note"> <span class="event" data-event="previous"> Previous </span> </div>
        <div class="notenumber"> <span class="current">1 / </span> <span class="total"> 1</span></div>
        <div class="next" data-component="note"> <span class="event" data-event="next"> Next </span> </div>
      </div>
    </div>
  </div>
  <div class="loading active">Loading</div>
</div>
