<div id="appSettingDetail">

  <div class="bulkUserActions"> 
  <label class="bulk">Bulk User Actions</label>
    <ul class="list-group">
      <li class="list-group-item d-flex justify-content-between align-items-center"><span id="usersMuteSwitch"></span>
        <span>Mute all Audio</span>
        <label class="switch">
          <input type="checkbox">
          <span class="slider round"  ></span>
        </label>

      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
          <span id="usersVideoSwitch"></span>
        <span>Disable all Videos</span>
        <label class="switch">
          <input type="checkbox">
          <span class="slider round"></span>
        </label>
      </li>
   </ul>
    </div> 
    

 <div id="settingGeneral">
      <label>General</label>
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center"><span id="validate-precheck"></span>
            Validate App Prerequites
            <span class="pre-check-btn"><div id="settingPrecheck">
              <div class="prechk" data-title="Precheck" id="precheckTest">
                <span class="precheck cgIcon"  id="precheckSetting" >Start</span>
              </div>
        </div></span>
            </li>
        </ul>
    
  </div>  
    
  <div id="settingAudioVideo" style="display:none;">
    {{#if hasControl}}
      <div class="uiMuteAll">
        <a id="contrAudioAll">
            <span class="cgIcon"id="contrAudioAllImg" data-action="disable"
                  class="icon-all-audio-disable cgIcon"
                  data-title="Mute All">
            </span>
        </a>
      </div>
    {{/if}}
  </div>

  
   <div id="settingMedia">
    <div id="webRtcIo" class="io" data-suggestion="" >
<!--
      <a id="ancIo">
        <span id="wbRcio" class="rtc  congtooltip"  data-title="webrtc io" >settingMedia </span>
      </a>
-->
    </div>
  </div>
  
</div>
