<div id="appSettingDetail">
  App setting details here
  <div id="settingMedia">
    {{#if hasControl}}
      <div class="uiMuteAll">
        <a id="contrAudioAll">
            <span class="cgIcon"id="contrAudioAllImg" data-action="disable"
                  class="icon-all-audio-disable cgIcon"
                  data-title="Mute All">
            </span>
        </a>
      </div>
    {{/if}}
  </div>
  <div id="settingGeneral">
    <div id="settingPrecheck">
      <div class="prechk congtooltip" data-title="Precheck" id="precheckTest">
        <a><span class="precheck cgIcon"  id="precheckSetting" ></span></a>
      </div>
    </div>
  </div>
</div>
