
<div id="webRtcIoContainer" class ="rtcIo" >
    <div class="setting-heading">
        <label>Media</label>
    </div>
    <ul class="list-group"> 
<!--
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Audio Input
    <div class="audio-options select">
      <select class="ui search dropdown" id="audioSource">
      </select>
    </div>
  </li>
-->
        
 <li class="lists-cont d-flex justify-content-between align-items-center ainput">
    Audio Input
      <div class="audio-options" >
          <select id="audioSource">
          </select>     
     </div>  
  </li>
  <li class="lists-cont d-flex justify-content-between align-items-center aoutput">
    Audio Output
      <div class="audio-options" >
          <select id="audioOutput">
          </select>     
     </div>  
  </li>
  <li class="lists-cont clearfix justify-content-between align-items-center vinput">
    Video Input
      <div class="audio-options" >
          <select id="videoSource">
          </select>     
     </div>  
      <video id="video" playsinline autoplay></video>
  </li>
</ul>
  <!--<div class="highlight">-->
    <!--<p>New codelab: <a href="https://codelabs.developers.google.com/codelabs/webrtc-web">Realtime communication with WebRTC</a></p>-->
  <!--</div>-->

  <!--<h1><a href="//webrtc.github.io/samples/" title="WebRTC samples homepage">WebRTC samples</a><span>Select sources &amp; outputs</span></h1>-->

  <!--<p>Get available audio, video sources and audio output devices from <code>-->
    <!--mediaDevices.enumerateDevices()</code> then set the source for <code>getUserMedia()</code> using a <code>deviceId</code> constraint.</p>-->



  

  <!--<p class="small"><b>Note:</b> If you hear a reverb sound your microphone is picking up the output of your speakers/headset, lower the volume and/or move the microphone further away from your speakers/headset.</p>-->
</div>


