<div id="appSettingDetail">
    
  <label class="bulk">Bulk User Action</label>
    <ul class="list-group">
  <li class="list-group-item d-flex justify-content-between align-items-center"><span id="usersMuteSwitch"></span>
    Mute all Audio
    <label class="switch">
      <input type="checkbox">
      <span class="slider round"  ></span>
    </label>
    
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
      <span id="usersVideoSwitch"></span>
    Disable all Videos
    <label class="switch">
      <input type="checkbox">
      <span class="slider round"></span>
    </label>
  </li>
</ul>
    
    <label>General</label>
    <ul class="list-group">
  <li class="list-group-item d-flex justify-content-between align-items-center"><span id="validate-precheck"></span>
    Validate App Prerequites
    <span class="pre-check-btn">start</span>
  </li>
  
</ul>
    <label>Media</label>
    <ul class="list-group">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Audio
    <div class="audio-options">
  <select class="ui search dropdown">
  <option value="">Options</option>
  <option value="AL">1</option>
  <option value="AK">2</option>
  <option value="AZ">3</option>
  <option value="AR">4</option>
</select>

</div>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Video
      <div class="audio-options">
      <select class="ui search dropdown">
          <option value="">Options</option>
          <option value="AL">Left</option>
          <option value="AK">Right</option>
          <option value="AZ">Top</option>
          <option value="AZ">Bottom</option>
      </select>
      </div> 
<!--      {{> ('getVideoType') }}-->

  </li>
</ul>
   
    
  <div id="settingMedia">
    {{#if hasControl}}
      <div class="uiMuteAll">
        <a id="contrAudioAll">
            <span class="cgIcon"id="contrAudioAllImg" data-action="disable"
                  class="icon-all-audio-disable cgIcon"
                  data-title="Mute All">
            </span>
        </a>
      </div>
    {{/if}}
  </div>
  <div id="settingGeneral">
    <div id="settingPrecheck">
      <div class="prechk congtooltip" data-title="Precheck" id="precheckTest">
        <a><span class="precheck cgIcon"  id="precheckSetting" ></span></a>
      </div>
    </div>
  </div>
</div>
