<div id="appSettingDetail">
  App setting details here
  <div id="settingAudioVideo">
    {{#if hasControl}}
      <div class="uiMuteAll">
        <a id="contrAudioAll">
            <span class="cgIcon"id="contrAudioAllImg" data-action="disable"
                  class="icon-all-audio-disable cgIcon"
                  data-title="Mute All">
            </span>
        </a>
      </div>
    {{/if}}
  </div>
  <div id="settingGeneral">
    <div id="settingPrecheck">
      <div class="prechk congtooltip" data-title="Precheck" id="precheckTest">
        <a><span class="precheck cgIcon"  id="precheckSetting" ></span></a>
      </div>
    </div>
  </div>
   <div id="settingMedia">
    <div id="webRtcIo" class="io" data-suggestion="" >
      <a id="ancIo">
        <span id="wbRcio" class="rtc  congtooltip"  data-title="webrtc io">settingMedia </span>
      </a>
    </div>
  </div>
  
</div>
