<div id="virtualclassOptionsCont" style="z-index: 100;">
  <div class="appOptions" id="virtualclassVideoTool">
    <a class="congtooltip" data-title="Share Video" href="#"><span class="icon-videoUpload cgIcon"></span></a>
  </div>

  <div class="appOptions" id="virtualclassPollTool">
    <a class="congtooltip" data-title="Poll" href="#"><span class="icon-poll cgIcon"></span></a>
  </div>

  <div class="appOptions" id="virtualclassQuizTool">
    <a class="congtooltip" data-title="Quiz" href="#"><span class="icon-quiz cgIcon"></span></a>
  </div>

  <div class="appOptions active" id="virtualclassEditorRichTool">
    <a class="congtooltip" data-title="Text Editor" href="#"><span class="icon-editorRich cgIcon"></span></a>
  </div>
  <div class="appOptions" id="virtualclassWhiteboardTool">
    <a class="congtooltip" data-doc="_doc0_0" data-title="Whiteboard" href="#"><span class="icon-whiteboard cgIcon"></span></a>
  </div>

  <div class="appOptions" id="virtualclassScreenShareTool">
    <a class="congtooltip" data-title="Screen Share" href="#"><span class="icon-screenshare cgIcon"></span></a>
  </div>

  <div class="appOptions" id="virtualclassEditorCodeTool">
    <a class="congtooltip" data-title="Code Editor" href="#"><span class="icon-editorCode cgIcon"></span></a>
  </div>

  <div class="appOptions" id="virtualclassSharePresentationTool">
    <a class="congtooltip" data-title="Share Presentation" href="#"><span class="icon-sharePresentation cgIcon"></span></a>
  </div>

  <div class="appOptions" id="virtualclassDocumentShareTool">
    <a class="congtooltip" data-title="Document Sharing" href="#"><span class="icon-documentShare cgIcon"></span></a>
  </div>

  <div class="appOptions" id="virtualclassSessionEndTool">
    <a class="congtooltip" data-title="Session End" href="#"><span class="icon-sessionend cgIcon"></span></a>
  </div>
</div>