<div id="virtualclassOptionsCont" style="z-index: 100;">
  <div class="appOptions" id="virtualclassVideoTool">
    <a class="congtooltip" data-title="Share Video" href="#"><span class="icon-videoUpload"></span></a>
  </div>

  <div class="appOptions" id="virtualclassPollTool">
    <a class="congtooltip" data-title="Poll" href="#"><span class="icon-poll"></span></a>
  </div>

  <div class="appOptions" id="virtualclassQuizTool">
    <a class="congtooltip" data-title="Quiz" href="#"><span class="icon-quiz"></span></a>
  </div>

  <div class="appOptions active" id="virtualclassEditorRichTool">
    <a class="congtooltip" data-title="Text Editor" href="#"><span class="icon-editorRich"></span></a>
  </div>

  <div class="appOptions" id="virtualclassWhiteboardTool">
    <a class="congtooltip" data-doc="_doc0_0" data-title="Whiteboard" href="#"><span class="icon-whiteboard"></span></a>
  </div>

  <div class="appOptions" id="virtualclassScreenShareTool">
    <a class="congtooltip" data-title="Screen Share" href="#"><span class="icon-screenshare"></span></a>
  </div>

  <div class="appOptions" id="virtualclassEditorCodeTool">
    <a class="congtooltip" data-title="Code Editor" href="#"><span class="icon-editorCode"></span></a>
  </div>

  <div class="appOptions" id="virtualclassSharePresentationTool">
    <a class="congtooltip" data-title="share presentation" href="#"><span class="icon-sharePresentation"></span></a>
  </div>

  <div class="appOptions" id="virtualclassDocumentShareTool">
    <a class="congtooltip" data-title="Document Sharing" href="#"><span class="icon-documentShare"></span></a>
  </div>

  <div class="appOptions" id="virtualclassMultiVideoTool">
      <a class="congtooltip" data-title="Video Confrence" href="#"><span class="icon-videoConfrence"></span></a>
  </div>


  <div class="appOptions" id="virtualclassSessionEndTool" data-meeting="{{bogati}}">
    <a class="congtooltip" data-title="{{bogati}}" href="#"><span class="icon-sessionend"></span></a>
  </div>
</div>
