<div id="{{id}}" class="markContainer context" style="left:{{width}}%">
  <span class="context"> </span>
  <span class="question"> </span>
  <span class="mark"> </span>
  <span class="note"> </span>
</div>
