<div id="congdashboard" class="modal in"  role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content dashboardContainer">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body" >

      </div>
    </div>
  </div>
</div>