<div id="dashboardnav" class="navigation congtooltip" data-title="{{app}}">
  <button type="button" class="btn btn-primary" data-currapp="{{app}}"><i class="dashboard-icon cgIcon"></i></button>
</div>