<div id="congdashboard" class="modal in"  role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content dashboardContainer">
      <div class="modal-header">
        <button type="submit" class="close btn btn-default">{{getString "Finish"}}</button>
        <h4 class="modal-title cgText"></h4>
      </div>
      <div class="modal-body" >

      </div>
    </div>
  </div>
</div>