{{!-- cn == currNote, cd == currDoc--}}
<div id="screen-docs" data-doc="{{cd}}" class="screen page_wrapper current">
  {{debug}}
  <div class="pageContainer" style="width: 730px; height: 810px;">
    {{> docNotesMain }}
    <span class="nvgt prev" id="docsprev"></span>
    <span class="nvgt next" id="docsnext"></span>
  </div>
  {{#if hasControls}}
    <div id="listnotes" class="listPages pages"></div>
  {{/if}}
</div>

