<div id="joinClass"  class="bootstrap">
    <div class="container  ">
      <!-- Modal -->
      <div class="modal fade" id="joinClassModal" role="dialog">
        <div class="modal-dialog modal-lg">
           <div class="modal-content">
             <div class="modal-body">
                <div class="joinClasscontainer">
                  <button>Join class room </button>
                </div>
             </div>
           </div>
        </div>
      </div>
    </div>
</div>