<div id="joinClass"  class="bootstrap">
    <div class="container  ">
      <!-- Modal -->
      <div class="modal fade" id="joinClassModal" role="dialog">
        <div class="modal-dialog modal-lg">
           <div class="modal-content">
             <div class="modal-body">
                <div class="joinClasscontainer text-center">
                  <div class="textCont">Click here to continue</div>
                  <button type="button" class="btn btn-default">Continue</button>
                </div>
             </div>
           </div>
        </div>
      </div>
    </div>
</div>