<div id="virtualclassAppLeftPanel" class="leftbar" data-surname="{{meetingMode}}">
  {{#if isPlay}}
    {{> recordingControl}}
  {{/if}}
  {{#if hasControls}}
    {{#if meetingMode}}
      {{> appToolsMeeting }}
    {{else}}
      {{> appTools }}
    {{/if}}

  {{/if}}
  <div id="virtualclassWhiteboard" class="virtualclass "></div>
</div>