<div id="virtualclassAppLeftPanel" class="leftbar">
  {{#if isPlay}}
    {{> recordingControl}}
  {{/if}}
  {{#if hasControl}}
    {{> appTools}}
  {{/if}}
  <div id="virtualclassWhiteboard" class="virtualclass"></div>
</div>