{{> precheck}}
{{> joinclass}}
{{> mobileLandscapeWarn}}
<div id="virtualclassApp" class="openRightbar" style="display: flex;" class="try-to-connect">

  {{> leftBar}}
  {{> rightBar }}
  {{> footerBar}}
  {{> popupCont}}
</div>
