<div class="mobileLandscapeWarn">
    <div class="warningWrapper">
        <span class="icon-mobileRotate"></span>
        <p class="warning-message">Please turn your device orientation</p>
        <div id="installContainer" class="">
            <button id="butInstall" type="button">
                Install
            </button>
         </div>
    </div>
</div>