<div class="mobileLandscapeWarn">
    <div class="warningWrapper">
        <span class="icon-mobileRotate"></span>
        <p class="warning-message">Please turn your device orientation to use the app</p>
    </div>
    <div id="installContainer" class="">
        <p class="">Get your app. It won't take up space on your phone</p>
        <button id="butInstall" type="button">
            Install
        </button>
    </div>
</div>