<div id="virtualclassMultiVideo" class="virtualclass container" data-screen="1" style="display:none">
  <div id="videoMainPreview">
    <!-- <canvas id="multiVidSelected" width="900" height="700"></canvas> -->
    <video id="multiVidSelected" muted="muted" > </video>
  </div>
</div>
