<div id="videoPacketInfo">
      <ul class="nav navbar-nav" id="videoSpeed">
      <li id="videLatency" class="latency  congtooltip btn btn-default" data-latency="{{latency}}" data-title="{{getString 'audiolatency'}}">  </li>
      <li id="videoFrameRate" class="quality  congtooltip btn btn-default" data-quality="{{quality}}" data-title="{{getString 'videoquality'}}"> </li>
      </ul>
</div>