{{#if ten}}
<div id="recording" class="show statusonly congtooltip" data-title="Recording Stopped" data-recording="off">
  <div class="status">
    <span class="showStatus"></span>
    <span class="recordingText">Rec</span>
  </div>
</div>

{{else if eleven}}
<div id="recording" class="show congtooltip" data-title="Recording Stopped" data-recording="off">
  <div class="status">
    <span class="showStatus"></span>
    <span class="recordingText">Rec</span>
  </div>
</div>

{{else if twenty}}
  <div id="recording" class="show statusonly congtooltip" data-title="Recording Started" data-recording="on">
    <div class="status">
      <span class="showStatus"></span>
      <span class="recordingText">Rec</span>
    </div>
  </div>

{{else if twentyone}}
  <div id="recording" class="show congtooltip" data-title="Recording Started" data-recording="on">
    <div class="status">
      <span class="showStatus"></span>
      <span class="recordingText">Rec</span>
    </div>
  </div>
{{/if}}
