<div class="playControllerMainCont">
    <div id="playControllerCont">
      <div id="playController">
        <div id="playProgress">
          <div id="playProgressBar" class="progressBar" style="width: 0%;"> 
            <div id="allMarksinformation"> </div>
            <div id="playCircle" class="circle"></div> </div>
          <div id="downloadProgress">
            <div id="downloadProgressBar" class="progressBar"></div>
            <div id="downloadProgressValue" class="progressValue"> </div>
          </div>

          <div id="timeInHover">0</div>
        </div>
        <div id="recPauseCont" class="recButton recordingPlay"> <button id="recPause" class="icon-pause congtooltip" data-title="{{getString "Pause"}}"></button></div>
        <div id="repTimeCont"> <span id="tillRepTime">00:00:00</span> / <span id="totalRepTime">00:00:00</span> </div>
      </div>
    </div>

</div>
