<div id="virtualclassAppRightPanel" class="rightbar bootstrap chat_enabled showUserList">
  {{> ('getVideoType') }}
  {{> rightBarHeader}}
  {{!-- {{> ('getVideoType') }} --}}
  {{!-- Chat widget --}}

  <div id="rightSubContainer">
      <div id="chatWidget" class="rightContainer">
          <div id="congreaChatMainCont">
            <div id="appSettingCtrl" class="congtooltip chatActive" data-title ="{{getString 'setting'}}">
              <a id="appSettingCtrlAnchor">
                <span class="setting-btn cgIcon"></span>
              </a>
            </div>
            {{> appSettingDetail}}
            <div id="congreaChatCont"> </div>

            <div class="footerCtr" id="congFooterCtr">
              <div class="vmchat_search" id="congchatBarInput">
                <input type="text" id="congreaUserSearch" class="search"
                       placeholder= "{{getString "Searchuser"}}">
              </div>
            </div>
        </div>
      </div>
  </div>
</div>
