<div id="virtualclassAppRightPanel" class="rightbar bootstrap">
    {{> ('getVideoType') }}
  {{!-- Audio widget --}}
  {{> audioWidget}}
  
  {{!-- Chat widget --}}
  <div id="chatWidget">
      <div id="congreaChatCont"></div>
    <div id="stickycontainer"></div>
    
  </div>
</div>