<div id= "rightBarHeader" class="active">
  <div id="userListHeader" class= "active">{{getString "userListHeader"}}<span id='onlineusertext' class='cgText'></span></div>
  <div id="commonChatHeader" class= "deactive">{{getString "commonChatHeader"}}</div>
  {{#if std}}
    <div id="techVideoHeader" class= "deactive">{{getString "teacherVideoHeader"}}</div>
  {{/if}}
  <div id="askQuestionHeader" class= "deactive">
    <div class="header">
      <span class="lable">{{getString 'askQuestionHeader'}}</span>
      <span class="addQuestion-icon"></span>
      <span class="help-icon"></span>
      <span class="fullScreen-icon"></span>
    </div>
  </div>
</div>
