<div id="virtualclassAppRightPanel" class="rightbar">
  {{!-- Audio widget --}}
  {{> audioWidget}}
  {{> teacherVideo}}
  {{!-- Chat widget --}}
  <div id="chatWidget">
    <div id="stickycontainer"></div>
    <div id="congreaChatCont"></div>
  </div>
</div>