<div id="virtualclassAppRightPanel" class="rightbar bootstrap chat_enabled " dataset="userListHeader" data-currwindow="userListHeader">
  {{> ('getVideoType') }}
  {{> rightBarHeader}}
  {{!-- {{> ('getVideoType') }} --}}
  {{!-- Chat widget --}}

  <div id="rightSubContainer">
    {{> appSettingDetail}}
      <div id="chatWidget" class="rightContainer active">
          <div id="congreaChatMainCont">
            <div id="congreaChatCont"> </div>
            <div class="footerCtr" id="congFooterCtr">
              <div class="vmchat_search" id="congchatBarInput">
                <input type="text" id="congreaUserSearch" class="search"
                       placeholder= "{{getString "Searchuser"}}">
              </div>
            </div>
        </div>
      </div>
  </div>
</div>
