<div id="virtualclassAppRightPanel" class="rightbar bootstrap chat_enabled">
    {{> ('getVideoType') }}
  {{!-- Audio widget --}}
  {{> audioWidget}}

  {{!-- Chat widget --}}

  <div id="rightSubContainer" class="">
      {{> appSettingDetail}}
      <div id="chatWidget">
          <div id="congreaChatMainCont">
            <div id="congreaChatCont"> </div>

            <div class="footerCtr" id="congFooterCtr">
              <div class="vmchat_search" id="congchatBarInput">
                <input type="text" id="congreaUserSearch" class="search"
                       placeholder= "{{getString "Searchuser"}}">
              </div>
            </div>
        </div>
      <div id="stickycontainer">

       </div>
  </div>
</div>
</div>
