<div id="virtualclassAppRightPanel" class="rightbar bootstrap">
  {{!-- Audio widget --}}
  {{> audioWidget}}
  {{> ('getVideoType') }}
  {{!-- Chat widget --}}
  <div id="chatWidget">
    <div id="stickycontainer"></div>
    <div id="congreaChatCont"></div>
  </div>
</div>