<div id="virtualclassScreenShare" class="virtualclass ">
  {{#if control}}

    {{#if recImg}}
      <div id="virtualclassScreenShareLocalTemp">
        <canvas id="virtualclassScreenShareLocalTempVideo" width="1440" height="738"></canvas>
      </div>
    {{else}}
      <div id="virtualclassScreenShareLocal" class="Local " style="position: relative;">
        <video id="virtualclassScreenShareLocalVideo" autoplay="true" src=" "></video>
      </div>

    <div id="virtualclassScreenShareLocalSmall" class="Local ">
      <video id="virtualclassScreenShareLocalVideosmall" autoplay="true" src=" "></video>

      <h3 id="screenShrMsg" class="alert alert-info">{{getString 'screensharemsg'}}</h3>
    </div>
    {{/if}}

  {{else}}
    <div id="virtualclassScreenShareLocal" class="Local">
      <canvas id="virtualclassScreenShareLocalVideo"></canvas>
    </div>
    {{#if scrctrl}}
      <div id="screenController">
        <div class="share selfView congtooltip" data-title="{{getString 'sharetoall'}}">
          <button type="button"></button>
        </div>
      </div>
      {{/if}}
  {{/if}}

  {{#if control}}
    {{#unless recImg}}
      <div id="virtualclassScreenShareLocalTemp">
        <canvas id="virtualclassScreenShareLocalTempVideo" width="900" height="740"></canvas>
      </div>
    {{/unless}}
  {{/if}}
</div>
