<div id="videoHostContainer">
  {{#if hasControl}}
    <video id="videoHostSource" class="" autoplay="" muted="muted"></video>
    <canvas id="videoHost"></canvas>
    <canvas id="videoHostSlice"></canvas>
  {{else}}
    <div id="fromServer">
      <canvas id="videoParticipate" > </canvas>
    </div>
  {{/if}}
  <div class="videoInterrupt"> Teacher video is interrupted</div>
</div>

