<div id="virtualclassWhiteboard" class="virtualclass" style="display: none;">

  <div id="vcanvas" class="socketon">
      <div id="containerWb">

    </div>

    <div id="mainContainer">
      <div id="packetContainer">

      </div>

      <div id="informationCont">

      </div>
    </div>

    <div class="clear"></div>
  </div>

</div>