<div class="zoomControler">
  <div class="zoomIn"><span class="congtooltip" data-title="Zoom In" ><i class="icon-zoonIn cgIcon"></i></span></div>
  <div class="zoomOut"><span class="congtooltip" data-title="Zoom Out" ><i class="icon-zoomOut cgIcon"></i></span></div>
  <div class="fitScreen"><span class="congtooltip" data-title="Fit to screen" ><i class="icon-fitScreen cgIcon"></i></span></div>
</div>