<div class="zoomControler">
  <button class="zoomIn"><span class="congtooltip" data-title="Zoon In" ><i class="icon-zoonIn"></i></span></button>
  <button class="zoomOut"><span class="congtooltip" data-title="Zoom Out" ><i class="icon-zoomOut"></i></span></button>
  <button class="fitScreen"><span class="congtooltip" data-title="Fit to screen" ><i class="icon-fitScreen"></i></span></button>
</div>