<div class="zoomControler">
  <div class="zoomIn congtooltip" data-title="{{getString 'zoomIn'}}"><span class="zoomctrtool"><i class="icon-zoonIn"></i></span></div>
  <div class="fitScreen congtooltip" data-title="{{getString 'fitToScreen'}}" data-currstate="normalview"><span class="zoomctrtool"><i class="icon-fitScreen"></i></span></div>
  <div class="zoomOut congtooltip" data-title="{{getString 'zoomOut'}}"><span class="zoomctrtool"><i class="icon-zoomOut"></i></span></div>
  {{!-- <div class="reloadNote"><span class="congtooltip" data-title="{{getString 'reloadDoc'}}" ><i class="icon-reloadDoc cgIcon"></i></span></div> --}}
</div>
