<div class="zoomControler">
  <div class="zoomIn"><span class="congtooltip zoomctrtool" data-title="{{getString 'zoomIn'}}" ><i class="icon-zoonIn"></i></span></div>
  <div class="fitScreen"><span class="congtooltip zoomctrtool" data-title="{{getString 'fitToScreen'}}" ><i class="icon-fitScreen"></i></span></div>
  <div class="zoomOut"><span class="congtooltip zoomctrtool" data-title="{{getString 'zoomOut'}}" ><i class="icon-zoomOut"></i></span></div>
  {{!-- <div class="reloadNote"><span class="congtooltip" data-title="{{getString 'reloadDoc'}}" ><i class="icon-reloadDoc cgIcon"></i></span></div> --}}
</div>
